<%= form_for [:admin, @issue], :html =>{ :multipart => true } do |f| %>
  <%= show_errors @issue %>

  <%= render :partial => "/admin/shared/meta_info", :locals => {:meta_object => f} %>

  <p>
    <%= f.label :name %>
    <br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :exclude_from_result, "Exclude from Issues Index Page" %>
    <%= f.check_box :exclude_from_result %>
  </p>

  <fieldset class="form-field">
    <legend>Topics</legend>
    <table class="topics">
    <% @topics.each_slice(2) do |slice| %>
      <tr>
      <% slice.each do |topic| %>
        <td>
          <%= check_box_tag "issue_topic_ids_#{topic.id}", topic.id, @issue.has_topic?(topic), { name: "issue[topic_ids][]" } %>
          <%= label_tag "issue_topic_ids_#{topic.id}", topic.name %>
        </td>
      <% end %>
      </tr>
    <% end %>
    </table>
  </fieldset>

  <p>
    <%= f.label :type %>
    <% if @issue.id.present? %>
      <i><%= @issue.type %></i>
    <% else %>
      <%= f.select :type, Issue::ALL_TYPES %>
    <% end %>
  </p>

  <% if @issue.type == 'ManagedIssue' %>
    <p>
      <%= f.label :index %>
      <br />
      <%= f.collection_select :managed_issue_page_id, ManagedIssuePage.where(issue_id: @issue.id), :id, :name %>
    </p>
  <% end %>

  <fieldset class="form-field">
    <legend>Standard Banner Image</legend>
    <% if @issue.standard_banner_image.exists? %>
      <%= image_tag @issue.standard_banner_image.url(:normal) %>
    <% end %>
    <p>
    <%= f.label :standard_banner_image, "Attach an Image (looks best at 3:2 ratio)" %>
    <br />
    <%= f.file_field :standard_banner_image %>
    </p>
  </fieldset>

  <fieldset class="form-field">
    <legend>Panel Image</legend>
    <% if @issue.image.exists? %>
      <%= image_tag @issue.image.url(:normal) %>
    <% end %>
    <p>
    <%= f.label :image, "Attach an Image (looks best at 3:2 ratio)" %>
    <br />
    <%= f.file_field :image %>
    </p>
  </fieldset>

  <p>
    <%= f.label :index_summary %>
    <%= f.text_area :index_summary, :class => 'tinymce' %>
  </p>

  <p>
    <%= f.label :summary %>
    <%= f.text_area :summary, :class => 'tinymce' %>
  </p>

  <p>
    <%= f.label :url, "Reference URL" %>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label :url_title, "URL Title" %>
    <%= f.text_field :url_title %>
  </p>

  <p>
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code %>
  </p>

  <p>
    <%= f.label :client_name %>
    <%= f.text_field :sponsor_name %>
  </p>

  <p>
    <%= f.submit @issue.new_record? ? 'Create Issue' : 'Update Issue' %>
  </p>

  <script type="text/javascript">
    $().ready(function() {
      init_tiny_mce('.tinymce');
    });
  </script>
<% end %>
