%h2 Issues
%table.tablesorter{:summary => 'Listing of Issues in the Area'}
  %thead
    %tr
      %td Name
      %td Summary
      %td Managed?
      %td &nbsp;
      %td &nbsp;
  %tbody
    -@issues.each do |issue|
      %tr
        %td= link_to issue.name, admin_issue_path(issue)
        %td= truncate(Sanitize.clean(issue.summary), :length => 200, :separator => ' ')
        %td= issue.is_a?(ManagedIssue) ? link_to('Pages', admin_issue_pages_path(issue)) : nil
        %td= link_to 'Edit', edit_admin_issue_path(issue)
        %td= link_to 'Delete', admin_issue_path(issue), :confirm => "Are you sure?", :method => :delete

=link_to "Add Issue", new_admin_issue_path
|  
=link_to "Back", admin_root_path
