%h2 Issues
%table.issues.tablesorter{:summary => 'Listing of Issues in the Area'}
  %thead
    %tr
      %th
      %th ID
      %th Name
      %th Summary
      %th Order
      %th Managed?
      %th &nbsp;
      %th &nbsp;
  %tbody
    -@issues.each do |issue|
      %tr{ "data-issue-id" => issue.id }
        %td.handle &#11021;
        %td= issue.id
        %td= link_to issue.name, admin_issue_path(issue)
        %td= truncate(Sanitize.clean(issue.summary, :remove_contents => ['script']).strip, :length => 200, :separator => ' ')
        %td
          %span.text= issue.position
        %td= issue.is_a?(ManagedIssue) ? link_to('Pages', admin_issue_pages_path(issue)) : nil
        %td= link_to 'Edit', edit_admin_issue_path(issue)
        %td= link_to 'Delete', admin_issue_path(issue), :confirm => "Are you sure?", :method => :delete
=link_to "Add Issue", new_admin_issue_path
