<%
  if defined?(target)
    hsp = HPSlotPresenter.new(target)
  else
    hsp = HPSlotPresenter.new(nil)
  end
%>
<div class="t-img <%= slot_class %>">
  <%= link_to(hsp.url) do %>
    <% if defined?(hsp.image) %>
      <img src="<%= hsp.image %>" width=<%=width%> height=<%=height%> />
    <% else %>
      <img src="http://placehold.it/<%= width %>x<%= height %>"/>
    <% end %>
    <div>
      <p><%= hsp.title %></p>
    </div>
  <% end %>
</div>
