<div class="t-grid">
  <div class="t-col one">
    <%= render partial: '/homepage/hp_slot', locals: { slot_class: "med", target:@random_active_conversation.pop } %>
    <%= render partial: '/homepage/hp_slot', locals: { slot_class: "med", target:@random_issues.pop } %>
  </div>
  <div class="t-col two">
    <%= render partial: '/homepage/hp_slot', locals: { slot_class: "sm", target:@random_issues.pop } %>
    <%= render partial: '/homepage/hp_slot', locals: { slot_class: "sm", target:@random_recommended_conversation } %>
    <%= render partial: '/homepage/hp_slot', locals: { slot_class: "sm", target:@recent_blog_post.pop } %>
  </div>
  <div class="t-col three">
    <%= render partial: '/homepage/hp_slot', locals: { slot_class: "lrg", target:@staff_selected.pop } %>
    <%= render partial: '/homepage/hp_slot', locals: { slot_class: "sm one", target:@staff_selected.pop } %>
    <%= render partial: '/homepage/hp_slot', locals: { slot_class: "sm two", target:@recent_radio_show.pop } %>
  </div>
  <div class="t-col four">
    <%= render partial: '/homepage/hp_slot', locals: { slot_class: "med", target:@staff_selected.pop } %>
    <%= render partial: '/homepage/hp_slot', locals: { slot_class: "med", target:@random_most_recent_conversations.pop  } %>
  </div>
</div>

