<div class="t-grid">
  <div class="t-col one">
    <%= render partial: '/homepage/hp_slot', locals: {slot_class: "med", dimensions:"220x145", lower_third:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit."} %>
    <%= render partial: '/homepage/hp_slot', locals: {slot_class: "med", dimensions:"220x145", lower_third:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit."} %>
  </div>
  <div class="t-col two">
    <%= render partial: '/homepage/hp_slot', locals: {slot_class: "sm", dimensions:"140x90", lower_third:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit."} %>
    <%= render partial: '/homepage/hp_slot', locals: {slot_class: "sm", dimensions:"140x90", lower_third:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit."} %>
    <%= render partial: '/homepage/hp_slot', locals: {slot_class: "sm", dimensions:"140x90", lower_third:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit."} %>
  </div>
  <div class="t-col three">
    <%= render partial: '/homepage/hp_slot', locals: {slot_class: "lrg", dimensions:"300x200", lower_third:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit."} %>
    <%= render partial: '/homepage/hp_slot', locals: {slot_class: "sm one", dimensions:"140x90", lower_third:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit."} %>
    <%= render partial: '/homepage/hp_slot', locals: {slot_class: "sm two", dimensions:"140x90", lower_third:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit."} %>
  </div>
  <div class="t-col four">
    <%= render partial: '/homepage/hp_slot', locals: {slot_class: "med", dimensions:"220x145", lower_third:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit."} %>
    <%= render partial: '/homepage/hp_slot', locals: {slot_class: "med", dimensions:"220x145", lower_third:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit."} %>
  </div>
</div>

