<% content_for(:header) do %>
  <script type="text/javascript">
    $(document).ready(function(){
        $("#poll_module").load("<%= pa_link('poll_module.php', :silent => true).html_safe %>");
    });
  </script>
<% end %>

<div class="feature-mast">
  <div class="wrapper">
    <div class="content-container">
      <%= render :partial => '/articles/featured' %>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="content-container">
    <div class="main-content">
      <%= render :partial => '/conversations/conversation_pager' %>
    </div><!-- /.main-content -->
    <div class="aside supplementary">
      <div class="mod">
        <h3>Select a Region</h3>

        <div class="mod-content">
          <ul class='link-list'>
            <% @regions.each do |r| %>
              <% if r.default? %>
                <li><%=link_to r.name, "/regions/default"%></li>
              <% else %>
                <li><%=link_to r.name, r%></li>
              <%end%>
            <%end%>
          </ul>
        </div>
      </div>
      <div class="mod">
        <h3>Community Poll</h3>
        <div id="poll_module" class="mod-content">
        </div>
      </div>
    </div><!-- /.aside -->
  </div><!-- /.content-container -->
</div><!-- /.wrapper -->
