.wrapper
  %p.notice
  %p.alert
  - if @main_article.exists? && @sub_articles.exists?
    .content-container
      %h1
        = @main_article.title
      %h2
        = @main_article.author
      .main-content
        .feature
          .feat-callout
            %img{:src => @main_article.image.url(:mainfeature), :height => "225", :width => "300" }
          .feat-content
            = @main_article.description
          %a{:href => @main_article.link} Read The Article
        
      - @sub_articles.each do |article|
        .aside.supplementary
          %ol.conversations
            %li.article.offset-1
              %img{:src => article.image.url(:subfeature), :height => "60", :width=>"60", :class=>"callout" }
              %h3
                %a{:href => article.link}
                  = article.title
              %p
                = "By: #{article.author}"



#engaging-content.main.section
  .section.conversations
    .wrapper
      %h2
        Active Conversations
        %a.privileged(href="#") Manage
      - @most_visited_conversations.each do |conversation|      
        .article
          %p
            %a{:href =>"#{conversation_path(conversation)}", :title => conversation.title}
              %strong=conversation.title
            \&ndash;
            %span=conversation.summary
          %a.secondary.button{:href => "#{conversation_path(conversation)}"} Join
          %a.text.button{:href => "#{conversation_path(conversation)}", :title => "Active #{distance_of_time_in_words(Time.now, conversation.last_visit_date)} Ago"} Active #{distance_of_time_in_words(Time.now, conversation.last_visit_date)} Ago
  .section.activity

    %h2
      Highest Rated
      %a.privileged(href="#") Manage
    - @top_rated.each do |item|
      =render :partial => "top_"+item.class.to_s.downcase, :locals => { :item => item }
  .aside
    %h2 Upcoming Events
    .article
      %ul
        %li
          %a{:href => "#", :title => "Immigration Roundtable June 7 3:00 PM"} Immigration Roundtable
        %li.event-meta
          June 7 3:00 PM
        %li.event-meta
          Cleveland City Club
    .article
      %ul
        %li
          %a{:href => "#", :title => "Aiding the Oil Spill June 14 8:00 PM"} Aiding the Oil Spill
        %li.event-meta
          June 14 8:00 PM
        %li.event-meta
          Pelican Club
    .article
      %ul
        %li
          %a{:href => "#", :title => "Bringing High-Tech to Cleveland June 21 4:00 PM"} Bringing High-Tech to Cleveland
        %li.event-meta
          June 21 4:00 PM
        %li.event-meta
          LeanDog Software
