<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>
<script type="text/javascript">
  $(function() {
      $('.slideshow').cycle({
          fx:      'scrollHorz',
          timeout:  0,
          pager:   '.slideshow-nav',
      });
  });
</script>
<div class="feature-mast feature-mast-hero">
  <div class="wrapper">
    <div class="content-container slideshow">
      <div class="slideshow-container">
        <div class="mod fl-left">
          <div class="call-out call-out-lrg fl-left">
            <h2>Join a conversation</h2>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero. Ut metus. Phasellus pulvinar.</p>
          </div>
        </div>
        <div class="mod fl-left">
          <div class="call-out call-out-lrg fl-left">
            <h2>Take Action</h2>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero. Ut metus. Phasellus pulvinar.</p>
          </div>
        </div>
        <div class="mod fl-left mrn">
          <div class="call-out call-out-lrg fl-left">
            <h2>Reflect</h2>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero. Ut metus. Phasellus pulvinar.</p>
          </div>
        </div>
      </div><!-- /.slideshow-container -->
      <div class="slideshow-container hide">
        <div class="mod fl-left">
          <div class="call-out call-out-lrg fl-left">
            <h2>Join a conversation 2</h2>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero. Ut metus. Phasellus pulvinar.</p>
          </div>
        </div>
        <div class="mod fl-left">
          <div class="call-out call-out-lrg fl-left">
            <h2>Take Action 2</h2>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero. Ut metus. Phasellus pulvinar.</p>
          </div>
        </div>
        <div class="mod fl-left mrn">
          <div class="call-out call-out-lrg fl-left">
            <h2>Reflect 2</h2>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero. Ut metus. Phasellus pulvinar.</p>
          </div>
        </div>
      </div><!-- /.slideshow-container -->
      <div class="slideshow-container hide">
        <div class="mod fl-left">
          <div class="call-out call-out-lrg fl-left">
            <h2>Join a conversation 3</h2>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero. Ut metus. Phasellus pulvinar.</p>
          </div>
        </div>
        <div class="mod fl-left">
          <div class="call-out call-out-lrg fl-left">
            <h2>Take Action 3</h2>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero. Ut metus. Phasellus pulvinar.</p>
          </div>
        </div>
        <div class="mod fl-left mrn">
          <div class="call-out call-out-lrg fl-left">
            <h2>Reflect 3</h2>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero. Ut metus. Phasellus pulvinar.</p>
          </div>
        </div>
      </div><!-- /.slideshow-container -->
    </div><!-- /.slideshow -->
    <div class="slideshow-nav"></div>
  </div>
</div>

<div class="feature-mast">
  <div class="wrapper">
    <div class="content-container">
      <%= render :partial => '/homepage/hp_banner' %>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="content-container">
    <div class="main-content">
      <%= render :partial => 'layouts/create_conversation' %>
      <h3>Current Active Conversations</h3>
      <%= render :partial => '/conversations/conversation_pager' %>
    </div><!-- /.main-content -->
    <div class="aside supplementary">
      <%= render :partial => '/search/search' %>
      <%= render_recent_items_sidebar %>
      <%= render partial: 'blog/recent_blog_posts_sidebar', locals: { blog_posts: @recent_blog_posts } %>
    </div><!-- /.aside -->
  </div><!-- /.content-container -->
</div><!-- /.wrapper -->
