<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>
<script type="text/javascript">
  $(function() {
      $('.slideshow').cycle({
          fx:      'scrollHorz',
          timeout:  0,
          pager:   '.slideshow-nav',
      });
  });
</script>
<div class="feature-mast feature-mast-hero">
  <div class="wrapper">
    <div class="content-container slideshow">
      <div class="slideshow-container">
        <div class="mod fl-left">
          <div class="card">
            <h2>1. Join a conversation</h2>
            <div class="arrow_box">
              <p>Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero.</p>
            </div>
            <div class="media mtl">
              <img class="img" src="http://placehold.it/40x40" />
              <div class="bd">
                <strong>Joe Test</strong><br />
                Cleveland Clinic
              </div>
            </div>
          </div>
        </div>
        <div class="mod fl-left">
          <div class="card">
            <h2>2. Take Action</h2>
            <h4 class="mbm">Congress Should Intervene&hellip; Stop the Fracking!</h4>
            <div class="recent-item">
              <p class="bd">This petition will be mailed to Mayor Jackson at Cleveland City Hall with all the signatures attached on February 2, 2012.</p>
            </div>
            <a href="#" class="button">Sign the Petition</a> or <a href="#">Read the Petition</a>
          </div>
        </div>
        <div class="mod fl-left mrn">
          <div class="card">
            <h2>3. Reflect</h2>
            <div class="media mbm">
              <img class="img" src="http://placehold.it/40x40" />
              <div class="bd">
                <strong>Dr. Jeffrey Dick</strong>
              </div>
            </div>
            <div class="recent-item">
              <p class="bd">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci.</p>
            </div>
            <a href="#">Continue Reading</a>
          </div>
        </div>
      </div><!-- /.slideshow-container -->
      <div class="slideshow-container hide">
        <div class="mod fl-left">
          <div class="card">
            <h2>Join a conversation 2</h2>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero. Ut metus. Phasellus pulvinar.</p>
          </div>
        </div>
        <div class="mod fl-left">
          <div class="card">
            <h2>Take Action 2</h2>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero. Ut metus. Phasellus pulvinar.</p>
          </div>
        </div>
        <div class="mod fl-left mrn">
          <div class="card">
            <h2>Reflect 2</h2>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero. Ut metus. Phasellus pulvinar.</p>
          </div>
        </div>
      </div><!-- /.slideshow-container -->
      <div class="slideshow-container hide">
        <div class="mod fl-left">
          <div class="card">
            <h2>Join a conversation 3</h2>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero. Ut metus. Phasellus pulvinar.</p>
          </div>
        </div>
        <div class="mod fl-left">
          <div class="card">
            <h2>Take Action 3</h2>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero. Ut metus. Phasellus pulvinar.</p>
          </div>
        </div>
        <div class="mod fl-left mrn">
          <div class="card">
            <h2>Reflect 3</h2>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero. Ut metus. Phasellus pulvinar.</p>
          </div>
        </div>
      </div><!-- /.slideshow-container -->
    </div><!-- /.slideshow -->
    <div class="slideshow-nav"></div>
  </div>
</div>

<div class="feature-mast">
  <div class="wrapper">
    <div class="content-container">
      <%= render :partial => '/homepage/hp_banner' %>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="content-container">
    <div class="main-content">

      <div class="three-col-sm mbs">
        <div class="cols tmp-title">
          <h4><%= link_to "More Recent", conversations_filter_url(:recent) %></h4>
        </div>
        <div class="cols tmp-title">
          <h4><%= link_to "More Active", conversations_filter_url(:active) %></h4>
        </div>
        <div class="cols tmp-title">
          <h4><%= link_to "More Popular", conversations_filter_url(:popular) %></h4>
        </div>
      </div>
      <div class="three-col-sm">
        <%= render partial: '/conversations/conversation_hp_panel', locals: {conversation: @most_recent_conversation.first} if @most_recent_conversation.first.present? %>
        <%= render partial: '/conversations/conversation_hp_panel', locals: {conversation: @most_active_conversation.first} if @most_active_conversation.first.present? %>
        <%= render partial: '/conversations/conversation_hp_panel', locals: {conversation: @most_popular_conversation.first} if @most_popular_conversation.first.present? %>
      </div>
      <div class="media">
        <img class="img mrl" src="http://placehold.it/220x165" />
        <div class="bd">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis.</p>
          <p><a href="#">Continue reading</a> or <a href="#">Read past posts</a></p>
        </div>
      </div>

    </div><!-- /.main-content -->

    <div class="aside supplementary">
      <%= render_recent_items_sidebar %>
      <%= render partial: 'blog/recent_blog_posts_sidebar', locals: { blog_posts: @recent_blog_posts } %>
    </div><!-- /.aside -->
  </div><!-- /.content-container -->
</div><!-- /.wrapper -->
