<div class="feature-mast">
  <div class="wrapper">
    <div class="content-container">
      <%= render :partial => '/homepage/hp_banner' %>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="content-container">
    <div class="main-content">
      <%= render :partial => 'layouts/create_conversation' %>
      <h3>Current Active Conversations</h3>
      <%= render :partial => '/conversations/conversation_pager' %>
    </div><!-- /.main-content -->
    <div class="aside supplementary">
      <%= render :partial => '/search/search' %>
      <%= render_recent_items_sidebar %>
      <% blog_posts = ContentItem.where(content_type: 'BlogPost').order('published DESC').limit(3) %>
      <%= render partial: 'blog/recent_blog_posts_sidebar', locals: { blog_posts: blog_posts } %>
      <%= render :partial => '/regions/index' %>
    </div><!-- /.aside -->
  </div><!-- /.content-container -->
</div><!-- /.wrapper -->
