<div class="feature-mast">
  <div class="wrapper">
    <div class="content-container">
      <%= render :partial => '/articles/featured' %>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="content-container">
    <div class="main-content">
      <%= render :partial => 'layouts/create_conversation' %>
      <h3>Current Active Conversations</h3>
      <%= render :partial => '/conversations/conversation_pager' %>
    </div><!-- /.main-content -->
    <div class="aside supplementary">
      <%= render_recent_items_sidebar %>
      <%= render :partial => '/regions/index' %>
    </div><!-- /.aside -->
  </div><!-- /.content-container -->
</div><!-- /.wrapper -->
