<div class='invite-form'>
  <h1>Invite a Friend</h1>
  <p>
  Who do you want to invite to join this conversation? Just list email addresses one per line and we’ll send out the invitations. If you’d like us to send one to you, too, just add yours to the list.
  </p>
  
  <%= form_for(@invite,:remote => request.xhr?,:html => { :id => 'invite-form'}) do |f| %>
  <div class="validation-error"></div>
  
    <% if @invite.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@invite.errors.count, "error") %> prohibited this invite to be sent:</h2>
        <ul>
        <% @invite.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <fieldset class="form-block">
      <%= f.label :emails %>
      <%= f.text_area :emails, :rows => 10 %>      
      <%= f.hidden_field :source_type %>
      <%= f.hidden_field :source_id %>
    </fieldset>
    <fieldset class="footer">
      <%= f.submit from_conversation_create_page? ? 'Send Invitations' : 'Send' %>
    </fieldset>
  <% end %>
</div>
