%li
  %div
    - if contribution
      .article.comment
        %a{:name=>"#post#{contribution.id}"}
        .meta
          .comment-type{:class=>contribution.official ? "" : "unofficial"}
            - "Official" if contribution.official
          %img{:alt=>" [#{contribution.person.name} image] ", :height => 25, :width => 25, :src=>"#{contribution.person.avatar_url(:small)}"}
        %p
          -if contribution.person
            %a{:href=>person_path(contribution), :title=>"#{contribution.person.name}'s Profile"}
              %strong= contribution.person.name
          -else
            %strong= 'An unknown person'
          - tmp = format_time(contribution.datetime)
          %span.action suggested an action at #{link_to(tmp, contribution_path(contribution))}
        %p.content= contribution.content
        %div.action-bar
          - if person_signed_in?
            %a.rating.float-right(href="#" title="Rate this contribution")=format_rating(contribution)
            = link_to("Respond", {:action => "new_node_contribution", :contribution_id => contribution.id, :id => contribution.conversation_id, :div_id => "contribution-#{contribution.id}"}, :class => "text conversation-action", :id => "action-link-#{contribution.id}", :title => "Leave a comment here", 'data-target' => "#action-div-#{contribution.id}", :remote => true)
        %div{:clear => 'both'}
        %ul.thread-list
          .comment-contribution-action(id="action-div-#{contribution.id}")
          = display_direct_descendant_subset(@top_level_contribution, contribution.id)