%li.offset-1
  %div.top-level-contribution.contribution-container
    - if contribution
      .callout
        = contribution_profile(contribution.person).html_safe
      %div.article.comment.top-level-contribution
        %a{:name=>"#post#{contribution.id}"}
        %div.content
          %span.contribution-person-name= person_display_name(contribution.person)
          =auto_link(simple_format(contribution.content))
        %div{:class => "convo-utility #{contribution.descendants_count > 0 ? 'response' : 'no-response'}"}
          %p.respond-link
            - if contribution.descendants_count > 0
              = link_to(pluralize(contribution.descendants_count,'Response'), {:action => "node_conversation", :id => contribution.id, :div_id => "contribution-#{contribution.id}"}, :class => "text conversation-responses", :id => "action-link-#{contribution.id}", :title => "View the conversation", 'data-target' => "#thread-div-#{contribution.id}", :remote => true)
            - else
              %span.conversation-responses No Responses
          .respond-container
            /=render(:partial => 'conversations/contributions/rating', :locals => {:contribution => contribution})
            %p.respond
              = link_to( (contribution.descendants_count > 0 ? "Respond" : "Be the first to respond" ), {:action => "new_node_contribution", :contribution_id => contribution.id, :id => contribution.conversation_id, :div_id => "contribution-#{contribution.id}"}, :class => "text conversation-action top-level-contribution-action-button", :id => "action-link-#{contribution.id}", :title => "Leave a comment here", 'data-target' => "#action-div-#{contribution.id}")
        %ol.conversations.divided.thread-list
          .top-level-contribution-action(id="action-div-#{contribution.id}")
          .contribution-thread-div(id="thread-div-#{contribution.id}")
