%li
  %div
    - if contribution
      .article.comment.top-level-contribution
        %a{:name=>"#post#{contribution.id}"}
        .meta
          .comment-type{:class=>contribution.official ? "" : "unofficial"}
            - "Official" if contribution.official
          %img{:alt=>" [#{contribution.person.name} image] ", :height => 25, :width => 25, :src=>"#{contribution.person.avatar_url(:small)}"}
          %br
          %br
          = format_time_only(contribution.created_at)
        %p
          -if contribution.person
            %a{:href=>person_path(contribution), :title=>"#{contribution.person.name}'s Profile"}
              %strong= contribution.person.name
          -else
            %strong= 'An unknown person'
          %span.action commented:
        %p.content= contribution.content
        %div.action-bar
          %a.rating.float-right(href="#" title="Rate this contribution")=format_rating(contribution)
          - if person_signed_in?
            = link_to((contribution.children.size == 0 ? "Be the first to respond": "View conversation (#{contribution.descendants_count})"), {:action => "node_conversation", :id => contribution.id, :div_id => "contribution-#{contribution.id}"}, :class => "text conversation-action show-conversation-button", :id => "action-link-#{contribution.id}", :title => "View the conversation", 'data-target' => "#action-div-#{contribution.id}", :remote => true)
        %div{:clear => 'both'}
        %ul.thread-list#man-dude
          .top-level-contribution-action(id="action-div-#{contribution.id}")
