%li.offset-1
  %div.top-level-contribution
    - if contribution
      .callout
        = contribution_profile(contribution.person).html_safe
        %p.time-stamp= format_time_only(contribution.created_at)
      %p.article.comment.top-level-contribution
        %a{:name=>"#post#{contribution.id}"}
        %p
          -if contribution.person
            %strong
              %a{:href=>person_path(contribution), :title=>"#{contribution.person.name}'s Profile"}
                = contribution.person.name
          -else
            %strong= 'An unknown person'
          commented:
        %p.content= auto_link(contribution.content)
        %div.convo-utility.no-response
          %p.respond-link
            = link_to((contribution.children.size == 0 ? "Be the first to respond": pluralize(contribution.descendants_count,'Response')), {:action => "node_conversation", :id => contribution.id, :div_id => "contribution-#{contribution.id}"}, :class => "text conversation-action show-conversation-button", :id => "action-link-#{contribution.id}", :title => "View the conversation", 'data-target' => "#action-div-#{contribution.id}", :remote => true)
          %p.rating
            %a.rate-comment{:title => "Rate this contribution", :href => "#", :onclick => "$('#rate-form-#{contribution.id}').slideDown(); return false;"}
              =format_rating(contribution)
          .rate-form-container(id="rate-form-#{contribution.id}")
            =render(:partial => 'conversations/rate_contribution_form', :locals => {:contribution => contribution})
        %ol.conversations.divided.thread-list.top-level-contribution-action(id="action-div-#{contribution.id}")
