%li.offset-1
  %div.top-level-contribution
    - if contribution
      .callout
        = contribution_profile(contribution.person).html_safe
      %div.article.comment.top-level-contribution
        %a{:name=>"#post#{contribution.id}"}
        %p
          -if contribution.person
            %strong
              = text_profile(contribution.person).html_safe
          -else
            %strong= 'An unknown person'
          commented:
        %p.content= auto_link(contribution.content)
        - if contribution.descendants_count == 0
          %div.convo-utility.no-response
            %p.respond-link
              = link_to("Be the first to respond", {:action => "node_conversation", :id => contribution.id, :div_id => "contribution-#{contribution.id}"}, :class => "text conversation-action show-conversation-button", :id => "action-link-#{contribution.id}", :title => "View the conversation", 'data-target' => "#action-div-#{contribution.id}", :remote => true)
            .rating-container
              =render(:partial => 'conversations/contributions/rating', :locals => {:contribution => contribution})
        - else
          %div.convo-utility.response
            %p.respond-link
              = link_to(pluralize(contribution.descendants_count,'Response'), {:action => "node_conversation", :id => contribution.id, :div_id => "contribution-#{contribution.id}"}, :class => "text conversation-action show-conversation-button", :id => "action-link-#{contribution.id}", :title => "View the conversation", 'data-target' => "#action-div-#{contribution.id}", :remote => true)
            .rating-container
              =render(:partial => 'conversations/contributions/rating', :locals => {:contribution => contribution})
        %ol.conversations.divided.thread-list.top-level-contribution-action(id="action-div-#{contribution.id}")
