<p>
  <b>Survey Type(Vote or Poll):</b>
  <%= @survey.type %>
</p>

<p>
  <b>Title:</b>
  <%= @survey.title %>
</p>

<p>
  <b>Description:</b>
  <%= @survey.description %>
</p>

<p>
  <b>Start Date:</b>
  <%= @survey.start_date && @survey.start_date.to_s(:long) %>
</p>

<p>
  <b>End Date:</b>
  <%= @survey.end_date && @survey.end_date.to_s(:long) %>
</p>

<p>
  <b>Max Selected Options:</b>
  <%= @survey.max_selected_options %>
</p>

<p>
  <b>Show Progress:</b>
  <%= !!@survey.show_progress %>
</p>