<%= form_for([:admin,@survey]) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this admin_survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :surveyable_type, "surveyable_type" %><br />
    <%= f.select :surveyable_type, SurveyOption::SURVEYABLE_TYPES, :prompt => 'select one...'%>
  </div>
  <div class="field">
    <%= f.label :surveyable_id, "surveyable_id" %><br />
    <%= f.text_field :surveyable_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <h2>Survey Options:</h2>
  <%= f.fields_for :options do |option| %>
    <div class = 'survey-option'>
      <div class="field">
        <%= option.label :title, 'Option Title' %><br />
        <%= option.text_field :title %>
      </div>
      <div class="field">
        <%= option.label :description, 'Option Description' %><br />
        <%= option.text_area :description, :rows => 3, :cols => 50 %>
      </div>
      <div class="field">
        <%= option.label :position, "Option Position" %><br />
        <%= option.text_field :position %>
      </div>
      <% unless option.object.new_record? %>
        <div class="field">
          <%= option.label '_destroy', 'Delete' %><br />
          <%= option.check_box '_destroy'%>
        </div>
      <% end %>
      <%= option.hidden_field :nested %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
