<h1>Listing surveys</h1>

<table>
  <tr>
    <th>Surveyable(Type-id)</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @surveys.each do |survey| %>
  <tr>
    <td><%= "#{survey.surveyable_type}-#{survey.surveyable_id}"  %></td>
    <td><%= survey.title %></td>
    <td><%= survey.description %></td>
    <td><%= link_to 'Show', admin_survey_path(survey) %></td>
    <td><%= link_to 'Edit', edit_admin_survey_path(survey) %></td>
    <td><%= link_to 'Destroy', admin_survey_path(survey), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Survey', new_admin_survey_path %>
