%h2 Surveys
%table.surveys.tablesorter(summary="List of Surveys") 
  %thead  
    %tr
      %th ID
      %th Title
      %th Attached to(Surveyable)
      %th Start Date
      %th End Date
      %th Show progress?
      %th Ended?
      %th CCML Widget
      %th(colspan="2") Actions
  %tbody
    - @surveys.each do |survey|
      %tr
        %td= survey.id
        %td= link_to truncate(survey.title), admin_survey_path(survey), :title=> survey.title
        %td= "#{survey.surveyable_type} #{survey.surveyable_id}"
        %td= survey.start_date && survey.start_date.strftime("%m-%d-%Y")
        %td= survey.end_date && survey.end_date.strftime("%m-%d-%Y")
        %td= survey.show_progress ? 'yes' : 'no'
        %td= survey.expired? ? 'yes' : 'no'
        %td{:title=>'Copy and paste this into managed issue page'}= "{ccml:#{survey.type.downcase} id='#{survey.id}'}"
        %td= link_to "Edit", edit_admin_survey_path(survey)
        %td= link_to "Delete", admin_survey_url(survey), :method => :delete, :confirm => "Are you sure?"

%br
= link_to 'Add Survey', new_admin_survey_path