<h1>Showing survey</h1>
<p id="notice"><%= notice %></p>
<p>
  <b>Survey Type(Vote or Poll):</b>
  <%= @survey.type %>
</p>

<p>
  <b>Title:</b>
  <%= @survey.title %>
</p>

<p>
  <b>Description:</b>
  <%= @survey.description %>
</p>

<p>
  <b>Start Date:</b>
  <%= @survey.start_date && @survey.start_date.to_s(:long) %>
</p>

<p>
  <b>End Date:</b>
  <%= @survey.end_date && @survey.end_date.to_s(:long) %>
</p>

<p>
  <b>Max Selected Options:</b>
  <%= @survey.max_selected_options %>
</p>

<p>
  <b>Show Progress:</b>
  <%= !!@survey.show_progress %>
</p>


<div class="survey-options">
  <% @survey.options.position_sorted.each_with_index do |option, index| %>
    <h2>Option <%= index+1 %></h2>
    <p>
      <b>Title:</b>
      <%= option.title %>
    </p>
    <p>
      <b>Description:</b>
      <%= option.description %>
    </p>
    <p>
      <b>Position:</b>
      <%= option.position %>
    </p>
    
  <% end %>
</div>


<%= link_to 'Edit', edit_admin_survey_path(@survey) %> |
<%= link_to 'Back', admin_surveys_path %>
