.wrapper
  .content-container
    .main-content
      %h1 Login
      %p.validation-error
        - flash.each do |name, msg|
          = msg
      .mod.inset.form-inset
        %p
          %strong Did you register with Facebook?
        %p
          %a{:class => "fb-login-btn", :href => "https://theciviccommons.com/people/auth/facebook", :title => "Login with Facebook"} Login with Facebook
      %p
        %strong If not, login with your username and password:
      = form_for(resource, :as => resource_name, :url => secure_session_url(resource_name)) do |f|
        %fieldset.form-group.top-align
          .form-block
            = f.label :email, 'Email:'
            = f.text_field :email, :placeholder => "me@johnnyappleseed.com", :class => 'textbox small'
          .form-block
            = f.label :password, 'Password:'
            = f.password_field :password, :class => 'textbox small'
          .form-block
            = f.check_box :remember_me, :class => 'checkbox'
            = f.label :remember_me, 'Remember me on this computer', :class => 'checkbox'
        %fieldset.footer.top-align
          = f.submit 'Login', :class => 'submit'
          %a.cancel{ :href => new_password_url(resource_name),
                     :title => "Forgot your Password?" } Forgot your password?
