<% content_for :header do %>
  <%= auto_discovery_link_tag(:rss, "http://feeds.theciviccommons.com/civiccommonsradio", { :title => "The Civic Commons Radio Show" } ) %>
<% end %>

<% content_for :main_body do %>
  <div class="wrapper">

    <div class="content-container">
      <h1>The Civic Commons Radio Show</h1>
      <%= render partial: 'description' %>
    </div>

    <div class="content-container">

      <div class="main-content">
        <%- @radioshows.each do |radioshow| %>
          <%= render partial: 'radioshow_panel', locals: {radioshow: radioshow} %>
        <%- end %>
        <%= will_paginate @radioshows, :inner_window => 3, :previous_label => "Previous", :next_label => "Next" %>
      </div>

      <div class="aside supplementary">
        <%= render :partial => '/search/search', locals: { filter_type: 'radioshows' } %>
        <%= render_radioshow_topics_sidebar %>
        <%= render partial: 'blog/recent_blog_posts_sidebar', locals: { blog_posts: @recent_blog_posts } %>
      </div>
    </div>
  </div>
<% end %>
