<% content_for :header do %>
  <%= auto_discovery_link_tag(:rss, "http://feeds.theciviccommons.com/civiccommonsradio", { :title => "The Civic Commons Radio Show" } ) %>
<% end %>

<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <h1><%= link_to 'The Civic Commons Radio Show', radioshow_index_path %></h1>
      <div class="in-the-news-post"></div>

      <div class="main-content">

        <%= render partial: 'radioshow/description' %>

        <div class="radioshow" id="outer_block_1"> 
          <h2><%= @radioshow.title %></h2>
          <div class='radioshow_inner'> 
            <p class="convo-meta"><%= render :partial => 'shared/facebook_like' %></p>
            <p class="convo-meta"><%= render :partial => 'shared/twitter_share', locals: { title: @radioshow.title} %></p>
            <div class="body"><%= raw @radioshow.body %></div>
            <p>&nbsp;</p>
            <p>Aired on <%= @radioshow.published.strftime('%B %d, %Y') %></p> 
          </div>
          <%= render partial: 'radioshow/embed', radioshow: @radioshow %>

        </div>

        <div>&nbsp;</div>

        <% if @radioshow.conversation %>
          <h2>Join the conversation about this radioshow</h2>
          <div class="three-col-sm">
            <%= render :partial => 'conversations/conversation_tile', locals: { conversation: @radioshow.conversation } %>
          </div>
        <% else %>
          <h2>Start a conversation about this radio show</h2>
          <%= render partial: 'conversations/short_form', locals: { url: start_conversation_from_radioshow_path(@radioshow) } %>
        <% end %>

      </div>

      <div class="aside supplementary">

        <div class="mod" id="TwitterProfileModule">
          <%= render :partial => 'shared/twitter_profile_widget', :locals => { :twitter_username => 'CivicCommons' } %>
        </div>
      
        <div>&nbsp;</div>
        <% if @radioshow.conversation %>
          <% @recent_items = Activity.most_recent_activity_for_conversation(@radioshow.conversation, 5) %>
          <%= render_recent_items_sidebar %>
        <% end %>

        <div>&nbsp;</div>
        <style type='text/css'>a.soundcloud-badge:hover {background-position: bottom left !important;} *html a.soundcloud-badge {background-image: none !important; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='(http://a1.sndcdn.com/images/badges/imonsc/square/white.png?0ce1d7f)', sizingMethod='crop') !important;}</style><!-- if you want to have valid HTML, please be so kind and put the style part in the head of your page --><a href='http://soundcloud.com/theciviccommons' style='text-align: left; display: block; margin: 0 auto; width: 160px; height: 92px; font-size: 11px; padding: 68px 0 0 0; background: transparent url(http://a1.sndcdn.com/images/badges/imonsc/square/white.png?0ce1d7f) top left no-repeat; color: #2681C5; text-decoration: none; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; line-height: 1.3em; text-align: center; outline: 0;' class='soundcloud-badge'>http://soundcloud.com<span style="display: block; width: 137px; height: 20px; margin: 0px 0 0 12px; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis">The Civic Commons</span></a>

      </div>

    </div>
  </div>
<% end %>
