<% content_for :header do %>
  <%= auto_discovery_link_tag(:rss, "http://feeds.theciviccommons.com/civiccommonsradio", { :title => "The Civic Commons Radio Show" } ) %>
<% end %>

<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <h1><%= @radioshow.title %></h1>
      <p class="subtitle">
        <%= pluralize_without_count @radioshow.topics.size, "Topic" %>:
        <%= raw(topics_list_for @radioshow) %>
      </p>
    </div>
    <div class="content-container">
      <div class="main-content">

        <%= image_tag @radioshow.image.url(:panel), :alt => @radioshow.title, :height => 130, :width => 198, :class => 'float' %>
        <%= raw @radioshow.body %>

        <div class="radioshow">
          <div class='radioshow_inner'>
            <p class="convo-meta"><%= render :partial => 'shared/facebook_like' %></p>
            <p class="convo-meta"><%= render :partial => 'shared/twitter_share', locals: { title: @radioshow.title} %></p>
            <h4>Aired on <%= @radioshow.published.strftime('%B %d, %Y') %></h4>
          </div>

          <%= render partial: 'radioshow/embed', radioshow: @radioshow %>

          <p style="font-style:italic; margin-top:20px;">
            Copyright &copy; <%= @radioshow.published.strftime('%Y') %> The Civic Commons; available under the
            <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike License</a>.
          </p>

        </div>

        <div>&nbsp;</div>

        <h2>Respond to the show</h2>
        
        <div class="convo-create">
          <p>It's your <strong>Civic Commons</strong>, so you get to start a conversation about <em><%= @radioshow.title %></em></p>
          <%= link_to "Start a Conversation from this Radio Show", responsibilities_radioshow_conversations_path(@radioshow), :class => 'convo-create-btn' %>
        </div>
        
        <%= render :partial => 'conversations/conversation_band', locals: { conversations: @radioshow.conversations } %>
        
      </div>

      <div class="aside supplementary">

        <%= render :partial => '/search/search', locals: { filter_type: 'radioshows' } %>

        <div class="mod">
          <%= radioshow_hosts(@radioshow) %>
          <%= radioshow_guests(@radioshow) %>
        </div>
        <div class="mod">
          <h3>The Civic Commons Radio Show:</h3>
          <p>
            <%= raw @radioshow_description.description_short unless @radioshow_description.blank? %>
          </p>
          <%= render partial: 'media_buttons' %>
        </div>

        <div>&nbsp;</div>

        <% if @radioshow.links.count > 0 %>
          <div class="recent-item">
            <h3>Show Links:</h3>
            <%= render :partial => '/radioshow/link', :collection  =>  @radioshow.links %>
          </div>
        <% end %>

        <% if @radioshow.conversation_ids.length > 0 %>
          <% @recent_items = Activity.most_recent_activity_items_for_conversations(@radioshow.conversation_ids, 5) %>
          <%= render_recent_items_sidebar %>
        <% end %>

      </div>

    </div>
  </div>
<% end %>
