<%
  submit_value = 'Update ' + @filter + ' Descriptions'
  if @content_item_description.new_record?
    url = { :action => "create_description" }
  else
    url = { :action => "update_description", :id => @content_item_description.id }
  end
%>
<%= form_for [:admin, @content_item_description], url: url do |form| %>
  <% if @content_item_description.errors.any? %>
    <div id="error_explanation">
      <h2>
        It looks like we’re still missing some important information:
      </h2>
      <ul>
        <% @content_item_description.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :content_type, :value => @filter %>

  <p>
    <%= form.label :description_short %><br />
    <%= form.text_area :description_short, :class => 'tinymce' %>
  </p>

  <p>
    <%= form.label :description_long %><br />
    <%= form.text_area :description_long, :class => 'tinymce' %>
  </p>

  <%= form.submit :value => submit_value %>
<% end %>

<script type="text/javascript">
  $().ready(function() {
    init_tiny_mce('.tinymce');
  });
</script>
