<h1>Search</h1>
  <%= form_for @search do |f| %>
    <%= f.label "First name contains:" %>
    <%= f.text_field :first_name_contains %><br />
    <%= f.label "Last name contains:" %>
    <%= f.text_field :last_name_contains %><br />
    <%= f.submit %>
  <% end %>

<h1>Listing people</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email address</th>
    <th>Validated</th>
    <th>Top (Spotlight)</th>
    <th>Admin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.first_name %></td>
    <td><%= person.last_name %></td>
    <td><%= person.email %></td>
    <td><%= person.validated %></td>
    <td><%= person.top %></td>
    <td><%= person.admin %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
