<div class="wrapper">
  <div class="content-container">

    <div class="main-content">
      <div class="mbl">
        <h2 class="mtn"><%= @petition.title %></h2>
        <p class="contribution-person-name"> By: <%= text_profile(@petition.creator) %> on <%= @petition.end_on.to_s(:long) %></p>
        <%= raw sanitize @petition.description %>
        <p class="alert alert-notification">
          <strong><%= @petition.resulting_actions %></strong>
        </p>
      </div>
      <!-- Card # 422 - Ability to View Signatures of a Petition
      <h3>Signatures</h3>
      <div class="photobank">
        <a href="http://localhost:3000/user/dan-moulthrop" title="Dan Moulthrop"><img alt="Dan Moulthrop" class="callout" height="50" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/9/standard/moulthrop3.jpg?1321371530" title="Dan Moulthrop" width="50" /></a>
        <a href="http://localhost:3000/user/nancy-reeves" title="Nancy Reeves"><img alt="Nancy Reeves" class="callout" height="50" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/893/standard/MS150.jpg?1304999301" title="Nancy Reeves" width="50" /></a>
        <a href="http://localhost:3000/user/jason-russell" title="Jason Russell"><img alt="Jason Russell" class="callout" height="50" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/7/standard/40480_575128640526_9501810_34190630_6862985_n.jpg?1288707534" title="Jason Russell" width="50" /></a>
        <a href="http://localhost:3000/user/angie-schmitt" title="Angie Schmitt"><img alt="Angie Schmitt" class="callout" height="50" src="/images/avatar_70.gif?1329490077" title="Angie Schmitt" width="50" /></a>
        <a href="http://localhost:3000/user/jason-segedy" title="Jason Segedy"><img alt="Jason Segedy" class="callout" height="50" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/31/standard/jason-segedy.jpg?1289706219" title="Jason Segedy" width="50" /></a>
        <a href="http://localhost:3000/user/mike-shafarenko" title="Mike Shafarenko"><img alt="Mike Shafarenko" class="callout" height="50" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/40/standard/CIVCOM.jpg?1300234665" title="Mike Shafarenko" width="50" /></a>
        <a href="http://localhost:3000/user/daryl-rowland" title="Daryl Rowland"><img alt="Daryl Rowland" class="callout" height="50" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/934/standard/D and Tut.jpg?1308676625" title="Daryl Rowland" width="50" /></a>
        <a href="http://localhost:3000/user/lia-lockert" title="Lia Lockert"><img alt="Lia Lockert" class="callout" height="50" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/10/standard/liapic.png?1290099735" title="Lia Lockert" width="50" /></a>
        <a href="http://localhost:3000/user/ryan-noles" title="Ryan Noles"><img alt="Ryan Noles" class="callout" height="50" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/34/standard/n49601497_30591387_7676.jpg?1289571401" title="Ryan Noles" width="50" /></a>
        <a href="http://localhost:3000/user/jill-miller-zimon--2" title="Jill Miller Zimon"><img alt="Jill Miller Zimon" class="callout" height="50" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/100/standard/100_2344_3.jpg?1327181077" title="Jill Miller Zimon" width="50" /></a>
        <a href="http://localhost:3000/user/george-carr" title="George Carr"><img alt="George Carr" class="callout" height="50" src="https://graph.facebook.com/1504322212/picture" title="George Carr" width="50" /></a>
        <a href="http://localhost:3000/user/taryn-gress" title="Taryn Gress"><img alt="Taryn Gress" class="callout" height="50" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/744/standard/Taryn Hike .jpg?1304727949" title="Taryn Gress" width="50" /></a>
        <a href="http://localhost:3000/user/kate-klonowski" title="Kate Klonowski"><img alt="Kate Klonowski" class="callout" height="50" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/667/standard/2011-02-04 13.57.17(1).jpg?1302508270" title="Kate Klonowski" width="50" /></a>
        <a href="http://localhost:3000/user/dan-stefancik" title="Dan Stefancik"><img alt="Dan Stefancik" class="callout" height="50" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/209/standard/SANY0102.JPG?1290202267" title="Dan Stefancik" width="50" /></a>
        <a href="http://localhost:3000/user/civic-cynthia" title="Civic Cynthia"><img alt="Civic Cynthia" class="callout" height="50" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/1/standard/blue-blank.png?1289794672" title="Civic Cynthia" width="50" /></a>
        <a href="http://localhost:3000/user/arlin-j-wallace" title="Arlin J. Wallace"><img alt="Arlin J. Wallace" class="callout" height="50" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/807/standard/IMG_0030.jpg?1302825526" title="Arlin J. Wallace" width="50" /></a>
        <a href="http://localhost:3000/user/emily-cole" title="Emily Cole"><img alt="Emily Cole" class="callout" height="50" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/1539/standard/ESC photo.jpg?1326211655" title="Emily Cole" width="50" /></a>
        <a href="http://localhost:3000/user/anastasia-pantsios" title="Anastasia Pantsios"><img alt="Anastasia Pantsios" class="callout" height="50" src="/images/avatar_70.gif?1329490077" title="Anastasia Pantsios" width="50" /></a>
        <a href="http://localhost:3000/user/peter-comings" title="Peter Comings"><img alt="Peter Comings" class="callout" height="50" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/449/standard/Current Photo.jpeg?1301565161" title="Peter Comings" width="50" /></a>
        <a href="http://localhost:3000/user/marc-canter" title="Marc Canter"><img alt="Marc Canter" class="callout" height="50" src="http://api.twitter.com/1/users/profile_image/marccanter4real" title="Marc Canter" width="50" /></a>
      </div>
      -->
    </div><!-- /.main-content -->

    <div class='aside supplementary'>
      <% if signed_in? && (@petition.votable? && !@petition.signed_by?(current_person)) %>
        <div class="mod">
          <div class="btn-group btn-group-large">
            <%= link_to 'Sign the Petition', sign_conversation_petition_path(@conversation, @petition), :class => 'button btn-large modal-launch' %>
          </div>
        </div>
      <% end %>
      <% if flash[:petition_notice] %>
        <div class="alert alert-success">
          <%= raw flash[:petition_notice] %>
        </div>
      <% end %>

      <!-- Card#421 Ability to View Summary Count of Signatures 
      <div class="recent-item">
        <div class="bd">
          <h5 class="vente"><span class="grande">236</span> out of 250</h5>
          <p>14 more signatures needed before Jan 31, 2012</p>
          <div id="contribution-4142" class="dnld document">
            <p><strong><a href="#">Download the petition</a></strong></p>
          </div>       
        </div>
      </div>
      -->
      <div class="recent-item">
        <div class="offset-2">
          <%= member_profile(@petition.creator) %>
          <p><strong><%= text_profile(@petition.creator) %></strong><br />
          <%= link_to 'View Profile', user_path(@petition.creator) %>
        </div>
      </div>
    </div><!-- /.aside -->


  </div>
  <script type="text/javascript">
    $(document).ready(function(){
    	$('a.modal-launch').colorbox({href:'<%= sign_conversation_petition_path(@conversation, @petition) %>', width:'400px', transition: 'fade'});
    	$('#cboxContent .agreebutton').live('click', function(){
    	  
    	  return false;
    	});
    	$('#cboxContent .closebutton').live('click', function(){
        $.fn.colorbox.close();
        return false;
      });
    });
  </script>
</div>

