<%
  css_classes = []
  if defined? main_search
    if main_search == true
      css_classes << "main-search-bar"
    end
  end
  flash_error = flash[:error]
  flash[:error] = nil
  unless flash_error.nil?
    css_classes << 'errors'
  end
%>
<div id="search" class="<%= css_classes.join(' ') %>">
  <% if flash_error %>
    <p class="error"><%= flash_error %></p>
  <% end %>
  <%= form_tag(search_path, {:method => "get", :'accept-charset' => 'utf-8'}) do  %>
    <%= text_field_tag :q, params['q'], :class => 'textbox', :placeholder => 'What are you looking for?' %>
    <%= hidden_field_tag(:filter, filter_type) if defined?(filter_type)  %>
    <%= submit_tag "Search", :class => 'submit', :id => 'Search', :name => nil %>
  <% end %>
</div>