<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
		<div id="search" class="main-search-bar">
		  <form accept-charset="utf-8" action="/search/results" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <input class="textbox" id="q" name="q" placeholder="What are you looking for?" type="text" value="<%= params['q'] %>">
		    <input class="submit" id="Search" type="submit" value="Search">
		  </form>
		</div>

      <div class="main-content">
        <div class="results">
          <%
            if(@results.length > 0)
              @results.each do |hit|
                case hit.result
                when Issue %>
                <%= render :partial => 'issue', :locals => { :hit => hit } %>
              <% when Conversation %>
                <%= render :partial => 'conversation', :locals => { :hit => hit } %>
              <% when Person %>
                <%= render :partial => 'community', :locals => { :hit => hit } %>
              <% when Contribution %>
                <%= render :partial => 'contribution', :locals => { :hit => hit } %>
              <% end
              end %>
            <div class="pagination">
              <%= will_paginate @results, :inner_window => 3, previous_label: 'Previous', next_label: 'Next' %>
              </div>
            <% else %>
            <p>Sorry. Your search did not return any results.</p>
          <% end %>
      </div>
    </div>

    <div class="aside supplementary">
	    <div class="search-filter">
		    <div class="mod">
		    	<h3>Filter Results</h3>
		    	<ul>
			        <li><a href="#" class="" id="conv-s">Conversations</a></li>
			        <li><a href="#" class="" id="comm-s">Community</a></li>
			        <li><a href="#" class="" id="issues-s">Issues</a></li>
			    </ul>
		    </div>
	    </div>
    </div>

  </div>
</div>
<% end %>
