<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <h1><span>Search Results for</span> </h1>

      <div class="main-content">
        <div class="results">
          <%
            if(@results.length > 0)
              @results.each do |hit|
                case hit.result
                when Issue %>
                <%= render :partial => 'issue', :locals => { :hit => hit } %>
              <% when Conversation %>
                <%= render :partial => 'conversation', :locals => { :hit => hit } %>
              <% when Person %>
                <%= render :partial => 'community', :locals => { :hit => hit } %>
              <% when Contribution %>
                <%= render :partial => 'contribution', :locals => { :hit => hit } %>
              <% end
              end %>
            <div class="pagination">
              <%= will_paginate @results, :inner_window => 3, previous_label: 'Previous', next_label: 'Next' %>
              </div>
            <% else %>
            <p>Sorry. Your search did not return any results.</p>
          <% end %>
      </div>
    </div>

    <div class="aside supplementary">
    </div>

  </div>
</div>
<% end %>

