<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <%= render :partial => 'search', :locals => { :main_search => true } %>

      <div class="main-content">
        <div class="results">
          <%
            if(@results.length > 0)
              @results.each do |hit|
                case hit.result
                when Issue %>
                <%= render :partial => 'issue', :locals => { :hit => hit } %>
              <% when Conversation %>
                <%= render :partial => 'conversation', :locals => { :hit => hit } %>
              <% when Person %>
                <%= render :partial => 'community', :locals => { :hit => hit } %>
              <% when Contribution %>
                <%= render :partial => 'contribution', :locals => { :hit => hit } %>
              <% when ContentItem %>
                <%= render :partial => 'content_item', :locals => { :hit => hit } %>
              <% end
              end %>
            <div class="pagination">
              <%= will_paginate @results, :inner_window => 3, previous_label: 'Previous', next_label: 'Next' %>
              </div>
            <% else %>
            <p>Sorry. Your search did not return any results.</p>
          <% end %>
      </div>
    </div>

    <div class="aside supplementary">
	    <div class="search-filter">
		    <div class="mod">
		    	<h3>Filter Results</h3>
		    	<ul>
            <li><%= link_to "Conversations", search_path(:q => params['q'], :filter => 'conversations'), id: "conv-s",  title: "Filter by conversations" %></li>
            <li><%= link_to "Community", search_path(:q => params['q'], :filter => 'community'), id: "comm-s",  title: "Filter by community" %></li>
            <li><%= link_to "Issues", search_path(:q => params['q'], :filter => 'issues'), id: "issues-s",  title: "Filter by issues" %></li>
          </ul>
          <% if params.key?(:filter) %>
            <%= link_to "remove filter", search_path(:q => params['q']),  :title => "Remove this filter", :class => 'remove-search-filter'%>
          <% end %>
		    </div>
	    </div>
    </div>

  </div>
</div>
<% end %>
