<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">

      <div class="main-content">
        <div class="results">
          <%
            if(@results.length > 0)
              @results.each do |hit|
                case hit.result
                when Issue %>
                <%= render :partial => 'issue', :locals => { :hit => hit } %>
              <% when Conversation %>
                <%= render :partial => 'conversation', :locals => { :hit => hit } %>
              <% when Person %>
                <%= render :partial => 'community', :locals => { :hit => hit } %>
              <% when Contribution %>
                <%= render :partial => 'contribution', :locals => { :hit => hit } %>
              <% when ManagedIssuePage %>
                <%= render :partial => 'managed_issue', :locals => { :hit => hit } %>
              <% when ContentItem %>
                <%= render :partial => 'content_item', :locals => { :hit => hit } %>
              <% end
              end %>
            <div class="pagination">
              <%= will_paginate @results, :inner_window => 3, previous_label: 'Previous', next_label: 'Next' %>
              </div>
            <% else %>
              <% if(params.key?(:filter)) %>
                <p>Sorry. Your search filter did not return any results. <br>Try removing the filter by clicking the &ldquo;remove filter&rdquo; button on the right.</p>
              <% else %>
                <p>Sorry. Your search did not return any results.</p>
            <% end %>
          <% end %>
      </div>
    </div>

    <div class="aside supplementary">
      <% if(@results.length > 0 or params.key?(:filter)) %>
	    <div class="search-filter">
        <div class="mod">
          <h3>Filter Results</h3>
          <ul>
            <% 
              if(params.key?(:filter))
                case params[:filter]
                when "conversations"
                  activeFilterConversation = "active"
                when "community"
                  activeFilterCommunity = "active"
                when "issues"
                  activeFilterIssues = "active"
                when "blogs"
                  activeFilterBlogs = "active"
                when "radioshows"
                  activeFilterRadioShows = "active"
                when "contributions"
                  activeFilterContributions = "active"
                when "projects"
                  activeFilterProjects = "active"
                end
              end
            %>
            <li><%= link_to "Conversations", search_path(:q => params['q'], :filter => 'conversations'), id: "conv-s",  title: "Filter by conversations", class: activeFilterConversation %></li>
            <li><%= link_to "Community", search_path(:q => params['q'], :filter => 'community'), id: "comm-s",  title: "Filter by community", class: activeFilterCommunity %></li>
            <li><%= link_to "Issues", search_path(:q => params['q'], :filter => 'issues'), id: "issues-s",  title: "Filter by issues", class: activeFilterIssues %></li>
            <li><%= link_to "Blogs", search_path(:q => params['q'], :filter => 'blogs'), id: "blog-s",  title: "Filter by blog posts", class: activeFilterBlogs %></li>
            <li><%= link_to "Radio Shows", search_path(:q => params['q'], :filter => 'radioshows'), id: "radio-s",  title: "Filter by radio shows", class: activeFilterRadioShows %></li>
            <li><%= link_to "Contributions", search_path(:q => params['q'], :filter => 'contributions'), id: "contrib-s",  title: "Filter by contributions", class: activeFilterContributions %></li>
            <li><%= link_to "Projects", search_path(:q => params['q'], :filter => 'projects'), id: "project-s",  title: "Filter by projects", class: activeFilterProjects %></li>
          </ul>
          <% if params.key?(:filter) %>
            <%= link_to "remove filter", search_path(:q => params['q']),  :title => "Remove this filter", :class => 'remove-search-filter'%>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>

  </div>
</div>
<% end %>
