<div class="wrapper">
  <div class="content-container">
    <h1>Issues</h1>
    <p class="subtitle">Topic: Education</p>
    <div class="main-content">      
      <% svc = ParticipationService.new %>
      <% @issues.each do |issue| %>
        <div class="issue-container">
          <div class="issue-details">
            <%= image_tag issue.image.url(:panel) %>
            <h4><%= link_to issue.name, issue_path(issue) %></h4>
            <p class="issue-tags">Filed under <a href="#">Education</a>, <a href="#">Transportation</a></p>
            <p><%= raw(truncate(issue.summary, length: 255)) %></p>
          </div>
          <div class="issue-meta">
            <p class="issue-res"><%= pluralize(issue.contributions.size, "Resource") %></p>
            <p class="issue-contrib"><%= pluralize(svc.participants_by_issue(issue.id), "Participant") %></p>
            <p class="issue-conv"><%= pluralize(svc.conversations_by_issue(issue.id), "Conversation") %></p>
          </div>
        </div>
      <% end %>
      <div class="pagination">
        <%= will_paginate @issues, :inner_window => 3, :previous_label => "Previous", :next_label => "Next" %>
      </div>
    </div><!-- /.main-content -->
    <div class='aside supplementary'>
      <%= render :partial => '/search/search', locals: { filter_type: 'issues' } %>
      <div class="mod">
        <h3>Only Show Issues About</h3>
        <ul class="simple-list block-link-list">
          <li><a href="#"><span>Education</span> <em>32</em></a></li>
          <li><a href="#">Entrepreneurship</a></li>
          <li><a href="#">Mothers of Famous People</a></li>
          <li><a href="#">Philanthropy</a></li>
          <li><a href="#">Political Systems</a></li>
          <li><a href="#">Transportation</a></li>
        </ul>
      </div>
      <%= render_recent_items_sidebar %>
    </div><!-- /.aside -->
  </div><!-- /.content-container -->
</div>
