<div class="wrapper">
  <div class="content-container">
    <h1>Issues</h1>
    <% if @subtitle %>
      <p class="subtitle">Topic: <%= @subtitle %></p>
    <% end %>
    <div class="main-content">
      <% svc = ParticipationService.new %>
      <% @issues.each do |issue| %>
        <% issue = IssuePresenter.new(issue) %>
        <div class="entry-container">
          <div class="entry-details" <%=issue.container_attribute%>>
            <a href="<%= issue_path(issue) %>"><%= image_tag issue.image.url(:panel) %></a>
            <h4><%= link_to issue.name, issue_path(issue) %></h4>

            <p class="entry-tags">
              <%= pluralize_without_count issue.topics.size, "Topic" %>:
              <%= raw(topics_list_for issue) %>
            </p>
            <p><%= raw(truncate(issue.index_summary, length: 255)) %></p>
          </div>
          <div class="entry-meta">
            <p class="entry-res"><%= pluralize(issue.contributions.size, "Resource") %></p>
            <p class="entry-contrib"><%= pluralize(svc.participants_by_issue(issue.id), "Participant") %></p>
            <p class="entry-conv"><%= pluralize(svc.conversations_by_issue(issue.id), "Conversation") %></p>
          </div>
        </div>
      <% end %>
      <div class="pagination">
        <%= will_paginate @issues, :inner_window => 3, :previous_label => "Previous", :next_label => "Next" %>
      </div>
    </div><!-- /.main-content -->
    <div class='aside supplementary'>
      <%= render :partial => '/search/search', locals: { filter_type: 'issues' } %>
      <%= render_issue_topics_sidebar %>
      <%= render_recent_items_sidebar %>
    </div><!-- /.aside -->
  </div><!-- /.content-container -->
</div>
