<div class="feature-mast">
  <div class="wrapper">
<div class="content-container">
  <%= render :partial => '/articles/featured' %>
</div><!-- /.content-container -->
</div>
</div>

<div class="wrapper">
<div class="content-container">
  <h1>Issues</h1>
  <div class="main-content">
    <h3>Most Recent Issues</h3>
    <table class="data-table">
      <colgroup class="issue-title"></colgroup>
      <colgroup class="contrib-count"></colgroup>
      <colgroup class="convo-count"></colgroup>
      <tbody>
        <% @issues.each do |issue| %>
	<tr>
	  <th scope="row">
            <%= link_to issue.name, issue %>
          </th>
	  <td>
            <%= pluralize(issue.contributions.size, "Contribution") %>
          </td>
	  <td>
            <%= pluralize(issue.conversations.size, "Conversation") %>
          </td>
	</tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination">
      <%= will_paginate(@issues) %>
    </div>
  </div><!-- /.main-content -->			
  <div class='aside supplementary'>
    <div class='mod'>
      <h3>Select a Region</h3>
      <ul class='link-list'>
        <% @regions.each do |r| %>
          <% if r.default? %>
            <li><%=link_to r.name, "/regions/default"%></li>
          <% else %>
            <li><%=link_to r.name, r%></li>
          <%end%>
        <%end%>
      </ul>
    </div>
  </div><!-- /.aside -->			
</div><!-- /.content-container -->
</div>
</div>
