<h1>Search Issues</h1>
  <%= form_for @search do |f| %>
    <%= f.label "Issue description contains:" %>
    <%= f.text_field :description_contains %><br />
    <%= f.submit %>
  <% end %>
<br/>
<h1>Issues</h1>

<% if @first_featured_issue %>
	<h2><%= link_to @first_featured_issue.description, issue_path(@first_featured_issue) %></h2>
	<p><%= @first_featured_issue.summary %></p>
	<p>
		<%= pluralize @first_featured_issue.contributions.count, 'contribution' %>
		<%= pluralize @first_featured_issue.conversations.count, 'conversation' %>
	</p>
<% end %>

<% @featured_issues.each do |issue| %>
	<h3><%= link_to issue.description, issue_path(issue) %></h3>
	<p>
		<%= pluralize issue.contributions.count, 'contribution' %>
		<%= pluralize issue.conversations.count, 'conversation' %>
	</p>
<% end %>


<p><%= link_to "Most Recent", :sort => :most_recent %>&nbsp;<%= link_to "Most Active", :sort => :most_active	 %></p>

<p>Showing 25 of 280 issues</p>
<table>
<% @issues.each do |issue| %>
  <tr>
    <td><%= link_to h(issue.description), issue %></td>
		<td><td><%= pluralize issue.contributions.count, 'contribution' %></td></td>
		<td><%= pluralize issue.conversations.count, 'conversation' %></td>
  </tr>
<% end %>
</table>

<p>page 1 of 15 next</p>

<br />

<br/>
<h1>Leaders</h1>
<% @leaders.each do |leader| %>
	<p><%= leader.name %></p>
<% end %>
<br/>

<h1>Organizations</h1>
<% @organizations.each do |organization| %>
	<p><%= organization.name %></p>
<% end %>
<br/>

<h1>Top Conversations</h1>
<% @top_conversations.each do |conversation| %>
	<p><%= conversation.title %></p>
<% end %>
<br/>

<%= link_to 'New Issue', new_issue_path if (current_person && current_person.admin) %>
