<% content_for :header do %>
  <%= javascript_include_tag('lib/issues/show') %>
  <%= javascript_include_tag('lib/subscriptions/show') %>
<% end %>

<script type="text/javascript">
  $('form.contribution-form').live("ajax:success", function(evt, data, status, xhr) {
    var json = $.parseJSON(data); // throws error if data is not JSON
    try {
      if("errors" in json) {return $(this).trigger('ajax:failure', xhr, status, data);} // only gets to here if JSON parsing was successful and has error key
    } catch(err) {  }
    location.reload();
  }).live("ajax:failure", function(evt, xhr, status, error) {
    var errors = $.parseJSON(xhr.responseText)['errors'].join("<br/>");
    $(this).find(".errors").html(errors);
  });

  $(document).ready(function() {
    var toggleForm = function(type) {
      $('p#resource-contributions > a.' + type + '-link').click(function() {
        $('p#resource-contributions').hide();
        var formSelector = 'form#new-' + type + '-contribution';
        $(formSelector).show('slow');
        $(formSelector + ' button.cancel').live('click', function() {
          $(formSelector).hide();
          $('p#resource-contributions').show();
          return false;
        });
        return false;
      });
    };
    toggleForm("url");
    toggleForm("file");
    toggleForm("video");
  });
  </script>

  <div class="feature-mast">
    <div class="wrapper">
      <div class="content-container">
        <div class="main-content">
          <h1><%= @issue.name %></h1>
        </div>
        <div class="aside supplementary">
          <div id="subscription">
            <p>
            <%= render :partial => 'subscriptions/subscription', :locals => {:subscribable => @issue} %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="content-container">
      <div class='main-content'>
        <div class='feature'>
          <div class='feat-callout'>
            <%= image_tag @issue.image.url(:normal), :alt => @issue.name, :width => 300, :height => 200 %>
          </div>
          <div class="feat-content">
            <p><%= raw (@issue.summary) %></p>
            <p><strong><%= link_to @issue.url_title, source_url(@issue) %></strong></p>
            <p><strong>Created On:</strong> <%= @issue.created_at.strftime("%m/%d/%Y") %></p>
            <!--
            # TODO - admin only? or remove?
            <p><a href="#">Edit summary</a></p>
            -->
          </div>
        </div>

        <h3>Contributions</h3>
        <ol class='contributions divided'>
          <% @written_contributions.each do |contribution| %>
          <% 
              is_image = contribution.is_image?
              li_class = is_image ? "offset-1" : ""
          %>
          <li class="<%=li_class%>">
            <% if is_image %>
              <%= image_tag contribution.attachment(:thumb), :alt => contribution.title, :class => 'callout', :width => 90, :height => 60 %>
              <img class="callout" src="#contribution-image-goes-here" alt="contribution image goes here" width="90" height="60" />
            <% end %>
            <h4><%= link_to truncate(contribution.title), contribution.url %></h4>
            <p>Submitted by: <a href="#link-to-PA-profile"><%= contribution.person.name %></a></p>
            <p><%= link_to 'Delete', contribution_path(contribution), :class => 'delete' if contribution.editable_by?(current_person) %></p>
            </li>
          <% end %>
          
          <%  @conversation_comments.each do |comment| %>
            <li class='offset-1'>
              <%= image_tag comment.person.avatar(:standard), :alt => comment.person.name, :class => 'callout', :width => 40, :height => 40 %>
              <%=render :partial => "conversations/contributions/comment", :object => comment, :as => :contribution %>
              <p><%= link_to 'Delete', contribution_path(comment), :class => 'delete' if comment.editable_by?(current_person) %></p>
            </li>
          <% end %>
          
          
          
          
        </ol>
        <% if person_signed_in? %>
          <p><%= link_to("Write a contribution", pa_new_issue_contribution_url(current_person, @issue), :class => 'button') %> </p>
        <% end %>

        <h3>Conversations about this issue:</h3>
        <%= render :partial => '/conversations/conversation_pager' %>
      </div><!-- /.main-content -->
      <div class='aside supplementary'>
        <% @media_contributions.each do |contribution| %>
          <a name="contribution<%= contribution.id %>"></a>
          <div class="dnld <%= media_style(contribution) %>">
            <p><strong><%= media_link_info(contribution) %></strong></p>
            <p><em><%= contribution.person.name %></em>
              <% if contribution.content %>
              &ndash; <%= contribution.content %>
              <% end %>
              </p>
            <p><%= link_to 'Delete', contribution_path(contribution), :class => 'delete' if contribution.editable_by?(current_person) %></p>
          </div>
        <% end %>
        <% if person_signed_in? %>
          <p id="resource-contributions"><a href="#" class="file-link button">File</a><a class="file-link button" href="#">Image</a><a class="video-link button" href="#">Video</a><a class="url-link button" href="#">Link</a></p>
          <%= render :partial => "new_file_contribution" %>
          <%= render :partial => "new_url_contribution" %>
          <%= render :partial => "new_embedded_snippet_contribution" %>
        <% end %>

        <div class="mod">
          <h3>People active in this issue</h3>
          <div class="mod-content">
            <div class="photobank">
              <% @people.each do |person| %>
                <%= featured_profile(person).html_safe %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="mod">
          <h3>Suggest an Action</h3>
          <div class="mod-content">
            <% if person_signed_in? %>
              <%= render :partial => "new_suggested_action_contribution" %>
            <% else %>
              <p>You must <%= link_to "log in", new_person_session_path %> or <%= link_to "sign up", new_person_registration_path %> to suggest an action</p>
            <% end %>
            <ol class='conversations divided'>
              <% @suggested_actions.each do |suggested_action| %>
                <li class='offset-1'>
                  <%= avatar_tag(suggested_action.person, :style_name => :standard, :class => "callout", :width => 40, :height => 40) %>
                  <p><strong><%= link_to suggested_action.person.name, suggested_action.person %></strong> suggests:</p>
                  <p><%= suggested_action.content %></p>
                  <p><%= link_to 'Delete', contribution_path(suggested_action), :class => 'delete button' if suggested_action.editable_by?(current_person) %></p>
                </li>
              <% end %>
            </ol>
          </div>
        </div>

      </div><!-- /.aside -->
    </div><!-- /.content-container -->
    <div class="content-container">
      <div class="main-content">
      </div><!-- /.main-content -->
      <div class="aside supplementary">
      </div><!-- /.aside -->
    </div><!-- /.content-container -->
  </div>

