<% content_for :header do %>
  <%= javascript_include_tag('lib/issues/show') %>
  <%= javascript_include_tag('lib/subscriptions/show') %>
<% end %>

<div class="feature-mast">
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">
        <h1><%= @issue.name %></h1>
        <p class="subtitle issue-tags">Filed Under <a href="#">Education</a></p>
      </div>
      <div class="aside supplementary">
        <div id="subscription">
          <p>
          <%= render :partial => 'subscriptions/subscription', :locals => {:subscribable => @issue} %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="content-container">
    <div class='main-content'>
      <div class='feature group'>
        <%= image_tag @issue.image.url(:normal), :alt => @issue.name, :width => 300, :height => 200, :class => 'float featured main-img' %>
        <p><%= raw (@issue.summary) %></p>
        <%- if @issue.url and @issue.url_title %>
          <p><strong><%= link_to @issue.url_title, source_url(@issue) %></strong></p>
        <%- end %>
        <p><strong>Created On:</strong> <%= @issue.created_at.strftime("%m/%d/%Y") %></p>
        <%- unless @issue.sponsor_name.nil? or @issue.sponsor_name.empty?  %>
          <p>
          This issue was created on behalf of our client: <%= @issue.sponsor_name %>.
          <%= link_to("Learn more about our work with clients.", '/pages/faq#work-with-clients') %>
          </p>
        <%- end %>
      </div>

      <h3>Conversations about this issue:</h3>
      <%= render :partial => '/conversations/conversation_pager' %>
      <div style='margin-top: 60px'>
        <%= render :partial => 'layouts/create_conversation' %>
      </div>
    </div><!-- /.main-content -->
    <div id='media-contributions' class='aside supplementary'>
      <%= render :partial => '/search/search', locals: { filter_type: 'issues' } %>
      <%= render :partial => "issues/contributions/contribution_template", :collection => @contributions, :as => :contribution %>
      <div id="media-contribution-form-container" class="mod">
        <p id="resource-contributions"><a href="#" class="file-link button">File</a><a class="file-link button" href="#">Image</a><a class="video-link button" href="#">Video</a><a class="url-link button" href="#">Link</a></p>
        <%= render :partial => "new_file_contribution" %>
        <%= render :partial => "new_url_contribution" %>
        <%= render :partial => "new_embedded_snippet_contribution" %>
      </div>

      <div class="mod">
        <h3>People active in this issue</h3>
        <div class="mod-content">
          <div class="photobank">
            <% @people.each do |person| %>
              <%= featured_profile(person).html_safe %>
            <% end %>
          </div>
        </div>
      </div>

    </div><!-- /.aside -->
  </div><!-- /.content-container -->
  <div class="content-container">
    <div class="main-content">
    </div><!-- /.main-content -->
    <div class="aside supplementary">
    </div><!-- /.aside -->
  </div><!-- /.content-container -->
</div>

