<% content_for :header do %>
  <%= javascript_include_tag('lib/subscriptions/show') %>
<% end %>

<script type="text/javascript">
$('form.contribution-form')
    .live("ajax:success", function(evt, data, status, xhr){
        var json = $.parseJSON(data); // throws error if data is not JSON
        try {
            if("errors" in json) {
                return $(this).trigger('ajax:failure', xhr, status, data); // only gets to here if JSON parsing was successful and has error key
            }
        }catch(err){
            // do nothing
        } 
        location.reload();
    })
    .live("ajax:failure", function(evt, xhr, status, error){
        var errors = $.parseJSON(xhr.responseText)['errors'].join("<br/>")
        $(this).find(".errors").html(errors);
    });

$(document).ready(function() {
    $('p#resource-contributions > a.file-link').click(function() {
        $('p#resource-contributions').hide();
        $('form#new-file-contribution').show('slow');
        return false;
    });
    
    $('p#resource-contributions > a.url-link').click(function() {
        $('p#resource-contributions').hide();
        $('form#new-url-contribution').show('slow');
        return false;
    });
    
    $('p#resource-contributions > a.video-link').click(function() {
        $('p#resource-contributions').hide();
        $('form#new-video-contribution').show('slow');
        return false;
    });
});
</script>

<div class="feature-mast">
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">
        <h1><%= @issue.name %></h1>
      </div>
      <div class="aside supplementary">
        <div id="subscription">
          <p>
            <%= render :partial => 'subscriptions/subscription', :locals => {:subscribable => @issue} %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="content-container">
    <div class='main-content'>
      <div class='feature'>
        <div class='feat-callout'>
          <%= image_tag @issue.image.url(:normal), :alt => @issue.name, :width => 300, :height => 200 %>
        </div>
        <div class="feat-content">
          <p><%= raw (@issue.summary) %></p>
          <p><strong><%= link_to @issue.url_title, source_url(@issue) %></strong></p>
          <p><strong>Created On:</strong> <%= @issue.created_at.strftime("%m/%d/%Y") %></p>
          <!--
              # TODO - admin only? or remove?
	  <p><a href="#">Edit summary</a></p>
          -->
	</div>
      </div>
      <div class="two-col">
	<div class="cols">
	  <h3>People active in this issue</h3>
	  <div class="photobank">
            <% @people.each do |person| %>
            <%= featured_profile(person).html_safe %>
            <% end %>
	  </div>
	</div>
	<div class="cols">
	  <h3>Organizations active in this issue</h3>
	  <div class="photobank">
            <% @organizations.each do |org| %>
            <%= featured_profile(org).html_safe %>
            <% end %>
	  </div>
	</div>
      </div>
    </div><!-- /.main-content -->
    <div class='aside supplementary'>
      <% @media_contributions.each do |contribution| %>
      <div class="dnld <%= media_style(contribution) %>">
        <p><strong><%= media_link_info(contribution) %></strong></p>
	<p><%= contribution.title unless contribution.is_a?(Link) %></p>
	<p><em>By: <%= contribution.person.name %></em></p>
      </div>
      <% end %>
      <% if person_signed_in? %>
          <p id="resource-contributions">Add a <a href="#" class="file-link">File</a>/<a class="file-link" href="#">Image</a>/<a class="video-link" href="#">Video</a>/<a class="url-link" href="#">Link</a></p>
          <%= render :partial => "new_file_contribution" %>
          <%= render :partial => "new_url_contribution" %>
          <%= render :partial => "new_embedded_snippet_contribution" %>
     <% else %>
        <p>You must <%= link_to "log in", new_person_session_path %> or <%= link_to "sign up", new_person_registration_path %> to contribute a file or video</p>
      <% end %>
     
    </div><!-- /.aside -->
  </div><!-- /.content-container -->
  <div class="content-container">
    <div class="main-content">
      <h3>Conversations about this issue:</h3>
      <div class="three-col-sm">
        <!-- 
          NOTE: There is a partial for this conversations/conversation_pager
          but, I couldn't make it work in this context
        -->
        <% @latest_conversations.each do |conversation| %>
          <div class="cols call-out">
            <a href="<%= conversation_path(conversation)%>">
              <img class="main-img" src="<%= conversation.image.url(:panel) %>" alt="<%= conversation.title %>" width="180" height="120" />
              <h4><%= truncate(conversation.title, {:length => 45, :seperator => ' '}) %></h4>
              <p><%= raw(truncate(conversation.summary, {:length => 125, :separator => ' '})) %></p>
            </a>

            <div class="photobank">
              <% conversation.participants[0...4].each do |person| %>
                <%= avatar_tag(person, :style_name => :standard, :width => "40", :height => "40") %>
              <% end %>
            </div>

          </div>
        <% end %>
      </div>
    </div><!-- /.main-content -->
    <div class="aside supplementary">
      <h3>Contributions</h3>
      <ol class='contributions divided'>
        <% @written_contributions.each do |contribution| %>
	<li class='offset-1'>
          <img class="callout" src="#contribution-image-goes-here" alt="contribution image goes here" width="90" height="60" />
	  <h4><%= link_to truncate(contribution.title), contribution.url %></h4>
    <p>By: <a href="#link-to-PA-profile"><%= contribution.person.name %></a></p>
	</li>
        <% end %>
      </ol>
      <% if person_signed_in? %>
        <p><%= link_to("Write a contribution", pa_new_issue_contribution_url(current_person, @issue)) %> </p>
        <% else %>
        <p>You must <%= link_to "log in", new_person_session_path %> or <%= link_to "sign up", new_person_registration_path %> to write a contribution</p>
      <% end %>
      <br/>
      <h3>Suggest an Action</h3>
      <ol class='conversations divided'>
        <% @suggested_actions.each do |suggested_action| %>
	<li class='offset-1'>
          <%= avatar_tag(suggested_action.person, :style_name => :standard, :class => "callout", :width => 70, :height => 70) %>
	  <p><strong><%= link_to suggested_action.person.name, suggested_action.person %></strong> suggests:</p>
	  <p><%= suggested_action.content %></p>
	</li>
       <% end %>
      </ol>
      <% if person_signed_in? %>
        <%= render :partial => "new_suggested_action_contribution" %>
      <% else %>
        <p>You must <%= link_to "log in", new_person_session_path %> or <%= link_to "sign up", new_person_registration_path %> to suggest an action</p>
      <% end %>

    </div><!-- /.aside -->
  </div><!-- /.content-container -->
</div>

