
%h2 Listing articles
%hr
%table
  %tr
    %th Title
    %th Author
    %th Current
    %th Main
    %th Homepage Article
    %th Conversation Article
    %th Issue Article
    %th
    %th
  
  - @articles.each do |article|
    %tr
      %td
        = link_to article.title, admin_article_path(article)
      %td
        = article.author
      %td
        = article.current
      %td
        = article.main
      %td
        = article.homepage_article
      %td
        = article.conversation_article
      %td
        = article.issue_article
      %td
        = link_to 'Edit', edit_admin_article_path(article)
      %td
        = link_to 'Destroy', admin_article_path(article), :confirm => 'Are you sure?', :method => :delete
    %br

= link_to 'New Article', new_admin_article_path 


