%h2 Listing articles
%table.tablesorter
  %thead
    %tr
      %th Title
      %th Author
      %th Current
      %th Main
      %th Homepage Article
      %th Conversation Article
      %th Issue Article
      %td &nbsp;
      %td &nbsp;
  %tbody
    - @articles.each do |article|
      %tr
        %td
          = link_to article.title, admin_article_path(article)
        %td
          = article.author
        %td
          = article.current
        %td
          = article.main
        %td
          = article.homepage_article
        %td
          = article.conversation_article
        %td
          = article.issue_article
        %td
          = link_to 'Edit', edit_admin_article_path(article)
        %td
          = link_to 'Delete', admin_article_path(article), :confirm => 'Are you sure?', :method => :delete

= link_to 'New Article', new_admin_article_path 


