%p{:id => 'notice'}= notice 

%p
  %b Title:
  = @article.title 


%p
  %b Author:
  = @article.author 


%p
  %b Description:
  = @article.description 


%p
  %b Link:
  = @article.link 

  -if @article.image.exists? 
    %p
      %b Image:
      = @article.image.url(:mainfeature) 
      = image_tag @article.image.url(:mainfeature)

%p
  %b Video url:
  = @article.video_url 


%p
  %b Current:
  = @article.current 


%p
  %b Main:
  = @article.main 


%p
  %b Homepage Article?
  = @article.homepage_article


%p
  %b Conversation Article?
  = @article.conversation_article


%p
  %b Issue Article?
  = @article.issue_article



= link_to 'Edit', edit_admin_article_path(@article)  
|
= link_to 'Back', admin_articles_path 