/ /articles/featured
-unless @main_article.blank?
  %h2= @main_article.title
  %p= @main_article.author
  .main-content
    .feature
      .feat-callout
        %img{:alt => "Featured Article - #{@main_article.title}", :height => "225", :src => @main_article.image.url(:mainfeature), :width => "340"}/
      .feat-content
        = @main_article.description.html_safe
        %p
          %a{:href => @main_article.link} Read The Article
-unless @sub_articles.blank?
  .aside.supplementary
    %ol.conversations
      - @sub_articles.each do |article|
        %li.offset-1
          %img.callout{:alt => "#{article.title}", :height => "70", :src => article.image.url(:subfeature), :width => "70"}/
          %h4
            %a{:href => article.link}= article.title
          %p
            By: #{article.author}

