/ /articles/featured
-unless @main_article.blank?
  .main-content
    .feature
      .feat-callout
        -if @main_article.youtube_link?
          =raw @main_article.embed_target
        -else
          %img{:alt => "Featured Article - #{@main_article.title}", :height => "200", :src => @main_article.image.url(:mainfeature), :width => "300"}/
      .feat-content
        %h1= @main_article.title
        %p= "By: #{@main_article.author}"
        = @main_article.description.html_safe
        %p
          %a{:href => @main_article.link} Read The Article
-unless @sub_articles.blank?
  .aside.supplementary
    %ol.conversations
      - @sub_articles.each do |article|
        %li.offset-1
          -if article.image?
            %img.callout{:alt => "#{article.title}", :height => "60", :src => article.image.url(:subfeature), :width => "90"}/
          -if article.video_url?
            .video-preview{:data => {:url => article.url}}
          %h4
            %a{:href => article.link}= article.title
          %p
            By: #{article.author}

