/ /articles/featured
-unless @main_article.blank?
  .main-content
    .feature
      .feat-callout
        -if @main_article.youtube_link?
          =raw @main_article.embed_target
        -else
          %div=link_to image_tag(@main_article.image.url(:mainfeature), :alt => @main_article.title, :size => "300x200"), @main_article.link
      .feat-content
        %h1= link_to @main_article.title, @main_article.link
        %p= "By: #{@main_article.author}"
        %p= @main_article.description.html_safe

-unless @sub_articles.blank?
  .aside.supplementary
    %ol.conversations
      - @sub_articles.each do |article|
        %li.offset-1
          -if article.image?
            %img.callout{:alt => "#{article.title}", :height => "60", :src => article.image.url(:subfeature), :width => "90"}/
          -if article.video_url?
            .video-preview{:data => {:url => article.url}}
          %h4
            %a{:href => article.link}= article.title
          %p
            By: #{article.author}

