/ /articles/featured
-unless @main_article.blank?
  .main-content
    .feature
      .feat-callout
        -if @main_article.youtube_link?
          =raw @main_article.embed_target
        -else
          %div=link_to image_tag(@main_article.image.url(:mainfeature), :alt => @main_article.title, :size => "300x200"), @main_article.link
      .feat-content
        %h1= link_to @main_article.title, @main_article.link
        %p= "By: #{@main_article.author}"
        = simple_format(truncate(@main_article.description, :length => 200, :separator => ' '))
        %p
          =link_to 'Read more', @main_article.link, :class => "read-more"

-unless @sub_articles.blank?
  .aside.supplementary
    %ol.conversations
      - @sub_articles.each do |article|
        %li.offset-1
          -if article.image?
            =image_tag article.image.url(:subfeature), :class => 'callout', :size => '90x60', :alt => article.title
          -if article.video_url?
            .video-preview{:data => {:url => article.url}}
          %h4=link_to article.title, article.link
          %p= "By: #{article.author}"

