<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <div class="mbl">
        <h1>It's Time to Engage</h1>

        <p>We're passionate about engagement and want to hear about what you love to talk about. Our subscription plans can be fitted to suit your needs. Maybe you need something simple or maybe something a little more custom.</p>
        <p>Either way, we'd like to talk about what works best for you.</p>
        <p>Please fill out the form below, and our engagement evangelist, Jill, will contact you in the next day or so. If this is an emergency, feel free to ditch the form and call her right away. Her direct line is (800) 530-8507 x7.</p>
        <p>No matter what you plan to do, we'd sincerely love to hear about what you are doing in your community.</p>
      </div>
      <%= form_for @promotion_form_presenter, :url => promotion_products_services_path, :method => :post do |f| %>
        <div class="form-block">
          <label for="name">Name</label>
          <%= f.text_field :name, :class => 'textbox' %>
          <span class="required">*</span>
        </div>
        <div class="form-block">
          <label for="email">Email</label>
          <%= f.text_field :email, :class => 'textbox' %>
          <span class="required">*</span>
        </div>
        <div class="form-block">
          <label for="question">Question</label>
          <%= f.text_area :question, :class => 'textbox', :rows => 3 %>
        </div>
        <%= f.hidden_field :product %>
        <div class="form-block">
          <%= f.submit 'Send Your Question', :class => 'submit' %> or <a href="#">Cancel</a>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
