<table width="600px" border="0" cellspacing="0" cellpadding="0"><tr>
  <td style="padding:20px 0 0 0;">
    <p style="line-height:1.4em;">Hi</p>
    <p style="line-height:1.4em;"><%= @user.name %> wants to invite you to add your voice</p>
    <p style="line-height:1.4em;">to an important conversation at the Civic Commons about <b>"<%= @conversation.title %>"</b>.</p>
    <p style="line-height:1.4em;"></p>
    <p style="line-height:1.4em;">Here's a little more information:</p>
    <p style="line-height:1.4em;"></p>
    <p style="line-height:1.4em;"><%= @conversation.summary%></p>
    <p style="line-height:1.4em;"></p>
    <p style="line-height:1.4em;"><%= link_to "Join the conversation.", conversation_url(@conversation) %>
    <p style="line-height:1.4em;"></p>
    <p style="line-height:1.4em;">See you at the Commons!</p>
		<p style="line-height:1.4em;"><%= link_to root_url, root_url %></p>
  </td>
</tr></table>
