%strong Guides:
#chosenguides.supplementary
%ul#guide_list
  - @chosenguides.each do |x|
    %li
      - @guidenumber = x
      - @guidedetail = Issue.find(@guidenumber)
      %a(href="#{url_for(:controller => 'guides', :action => 'show', :id => @guidenumber)}" title="#{@guidedetail.description}") #{@guidedetail.description}
      %a(href="javascript:void()" title="Remove this Issue" onclick='alert("Removing guide #{@guidenumber}")')
        %img(src="/images/trash-can.png")
    - if (@chosenguides.length == 0)
      %li
        This Conversation has no Guides yet.
#addguideprompt
  %a(href='javascript:void();' class='privileged' onclick='$("#addguideprompt").hide(); $("#addguide").show();')Add a Guide
#addguide(style="display:none")
  %select(name="newguide" id="newguide")
    =render :partial => 'guides'
  -# This is "obtrusive Javascript." Should make it unobtrusive.
  -# CONFIRM button
  = link_to_function("Confirm adding guide", 'var s = $("#newguide"); add_and_refresh(s)', :class => "privileged")
  -# CANCEL button
  %a(href='javascript:void();' class='privileged' onclick='$("#addguide").hide();$("#addguideprompt").show();') Cancel adding guide
