%strong Issues:
#chosenissues.supplementary
%ul#issue_list
  - @chosenissues.each do |x|
    %li
      - @issuenumber = x
      - @issuedetail = Issue.find(@issuenumber)
      %a(href="#{url_for(:controller => 'issues', :action => 'show', :id => @issuenumber)}" title="#{@issuedetail.description}") #{@issuedetail.description}
      %a(href="javascript:void()" title="Remove this Issue" onclick='alert("Removing issue #{@issuenumber}")')
        %img(src="/images/trash-can.png")
    - if (@chosenissues.length == 0)
      %li
        This Conversation has no issues yet.
#addissueprompt
  %a(href='javascript:void();' class='privileged' onclick='$("#addissueprompt").hide(); $("#addissue").show();')Add an Issue
#addissue(style="display:none")
  %select(name="newissue" id="newissue")
    =render :partial => 'issues'
  -# This is "obtrusive Javascript." Should make it unobtrusive.
  -# CONFIRM button
  = link_to_function("Confirm adding issue", 'var s = $("#newissue"); add_and_refresh(s)', :class => "privileged")
  -# CANCEL button
  %a(href='javascript:void();' class='privileged' onclick='$("#addissue").hide();$("#addissueprompt").show();') Cancel adding issue
