%li
  .article.comment
    .meta
      .comment-type{:class=>postable.official ? "" : "unofficial"}=  "Official" if postable.official
      %a.rating(href="#" title="Rate this comment")=format_rating(postable)
    %img{:src=>"", :alt=>"Comment from #{postable.person.name}"}
    %p
      %a{:href=>person_path(postable), :title=>"#{postable.person.name}'s Profile"}
        %strong= postable.person.name
      %span.action commented:
    %p.content= postable.content
    %p
      - if person_signed_in?
        %a.text.button.conversation-action(href="#" title="Leave a comment") Leave a comment
      - if can_edit?(postable.owner)
        %a(href="#" class="privileged" title="Delete this comment") Delete
  %ul
    - postable.posts.order('created_at DESC').each do |post|
      =render :partial => post.postable_type.downcase, :locals => { :postable => post.postable }
  