<% content_for :header do %>

  <%= javascript_include_tag 'vendor/tiny_mce/jquery.tinymce.js' %>
  <%= javascript_include_tag 'lib/contributions/contribution_tool.js' %>

  <script type='text/javascript'> 
    //<![CDATA[

    $(document).ready(function() {

      enable_post_to_conversation($('.post_to_conversation'));

      enable_cancel_contribution($('#cancel-contribution'));

      enable_add_link_toggle($('#contribution-add-link'),
        $('#contribution_url'),
        $('#contribution_content')
      );

      enable_add_file_toggle($('#contribution-add-file'),
        $('#contribution_attachment'),
        $('#contribution_content')
      );

      init_tiny_mce('#contribution_content');

    })(); // end document ready function

    //]]>
  </script>

<% end %>

<div id="contrib" name="contrib" class="hide_contrib_tool contrib_tool_container">

  <p id='contribution-title----rename-id-after-buggy-expand-and-collapse-is-fixed' style="font-weight:bold;">
  <div id='contribution-title' class="hack-to-prevent-old-expand-and-collapse-from-triggering" style="font-weight:bold;">
  </div>
  </p>

  <%= form_for contribution, :as => :contribution, :url => conversation_contributions_path(conversation), :remote => true, :method => :post, :html => {:multipart => true} do |f| %>

    <%= f.hidden_field(:parent_id) %>

    <fieldset>

      <p>
      <div class="hack-to-prevent-old-expand-and-collapse-from-triggering">
        <%= f.text_area(:content, :placeholder => "Leave a Comment...", :class => 'tinymce') %>
      </div>
      </p>

      <p>
      <div class="hack-to-prevent-old-expand-and-collapse-from-triggering">
        <a href="#" id="contribution-add-link">Add a link to a related website</a>
        <br />
        <%= f.text_field(:url, :type => "text", :class => "textbox link", :placeholder => "(Optional) Share a link...", :style => 'display:none;') %>
      </div>
      </p>

      <p>
      <div>
        <a href="#" id="contribution-add-file">Upload a photograph, document, or other file</a>
        <br />
        <%= f.file_field(:attachment, :style => 'display:none;') %>
      </div>
      </p>

    </fieldset>

    <fieldset>
      <p>
      <div class="hack-to-prevent-old-expand-and-collapse-from-triggering">
        <%= f.submit 'Leave my response', :class => 'submit' %>
        <%= link_to "Cancel", '#', :id => 'cancel-contribution' %>
      </div>
      </p>
    </fieldset>

  <% end %>
</div>
