<% content_for :header do %>

  <%= javascript_include_tag 'vendor/tiny_mce/jquery.tinymce.js' %>
  <%= javascript_include_tag 'lib/contributions/contribution_tool.js' %>

  <script type='text/javascript'> 
    //<![CDATA[

    $(document).ready(function() {

      enable_cancel_contribution($('#cancel-contribution'));
      init_tiny_mce('#contribution_content');
    });

    //]]>
  </script>

<% end %>

<div id="contrib" name="contrib" class="hide contrib_tool_container">

  <p class="title">Post to this conversation:</p>

  <%= form_for contribution, :as => :contribution, :url => conversation_contributions_path(conversation), :remote => true, :method => :post, :html => {:multipart => true} do |f| %>

    <%= f.hidden_field(:parent_id) %>

    <fieldset>
      <%= f.text_area(:content, :placeholder => "Leave a Comment...", :class => 'content') %>
      <%= render partial: "contributions/contribution_attachment_fields", locals: { form: f } %>
    </fieldset>

    <fieldset>
      <ul class="errors"></ul>
    </fieldset>

    <fieldset class="button-group">
      <%= f.submit 'Leave my response', :class => 'submit' %> or 
      <%= link_to "Cancel", '#', :id => 'cancel-contribution' %>
    </fieldset>

  <% end %>
</div>
