<% content_for :header do %>

  <%= javascript_include_tag 'vendor/tiny_mce/jquery.tinymce.js' %>
  <%= javascript_include_tag 'lib/contributions/contribution_tool.js' %>

  <script type='text/javascript'> 
    //<![CDATA[

    $(document).ready(function() {

      enable_post_to_conversation($('.post_to_conversation'));

      enable_cancel_contribution($('#cancel-contribution'));

      enable_add_link_toggle($('#contribution-add-link'),
        $('#contribution_url'),
        $('#contribution_content')
      );

      enable_add_file_toggle($('#contribution-add-file'),
        $('#contribution_attachment'),
        $('#contribution_content')
      );

      init_tiny_mce('#contribution_content');

    }); // end document ready function

    //]]>
  </script>

<% end %>

<div id="contrib" name="contrib" class="hide_contrib_tool contrib_tool_container">

  <p class="title">Post to this conversation:</p>

  <%= form_for contribution, :as => :contribution, :url => conversation_contributions_path(conversation), :remote => true, :method => :post, :html => {:multipart => true} do |f| %>

    <%= f.hidden_field(:parent_id) %>

    <fieldset>
      <%= f.text_area(:content, :placeholder => "Leave a Comment...", :class => 'tinymce') %>

      <div class="section">
        <a href="#" id="contribution-add-link">Add a link to a related website</a>
        <%= f.text_field(:url, :type => "text", :class => "textbox link", :style => 'display:none;') %>
      </div>

      <div class="section">
        <a href="#" id="contribution-add-file">Upload a photograph, document, or other file</a>
        <%= f.file_field(:attachment, :style => 'display:none;') %>
      </div>
    </fieldset>

    <fieldset>
      <ul class="errors"></ul>
    </fieldset>

    <fieldset>
      <%= f.submit 'Leave my response', :class => 'submit' %>
      <%= link_to "Cancel", '#', :id => 'cancel-contribution' %>
    </fieldset>

  <% end %>
</div>
