<% content_for :header do %>

  <style type="text/css">
    .visible
    {
      position:absolute;
      right:0px;
      top:auto;
      /*  width:1px; */
      /*  height:1px; */
    }

    .hidden 
    {
      position:absolute;
      left:-10000px;
      top:auto;
      /*  width:1px; */
      /*  height:1px; */
      overflow:hidden;
    }
  </style>

  <script type='text/javascript'> 
    //<![CDATA[

    function clear_form() {
      $(':input','#contribution_new')
        .not(':button, :submit, :reset, :hidden')
        .val('')
        .removeAttr('checked')
        .removeAttr('selected');
    }

    function get_contribution_parent_id(container) {
        var contribution_id = container.attr('id');
        contribution_id = contribution_id.match(/respond-to-(\d+)/);
        if (contribution_id instanceof Array && contribution_id.length == 2) {
          return contribution_id[1];
        } else {
          return false;
        }
    }

    function show_contrib_tool(container, contribution_id) {
      // add contribution parent hidden field
      $('#contribution_parent_id').val(contribution_id);
      $('#contrib').removeClass('hidden');
      if (null != container) {
        container.append($('#contrib'));
      } else {
        $('#contribution_tool_container').append($('#contrib'));
      }
      $('#contribution_content').focus()
    }

    function hide_contrib_tool() {
      // remove contribution parent hidden field
      $('#contribution_tool_container').append($('#contrib'));
      $('#contrib').addClass('hidden');
    }

    $(document).ready(function(){

        $('.post_to_conversation').click(function() {
        var contribution_id = get_contribution_parent_id($(this));
        if (contribution_id) {
          show_contrib_tool($(this).parent(), contribution_id);
        } else {
          show_contrib_tool(null, null);
        }
        return false;
      });

      $('#cancel_contribution').click(function() {
        hide_contrib_tool();
        clear_form();
        return false;
      });

      })();

    //]]>
  </script>

<% end %>

<div id="contrib" name="contrib" class="hidden" style="border-style: solid; border-width: 1px; border-color: #A9A9A9;">
  <%= form_for contribution, :as => :contribution, :url => conversation_contributions_path(conversation), :html => {:multipart => true} do |f| %>

    <fieldset>
      <%= f.hidden_field(:parent_id) %>
      <%= f.text_area(:content, :placeholder => "Leave a Comment...", :rows => "10") %>
      <%= f.text_field(:url, :type => "text", :class => "textbox link", :placeholder => "(Optional) Share a link...") %>
      <%= f.file_field(:attachment) %>
    </fieldset>

    <fieldset>
      <%= f.submit 'Leave my response', :class => 'submit' %>
      <%= link_to "Cancel", '#', :id => 'cancel_contribution' %>
    </fieldset>

  <% end %>
</div>
