<% content_for :header do %>

  <style type="text/css">
    .visible
    {
      position:absolute;
      right:0px;
      top:auto;
      /*  width:1px; */
      /*  height:1px; */
    }

    .hidden 
    {
      position:absolute;
      left:-10000px;
      top:auto;
      /*  width:1px; */
      /*  height:1px; */
      overflow:hidden;
    }
  </style>

  <script type='text/javascript'> 
    //<![CDATA[

    function clear_form() {
      $(':input','#contribution_new')
        .not(':button, :submit, :reset, :hidden')
        .val('')
        .removeAttr('checked')
        .removeAttr('selected');
    }

    function get_contribution_parent_id(container) {
        var contribution_id = container.attr('id');
        contribution_id = contribution_id.match(/respond-to-(\d+)/);
        if (contribution_id instanceof Array && contribution_id.length == 2) {
          return contribution_id[1];
        } else {
          return false;
        }
    }

    function show_contribution_tool(container, contribution_id, title) {
      $('#contribution_parent_id').val(contribution_id);
      $('#contribution-title').html(title + ':');
      $('#contrib').removeClass('hidden');
      if (null != container) {
        container.append($('#contrib'));
      } else {
        $('#contribution_tool_container').append($('#contrib'));
      }
      $('#contribution_content').focus()
    }

    function hide_contribution_tool() {
      $('#contribution_tool_container').append($('#contrib'));
      $('#contribution-title').html('');
      $('#contrib').addClass('hidden');
    }

    $(document).ready(function() {

       $('.post_to_conversation').click(function() {
        var contribution_id = get_contribution_parent_id($(this));
        var title = $(this).attr('title');
        if (contribution_id) {
          show_contribution_tool($(this).parent(), contribution_id, title);
        } else {
          show_contribution_tool(null, null, title);
        }
        return false;
      });

      $('#cancel-contribution').click(function() {
        hide_contribution_tool();
        clear_form();
        return false;
      });

      $('#contribution-add-link').click(function() {
        $('#contribution_url').toggle()
      });

      $('#contribution-add-file').click(function() {
        $('#contribution_attachment').toggle()
      });

    })(); // end document ready function

    //]]>
  </script>

<% end %>

<div id="contrib" name="contrib" class="hidden" style="border-style: solid; border-width: 1px; border-color: #A9A9A9;text-align:left;">
  <%= form_for contribution, :as => :contribution, :url => conversation_contributions_path(conversation), :html => {:multipart => true} do |f| %>

    <p id='contribution-title' style="font-weight:bold;">
    </p>

    <%= f.hidden_field(:parent_id) %>

    <fieldset>

      <p><%= profile_image(current_person, 20, '') %></p>

      <p>
        <%= f.text_area(:content, :placeholder => "Leave a Comment...", :rows => "10") %>
      </p>

      <p>
        <a href="#" id="contribution-add-link">Add a link to a related website</a>
        <br />
        <%= f.text_field(:url, :type => "text", :class => "textbox link", :placeholder => "(Optional) Share a link...", :style => 'display:none;') %>
      </p>

      <p>
        <a href="#" id="contribution-add-file">Upload a photograph, document, or other file</a>
        <br />
        <%= f.file_field(:attachment, :style => 'display:none;') %>
      </p>
    
    </fieldset>

    <fieldset>
      <p>
        <%= f.submit 'Leave my response', :class => 'submit' %>
        <%= link_to "Cancel", '#', :id => 'cancel-contribution' %>
      </p>
    </fieldset>

  <% end %>
</div>
