<% if conversations %>
  <% conversations.each_slice(3) do |conversation_mini_array|%>
    <div class="three-col-sm">
      <% conversation_mini_array.each do |conversation| %>
        <div class="cols call-out">
          <a href="<%= conversation_path(conversation)%>">
            <img class="main-img" src="<%= conversation.image.url(:panel) %>" alt="<%= conversation.title %>" width="180" height="120" />
            <h4><%= truncate(conversation.title, {:length => 45, :separator => ' '}) %></h4>
            <%= simple_format(truncate(Sanitize.clean(conversation.summary, :remove_contents => ['script']).strip, {:length => 125, :separator => ' '})) %>
          </a>
          <div class="photobank">
            <% conversation.participants[0...4].each do |participant| %>
              <%= conversation_profile(participant).html_safe %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
