%div{:id => div_id, :class => "tab-strip"}
  - if current_person.nil?
    =link_to("You must login to edit", secure_session_url)
    %br
    %br
  - else
    .tab-area.input-with-options
      %div{:id => "#{div_id}-options", :class => 'tab-strip-options'}
        %ul
          %li
            %a{:href => "##{div_id}-options", :style => 'display: none;'}
          %li.default-tab
            %a{:href => "##{div_id}-edit-contribution", :style => 'display: none;'} Edit
          %li.preview-tab
            %a{:href => "##{div_id}-preview", :style => 'display: none;' }
          
      %div{:id => "#{div_id}-preview", :class => "contribution-preview"}
        %a{:href => "##{div_id}-options", :class => 'button'} Edit
      %div{:id => "#{div_id}-edit-contribution" }
        = render 

    
    
