/ if params[:preview] is set, then contribution was just submitted for preview, and this form is now the final.
/ otherwise, set this form to submit for preview.
= form_for @contribution, :as => :contribution, :url => (@contribution.new_record? || @contribution.unconfirmed? ? "preview_node_contribution" : "update_node_contribution"), :remote => true, :html => {:multipart => (type == :attached_file ? true : false), 'data-preview' => true, 'data-type' => 'html'} do |f|
  = f.hidden_field(:conversation_id)
  = f.hidden_field(:parent_id)
  = f.hidden_field(:type, :value => type.to_s.camelcase)
  - unless @contribution.new_record? || @contribution.unconfirmed?
    = f.hidden_field(:id)
  - if type == :attached_file
    %label
      Upload a file:
      = f.file_field(:attachment)
  - elsif type == :embedly_contribution
    %label
      /URL:
      = f.text_field(:url, :type => "text", :class => "textbox link", :placeholder => "http://www.example.com")
  - elsif type == :link
    %label
      /URL:
      = f.text_field(:url, :type => "text", :class => "textbox link", :placeholder => "http://www.example.com")
  - elsif type == :embedded_snippet
    %label
      /YouTube Link:
      = f.text_field(:url, :type => "text", :class => "textbox link youtube", :placeholder => "www.youtube.com/watch?v=123456")
      .youtube-thumbnail
  = f.text_area(:content, :rows => "3", :placeholder => contribution_form_placeholder_text_for(type, subtype))
  %div.validation-error
  = hidden_field_tag(:preview, true)
  = hidden_field_tag(:div_id, div_id)
  = f.submit((@contribution.new_record? || @contribution.unconfirmed? ? "Preview" : "Update"), :class => 'button')
