.rate-form
  = form_for contribution, :as => :contribution, :url => "/conversations/rate_contribution", :method => :post, :remote => true do |f|
    = f.hidden_field(:id, :value => contribution.id)
    = f.hidden_field(:rating, :value => 1)
    %div.errors
    = f.submit("Yes", :class => 'button')
    or
  = form_for contribution, :as => :contribution, :url => "/conversations/rate_contribution", :method => :post, :remote => true do |f|
    = f.hidden_field(:id, :value => contribution.id)
    = f.hidden_field(:rating, :value => -1)
    %div.errors
    = f.submit("No", :class => 'button')
Did you find this comment productive?
%br.clear