<% content_for :document_ready do %>
  $('#new_conversation').submit(function(){
    $(this).scrubPlaceholderText();
  });
<% end %>

<% @conversation ||= Conversation.new %>
<% @contributions ||= [Contribution.new] %>

<%= form_for @conversation, url: url, :html => {:multipart => true} do |conversation| %>

  <%= render :partial => 'conversations/creation_errors', :locals => { :conversation => @conversation, :contributions => @contributions } %>
  <br class="clear" />

  <p>Which issues is this conversation related to?</p>
  <%= render :partial => 'contributions/issue_selection_fields', :locals => { :form => conversation, :conversation => @conversation } %>
  <br class="clear" />

  <p>Get the ball rolling with a comment, question, or maybe a thought-provoking video you’ve already uploaded to YouTube.</p>
  <%= render :partial => 'contributions/contribution_fields', :locals => { :form => conversation, :contributions => @contributions } %>
  <br class="clear" />

  <fieldset class="footer">
    <%= render partial: 'conversations/responsibilities_verbiage' %>
  </fieldset>

  <fieldset class="footer">
    <%= conversation.submit 'Start My Conversation', :class => 'submit' %>
    <%= link_to "Cancel", root_url %>
  </fieldset>

<% end %>
