<% content_for :document_ready do %>
  $('#new_conversation').submit(function(){
    $(this).scrubPlaceholderText();
  });
<% end %>

<% @conversation ||= Conversation.new %>
<% @contributions ||= [Contribution.new] %>

<%= form_for @conversation, url: url, :html =>{:multipart => true} do |conversation| %>
  <% if @conversation.errors.any? %>
    <div id="error_explanation">
      <h2>
        It looks like we’re still missing some important information:
      </h2>
      <ul>
        <% @conversation.errors.each do |attr,msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% @conversation.errors.clear %>
  <% @contributions.each { |c| c.errors.clear } %>

  <br class="clear" />

  <p>Which issues is this conversation related to?</p>
  <fieldset class="form-group">
    <%= conversation.label :issues, "Issue(s)" %>
    <table>
      <% Issue.alphabetical.each_slice(2) do |slice| %>
        <tr>
          <% slice.each do |issue| %>
            <td>
              <%= check_box_tag "conversation[issue_ids][]", issue.id, @conversation.issues.include?(issue) %>
              <%= issue.name %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </fieldset>

  <br class="clear" />

  <p>Get the ball rolling with a comment, question, or maybe a thought-provoking video you’ve already uploaded to YouTube.</p>
  <fieldset class="form-group">
    <div id="new-convo-contribution">
      <div style="border-style: solid; border-width: 1px; border-color: #A9A9A9;">
        <%= conversation.fields_for :contributions, @contributions do |f| %>
          <%= f.text_area(:content, :placeholder => "Leave a Comment...", :rows => "10") %>
          <%= f.text_field(:url, :type => "text", :class => "textbox link", :placeholder => "(Optional) Share a link...") %>
          <%= f.file_field(:attachment) %>
        <% end %>
      </div>
    </div>
  </fieldset>

  <fieldset class="footer">
    <%= render partial: 'conversations/responsibilities_verbiage' %>
  </fieldset>

  <fieldset class="footer">
    <%= conversation.submit 'Start My Conversation', :class => 'submit' %>
    <%= link_to "Cancel", root_url %>
  </fieldset>

<% end %>
