%div{:id => div_id, :class => "tab-strip"}
  .tab-area.input-with-options
    %div{:id => "#{div_id}-options", :class => 'tab-strip-options'}
      %ul
        %li#default-tab
          %a{:href => "##{div_id}-options", :style => 'display: none;'}
        %li
          %a{:href => "##{div_id}-new-comment", :title => "Comment", :id => "comment_tab", :class => 'button'} Comment
        %li
          %a{:href => "##{div_id}-new-suggested-action", :title => "Suggest Action", :id => "suggested_action_tab", :class => 'button'} Suggest Action
        %li
          %a{:href => "##{div_id}-new-question", :title => "Question", :id => "question_tab", :class => 'button'} Question
        %li
          %a{:href => "##{div_id}-new-file", :title => "Attach", :id => "image_tab", :class => 'button'} Attach
        %li
          %a{:href => "##{div_id}-new-link", :title => "Link", :id => "link_tab", :class => 'button'} Link
        %li
          %a{:href => "##{div_id}-new-video", :title => "Video", :id => "video_tab", :class => 'button'} Video
        %li
          %a{:href => "##{div_id}-write-contribution", :title => "Write Contribution", :class => 'button'} Write Contribution
    %div{:id => "#{div_id}-new-comment" }
      = form_for @contribution, :url => "create_node_contribution", :remote => true do |f|
        %div.contribution-form-headline
          %span.contribution-form-cancel.float-right
            %a{:href => "##{div_id}-options", :class => 'cancel'} Cancel
          %h3 Leave a Comment
        = f.hidden_field(:conversation_id, :value => conversation_id)
        - if defined?(contribution_id)
          = f.hidden_field(:parent_id, :value => contribution_id)
        = f.hidden_field(:type, :value => "Comment")
        = f.text_area(:content, :rows => "3", :placeholder => "Leave a Comment...")
        %div.validation-error
        = f.submit("Submit")
    %div{:id => "#{div_id}-new-question" }
      = form_for @contribution, :url => "create_node_contribution", :remote => true do |f|
        %div.contribution-form-headline
          %span.contribution-form-cancel.float-right
            %a{:href => "##{div_id}-options", :class => 'cancel'} Cancel
          %h3 Ask a Question
        = f.hidden_field(:conversation_id, :value => conversation_id)
        - if defined?(contribution_id)
          = f.hidden_field(:parent_id, :value => contribution_id)
        = f.hidden_field(:type, :value => "Question")
        = f.text_area(:content, :rows => "3", :placeholder => "Ask a Question...")
        %label
          Who can answer?
          %select(id="contribution_askee")
            %option Anyone
            %option Moderator
        %div.validation-error
        = f.submit("Submit")
    %div{:id => "#{div_id}-new-file" }
      = form_for @contribution, :url => "create_node_contribution.js", :remote => true, :html => { :multipart => true } do |f|
        %div.contribution-form-headline
          %span.contribution-form-cancel.float-right
            %a{:href => "##{div_id}-options", :class => 'cancel'} Cancel
          %h3 Upload a File or Image
        = f.hidden_field(:conversation_id, :value => conversation_id)
        - if defined?(contribution_id)
          = f.hidden_field(:parent_id, :value => contribution_id)
        = f.hidden_field(:type, :value => "AttachedFile")
        = f.text_area(:content, :rows => "3", :placeholder => "Comment on file...")
        %label
          Upload a file:
          = f.file_field(:attachment)
        %div.validation-error
        = f.submit("Submit")
    %div{:id => "#{div_id}-new-link" }
      = form_for @contribution, :url => "create_node_contribution", :remote => true do |f|
        %div.contribution-form-headline
          %span.contribution-form-cancel.float-right
            %a{:href => "##{div_id}-options", :class => 'cancel'} Cancel
          %h3 Share a Link
        = f.hidden_field(:conversation_id, :value => conversation_id)
        - if defined?(contribution_id)
          = f.hidden_field(:parent_id, :value => contribution_id)
        = f.text_field(:type, :type => "hidden", :value => "Link")
        = f.text_area(:content, :rows => "3", :placeholder => "Comment on file..")
        %label
          URL:
          = f.text_field(:url, :type => "text", :class => "textbox link", :placeholder => "http://www.youtube.com")
        %div.validation-error
        = f.submit("Submit")
    %div{:id => "#{div_id}-new-video" }
      = form_for @contribution, :url => "create_node_contribution", :remote => true do |f|
        %div.contribution-form-headline
          %span.contribution-form-cancel.float-right
            %a{:href => "##{div_id}-options", :class => 'cancel'} Cancel
          %h3 Share a Video
        = f.hidden_field(:conversation_id, :value => conversation_id)
        - if defined?(contribution_id)
          = f.hidden_field(:parent_id, :value => contribution_id)
        = f.hidden_field(:type, :value => "EmbeddedSnippet")
        = f.text_area(:content, :rows => "3", :placeholder => "Comment on video...")
        %label
          YouTube Link:
          = f.text_field(:url, :type => "text", :class => "textbox link youtube", :placeholder => "Copy/paste the video link here.")
          .youtube-thumbnail
        %div.validation-error
        = f.submit("Submit")
    %div{:id => "#{div_id}-new-suggested-action" }
      = form_for @contribution, :url => "create_node_contribution", :remote => true do |f|
        %div.contribution-form-headline
          %span.contribution-form-cancel.float-right
            %a{:href => "##{div_id}-options", :class => 'cancel'} Cancel
          %h3 Suggest an Action
        = f.hidden_field(:conversation_id, :value => conversation_id)
        - if defined?(contribution_id)
          = f.hidden_field(:parent_id, :value => contribution_id)
        = f.hidden_field(:type, :value => "SuggestedAction")
        = f.text_area(:content, :rows => "3", :placeholder => "Suggest an action...")
        %div.validation-error
        = f.submit("Submit")
    %div{:id => "#{div_id}-write-contribution" }
      %div.contribution-form-headline
        %span.contribution-form-cancel.float-right
          %a{:href => "##{div_id}-options", :class => 'cancel'} Cancel
        %h3 Write a Contribution
      %p
        You are going to be redirected to the Contribution page. Once you submit your contribution, you will be brought back here where it will appear in the conversation.
      = link_to raw("Let's do this thing &raquo;"), Civiccommons::PeopleAggregator.URL, {:class => 'button', 'data-colorbox-iframe' => true}
    
    