- depth ||= 0
- maxdepth = 2
%li.offset-1{:id => "show-contribution-#{contribution.id}"}
  %a{:name=>"contribution-#{contribution.id}"}
  %div.contribution-container{:class => ('collapsed' unless controller.action_name == 'confirm_node_contribution' || contribution.parent.nil? || controller.action_name == 'preview_node_contribution')}
    - if contribution
      .callout
        - unless contribution.person.nil?
          = contribution_profile(contribution.person).html_safe
      %div.article.comment
        %a{:name=>"#post#{contribution.id}"}
        .edit-contribution
          - if current_person.try(:admin?)
            = link_to "Moderate", moderate_conversation_contribution_path(contribution.conversation, contribution),  :class => 'moderate'
            = link_to("Delete", conversation_contribution_path(contribution.conversation, contribution), :remote => true, :method => :delete, :confirm => "Are you sure you want to delete this response? This cannot be undone.", :class => "delete-conversation-action", 'data-target' => "#show-contribution-#{contribution.id}")
            - if contribution.descendants_count == 0 && contribution.rating_groups.empty?
              = link_to("Edit", edit_conversation_contribution_path(contribution.conversation, contribution), :remote => true, :method => :get, :class => "edit-conversation-action", :id => "edit-#{contribution.id}", 'data-target' => "#show-contribution-#{contribution.id}")
            - else
              = link_to("Edit", edit_conversation_contribution_path(contribution.conversation, contribution), :confirm => 'This contribution has been rated or someone has responded to it, please ensure you do not alter meaning or intent with your edits', :remote => true, :method => :get, :class => "edit-conversation-action", :id => "edit-#{contribution.id}", 'data-target' => "#show-contribution-#{contribution.id}")
          - if current_person && contribution.owner_editable?(current_person) && !current_person.admin?
            = link_to("Edit", edit_conversation_contribution_path(contribution.conversation, contribution), :remote => true, :method => :get, :class => "edit-conversation-action", :id => "edit-#{contribution.id}", 'data-target' => "#show-contribution-#{contribution.id}")
            = link_to("Delete", conversation_contribution_path(contribution.conversation, contribution), :remote => true, :method => :delete, :confirm => "Are you sure you want to delete this response? This cannot be undone.", :class => "delete-conversation-action", 'data-target' => "#show-contribution-#{contribution.id}")
        =render :partial => "show_contribution", :locals => { :contribution => contribution }
        - if contribution.confirmed # if not confirmed, this is just a preview
          %div{:class => "convo-utility #{contribution.descendants_count > 0 ? 'response' : 'no-response'}"}
            .respond-container
              %div.tos
                Inappropriate?
                = link_to("Alert us.",
                            new_tos_path(contribution),
                            :class => "text conversation-action top-level-contribution-action-button",
                            :id => "action-link-#{contribution.id}",
                            'data-colorbox' => true,
                            :title => "Alert Us of Terms of Service Violations")
              = rating_buttons(contribution, @ratings || ratings)
              %span.respond
                = link_to(respond_button_text(contribution), '#', :class => "text rating-button post_to_conversation", :id => "respond-to-#{contribution.id}", :title => respond_button_text(contribution))
          - if depth < maxdepth
            %ol.conversations.divided.thread-list
              .comment-contribution-action(id="action-div-#{contribution.id}")
              .contribution-thread-div(id="thread-div-#{contribution.id}")
                = display_direct_descendant_subset(@contributions, contribution.id, depth)
- unless depth < maxdepth
  .comment-contribution-action(id="action-div-#{contribution.id}")
  .contribution-thread-div(id="thread-div-#{contribution.id}")
    = display_direct_descendant_subset(@contributions, contribution.id, depth)
