<% contribution = @contributions.detect{ |c| c.type == type.to_s.camelcase } || @contributions.first %>
<%= conversation.fields_for :contributions, contribution do |f| %>
  <%= f.hidden_field(:type, :value => type.to_s.camelcase) %>
  <% if type == :attached_file %>
      Upload a file:
      <%= f.file_field(:attachment) %>
  <% elsif type == :embedly_contribution && subtype == :link %>
      <%= f.text_field(:url, :type => "text", :class => "textbox link", :placeholder => "http://www.example.com") %>
  <% elsif type == :embedly_contribution && subtype == :video %>
      <%= f.text_field(:url, :type => "text", :class => "textbox link youtube", :placeholder => "www.youtube.com/watch?v=123456") %>
  <% end %>
  <div><%= f.text_area(:content, :placeholder => contribution_form_placeholder_text_for(type, subtype)) %></div>
  <br class="clear" />
<% end %>
