<% unless @hide_container %>
  <%= link_to image_tag(  "#{request.protocol + request.host_with_port}/assets/cc_widget_logo.png"), root_url %>
  <h2><%= link_to @conversation.title, conversation_url(@conversation) %></h2>
  <div class="mod-content">
<% end %>

  <% with_format('html') do %>
    <%= render :partial => '/shared/recent_item', collection: @recent_items %>
  <% end %>

<% if @recent_items.length > 0 %>
  <span class="pagination-data" data-page="<%= @page %>"></span>
<% end %>

<% unless @hide_container %>
  <% if @next_page %>
    <%= link_to "See More Activity", activities_conversation_url(@conversation), :class => 'load-more' %>
  <% end %>
  </div>
  <p>
    <%= link_to "Join the conversation >>", conversation_url(@conversation), :class => 'join-cc-link' %>
  </p>
<% end %>

