<div class="contrib_tool_container">
<%= form_for @contribution, :as => :contribution,
      :url => conversation_contribution_path(@contribution.conversation),
      :remote => true, :method => :put,
      :html => {:multipart => true, 'data-type' => 'html'},
        do |contribution_form| %>

  <p class="title">Edit your response:</p>
  <%= contribution_form.hidden_field(:parent_id, :index => @contribution.id) %>

  <fieldset>
    <%= contribution_form.text_area(:content, :placeholder => "Leave a Comment...", :class => 'tinymce', :index => @contribution.id) %>

    <%= render partial: "contributions/contribution_attachment_fields", locals: { form: contribution_form } %>
  </fieldset>
  <fieldset class="errors">
    <ul class="errors"></ul>
  </fieldset>
  <fieldset>
    <%= contribution_form.submit 'Edit my response', :class => 'submit', :index => @contribution.id %>
    <%= link_to "Cancel", conversation_contribution_path(@contribution.conversation, @contribution), :class => 'cancel', :remote => true, :method => :get, 'data-target' => "#show-contribution-#{@contribution.id}" %>
  </fieldset>

<% end %>
</div>
