<% content_for :main do %>
<div class="wrapper">
<div class="content-container">
      <h1><%= params[:filter].titleize %> Conversations</h1>

      <div class="main-content">

      <%= render :partial => '/conversations/conversation_pager' %>

      </div><!-- /.main-content -->     
      <div class='aside supplementary'>
        <div class="mod">
          <h3>Featured</h3>
          <div class="mod-content">
            <%= render :partial => '/conversations/filters' %>
          </div>
        </div>
        <div class="mod">
          <h3>Northeast Ohio Counties</h3>
          <div class="mod-content">
            <ul class='link-list'>
              <% @regions.each do |r| %>
                <% if r.default? %>
                  <li><%=link_to r.name, "/regions/default"%></li>
                <% else %>
                  <li><%=link_to r.name, r%></li>
                <%end%>
              <%end%>
            </ul>
          </div>
        </div>
        <% if @recent_items.size > 0 %>
          <div class="mod">
            <h3>Recent Activity</h3>
            <div class='mod-content'>
              <%= render :partial => 'shared/recent_item', :collection => @recent_items, :as => :recent_item %>
            </div>
          </div>
        <% end %>
      </div><!-- /.aside -->      
  </div>
</div>
     
<% end %>
