- content_for :main do
  %h1 Conversations
  %hr

  %br
  - @conversations.each do |conversation|
    %li
      .article.issue.conversation-ticker
        .date
          %p
            #{conversation.start_month_text}
            %span.day #{conversation.start_day}
        %p Started discussing a new issue: #{conversation.title}
        %p
          %a(href="#{url_for(:controller => 'conversations', :action => :show, :id => conversation.id)}" title="#{conversation.title}")
            #{conversation.summary}

  #{link_to 'Start a new conversation!', new_conversation_path}

