- content_for :main do
  %h1 Search for Conversations
  %hr
  = form_for @search, :as => :search, :html => {:method => :get} do |f|
    %table
      %tr
        %td
          = f.label "Conversation started between:"
        %td
          %input(class='datetime' name='search[started_at_greater_than]' id='started_at_greater_than')
          -# = f.datetime_select :started_at_greater_than
      %tr
        %td
          = f.label "and:"
        %td
          %input(class='datetime' name='search[started_at_less_than]' id='started_at_less_than')
          -# = f.datetime_select :started_at_less_than
      %tr
        %td
          = f.label "With guide name(s) containing:"
        %td
          = f.text_field :containing_guide
      %tr
        %td
          = f.label "With issue description(s) containing:"
        %td
          = f.text_field :containing_issue
      %tr
        %td(colspan=2)
          = f.submit

  %h1 Conversations
  %hr

  %br
  - @conversations.each do |conversation|
    %li
      .article.issue.conversation-ticker
        .date
          %p
            #{conversation.start_month_text}
            %span.day #{conversation.start_day}
        %p Started discussing a new issue: #{conversation.title}
        %p
          %a(href="#{url_for(:controller => 'conversations', :action => :show, :id => conversation.id)}" title="#{conversation.title}")
            #{conversation.summary}

  - if (current_person && current_person.admin)
    #{link_to 'Start a new conversation!', new_conversation_path}
