- content_for :main do
  %h1 Search for Conversations
  %hr
  = form_for @search, :as => :search, :html => {:method => :get} do |f|
    = f.label "Conversation started between:"
    = f.datetime_select :started_at_greater_than
    <br>
    = f.label "and:"
    = f.datetime_select :started_at_less_than
    <br>
    = f.submit

  %h1 Conversations
  %hr

  %br
  - @conversations.each do |conversation|
    %li
      .article.issue.conversation-ticker
        .date
          %p
            #{conversation.start_month_text}
            %span.day #{conversation.start_day}
        %p Started discussing a new issue: #{conversation.title}
        %p
          %a(href="#{url_for(:controller => 'conversations', :action => :show, :id => conversation.id)}" title="#{conversation.title}")
            #{conversation.summary}

  #{link_to 'Start a new conversation!', new_conversation_path}
