<% content_for :main do %>
  <div class="wrapper">
    <div class="content-container">
      <h1>Conversations</h1>

      <div class="main-content">

        <%= render :partial => 'layouts/create_conversation' %>

        <% if @recommended.size > 0 %>
          <div class="conversation-tile-group group">
            <h3>Recommended Conversations</h3>
            <%= render :partial => '/conversations/conversation_band', :locals => {:conversations => @recommended} %>
            <%= link_to "See more recommended conversations", conversations_filter_url(:recommended), :class => 'see-more' %>
          </div>
        <% end %>

        <div class="conversation-tile-group group">
          <h3>Most Active Conversations</h3>
          <%= render :partial => '/conversations/conversation_band', :locals => {:conversations => @active} %>
          <%= link_to "See more active conversations", conversations_filter_url(:active), :class => 'see-more' %>
        </div>

        <div class="conversation-tile-group group">
          <h3>Most Popular Conversations</h3>
          <%= render :partial => '/conversations/conversation_band', :locals => {:conversations => @popular} %>
          <%= link_to "See more popular conversations", conversations_filter_url(:popular), :class => 'see-more' %>
        </div>

        <div class="conversation-tile-group group">
          <h3>Newest Conversations</h3>
          <%= render :partial => '/conversations/conversation_band', :locals => {:conversations => @recent} %>
          <%= link_to "See more of the newest conversations", conversations_filter_url(:recent), :class => 'see-more' %>
        </div>

      </div><!-- /.main-content -->     

      <div class='aside supplementary'>
        <%= render :partial => '/search/search', :locals => {:filter_type => 'conversations'} %>
        <div class="f-conv mod">
          <!-- <h3>Featured Conversations</h3> -->
          <div class="mod-content">
            <%= render :partial => '/conversations/filters' %>
          </div>
        </div>

        <%= render_recent_items_sidebar %>
        <%= render :partial => '/regions/index' %>
      </div><!-- /.aside -->      
    </div>
  </div>
     
<% end %>
