- @spotlights = []
- @allissues = Issue.all(:order => 'name')
- @allguides = Person.all(:order => 'last_name, first_name')
- @chosenissues = []
- @chosenguides = []
- content_for :main do
  %h1 Create a New Conversation
  = form_for :conversation, :url => {:controller => "conversations", :action => "create" }, :html => {:multipart => true} do
    - all_errors = @conversation.errors.full_messages + @presenter.errors.full_messages
    - if all_errors.any?
      #error_explanation
        %h2
          = pluralize(all_errors.size, "error")
          prohibited this conversation from being saved:
        %ul
          - all_errors.each do |msg|
            %li= msg
    .form-group
      .form-block
        %label(for="title")
          Title:
        %input(class="textbox" name="conversation[title]")
      .form-block
        %label(for="summary")
          Summary:
        %textarea(name="conversation[summary]")
      .form-block
        %label(for="image")
          Image:
        %input(class="file" type="file" name="conversation[image]" size=60)
      .form-block
        %label(for="file")
          Transcript:
        %input(class="file" type="file" name="file" size=60)
    .form-group
      .form-block
        %label(for="event")
          Event:
        %input(class="textbox" name="event[title]")
      .related
        .form-block
          %label(for="event-when")
            When:
          -# = datetime_select("post", "event[when]")
          %input(class="datetime" name="event[when]")
        .form-block
          %label(for="event-where")
            Where:
          %input(class="textbox" name="event[where]")
    = render :partial => 'chosenissues'
    .form-block
      %p
        %input(type="submit" class="submit" value="Create Conversation") or <a href="#" class="cancel">cancel</a>

-content_for :sidebar do
  .aside.guides
    = render :partial => 'chosenguides'
  .aside.spotlight
    %strong Spotlight
    %ul
    -@spotlights.each do |s|
      %li
        %a(href="#{ link_for_spotlight(s)}" title="#{s.name}") s.name
        %a(href="#{ link_remove_spotlight(s)}" title="Remove this Spotlight")
          %img(src="/images/trash-can.png")
    %a(href="#" title="Add Spotlight" class="privileged") Add to Spotlight
