<% content_for :main do %>
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">
        <h1>New Conversation</h1>

        <%= form_for @conversation, :html =>{:multipart => true} do |conversation| %>
          <% if @conversation.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@conversation.errors.size, "error") %>
                prohibited this conversation from being saved:
              </h2>
              <ul>
                <% @conversation.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <p>
            <%= conversation.label :title %>
            <br />
            <%= conversation.text_field :title %>
          </p>

          <p>
            <%= conversation.label :image, "Attach an Image (Looks best at 3:2 ratio)" %>
            <br />
            <%= conversation.file_field :image %>
          </p>

          <p>
            <%= conversation.label :summary %>
            <br />
            <%= conversation.text_area :summary %>
          </p>

          <p>
            <%= conversation.label :zip_code, "Enter Zip Code" %>
            <br>
            <%= conversation.text_field :zip_code %>
          </p>

          <p>
            <%= conversation.label :issues, "Select Issues" %>
            <br />
            <table>
              <% Issue.alphabetical.each_slice(2) do |slice| %>
                <tr>
                  <% slice.each do |issue| %>
                    <td>
                      <%= check_box_tag "conversation[issue_ids][]", issue.id, @conversation.issues.include?(issue) %>
                      <%= issue.name %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </p>

          <div class="tab-strip">
            <div class="tab-area input-with-options">
              <div class="tab-strip-options">
                <ul>
                  <li class="default-tab">
                    <%= link_to "Comment", "#new-comment" %>
                  </li>
                  <li><%= link_to "Suggest An Action", "#new-suggested_action" %></li>
                  <li><%= link_to "Question", "#new-question" %></li>
                  <li><%= link_to "Attach", "#new-attached_file" %></li>
                  <li><%= link_to "Link", "#new-link" %></li>
                  <li><%= link_to "Video", "#new-embedded_snippet" %></li>
                </ul>
              </div>
              <div class="panels">
                <div id="new-comment">
                  <%= render :partial => 'user_conversation_contribution_fields', :locals => {:type => :comment} %>
                </div>
                <div id="new-question">
                  <%= render :partial => 'user_conversation_contribution_fields', :locals => {:type => :question} %>
                </div>
                <div id="new-attached_file">
                  <%= render :partial => 'user_conversation_contribution_fields', :locals => {:type => :attached_file} %>
                </div>
                <div id="new-link">
                  <%= render :partial => 'user_conversation_contribution_fields', :locals => {:type => :link} %>
                </div>
                <div id="new-embedded_snippet">
                  <%= render :partial => 'user_conversation_contribution_fields', :locals => {:type => :embedded_snippet} %>
                </div>
                <div id="new-suggested_action">
                  <%= render :partial => 'user_conversation_contribution_fields', :locals => {:type => :suggested_action} %>
                </div>
              </div>
            </div>
          </div>

          <p>
            <%= conversation.submit %>
          </p>

          <%= link_to "Back", admin_conversations_path %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
