- content_for :header do 
  = javascript_include_tag('lib/conversations/show')
  = javascript_include_tag('lib/subscriptions/show')

- content_for :main do
  .feature-mast
    .wrapper
      .content-container
        .main-content
          %img.featured{ :class => "main-img", :src => @conversation.image.url(:panel), :alt => @conversation.title, :width => "120", :height => "80" }
          %h1= @conversation.title
          %p.convo-meta
            %strong= pluralize(@conversation.participants.size, "person") 
            are engaged, last activity
            %strong= time_ago_in_words(@latest_contribution.created_at) + " ago"
        .aside.supplementary
          - if current_person
            %p
              %span#subscription
                = render :partial => '/subscriptions/subscription', :locals => {:subscribable => @conversation}
            %p
              = link_to("Post to this Conversation", {:action => "new_node_contribution", :id => @conversation.id, :div_id => "conversation-#{@conversation.id}"}, :class => "text button top-node-conversation-action", :id => "conversation-action-link-#{@conversation.id}", :title => "Leave a comment here", 'data-target' => "#conversation-action-div-#{@conversation.id}")
          - else 
            %p
              = link_to("Login to Post to this Conversation", new_person_session_path)
  .wrapper
    .content-container
      .main-content
        #show_conversation
          %input{:type=>"hidden", :id=>"conversation_id", :value=>"#{@conversation.id}"}
          %input{:type=>"hidden", :id=>"post_model_type", :value=>"Comment"}
          %ol.conversations.divided
            - @top_level_contributions.each do |contribution|
              =render :partial => "conversations/contributions/#{contribution.type.underscore}", :locals => { :contribution => contribution }
          %ol#conversation-thread-list.conversations.divided.thread-list
            %div{:id => "conversation-action-div-#{@conversation.id}"}
            =render :partial => "conversations/contributions/threaded_contribution_template", :collection => @conversation_contributions, :as => :contribution

      .aside.supplementary
        .mod
          %h3 Summary
          .mod-content
            %p= raw @conversation.summary
        .mod
          %h3 Issues
          .mod-content
            %ul.link-list
              -@conversation.issues.each do |issue|
                %li.issue-list
                  =link_to(issue.name, issue_path(issue))
        .mod
          %h3 Participants
          .mod-content
            .guides
              .photobank
                -@conversation.participants.select{ |p| @tlc_participants.include?(p.id) }.each do |participant|
                  =conversation_profile(participant).html_safe
              %br.clear
            .other-participants
              .photobank
                -@conversation.participants.select{ |p| !@tlc_participants.include?(p.id) }.each do |participant|
                  =conversation_profile(participant).html_safe
