- content_for :header do
  = javascript_include_tag('lib/conversations/show')
  = javascript_include_tag('lib/subscriptions/show')
  = javascript_include_tag('/fancybox/jquery.fancybox-1.3.4.pack.js')
  = stylesheet_link_tag '../fancybox/jquery.fancybox-1.3.4'
  :plain
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->

- content_for :main do
  .feature-mast
    .wrapper
      .content-container
        .main-content
          -#%div{:style => "width:120px; float:left;"}
          .main-content-left
            %img.featured{ :class => "main-img", :src => @conversation.image.url(:panel), :alt => @conversation.title, :width => "120", :height => "80" }
          -#%div{:style => "width:480px; float:right;"}
          .main-content-right
            %h1= @conversation.title
            %p.convo-meta
              %strong= pluralize(@conversation.participants.size, "person")
              - if @conversation.participants.size == 1
                is
              - else
                are
              engaged, last activity
              %strong= time_ago_in_words(@latest_contribution ? @latest_contribution.created_at : @conversation.created_at ) + " ago"
            %p.convo-meta
              =render :partial => 'shared/facebook_like'
            %p.convo-meta
              =render :partial => 'shared/twitter_share', locals: { title: @conversation.title}
          %p.convo-summary
            %strong
              = format_date @conversation.created_at
            = raw(@conversation.summary)
        .aside.supplementary.convo-mast-buttons
          %p
            %span#subscription
              = render :partial => '/subscriptions/subscription', :locals => {:subscribable => @conversation}
          %p
            = link_to("Post to this Conversation", '#', :class => "text button toggle", :id => 'post_to_conversation')
          %p
            = render :partial => '/invites/invite_to_conversation', :locals => {:conversation => @conversation}

  .wrapper
    .content-container
      .main-content
        #show_conversation
          %input{:type=>"hidden", :id=>"conversation_id", :value=>"#{@conversation.id}"}
          %input{:type=>"hidden", :id=>"post_model_type", :value=>"Comment"}
          %ol.conversations.divided
            - @top_level_contributions.each do |contribution|
              =render :partial => "show_contribution", :locals => { :contribution => contribution }
          %ol#conversation-thread-list.conversations.divided.thread-list
            %div{:id => "conversation-action-div-#{@conversation.id}"}
            =render :partial => "threaded_contribution_template", :collection => @conversation_contributions, :as => :contribution
          %div{:id => 'contribution_tool_container'}
            =render :partial => 'conversations/contribution_tool', :locals => { :conversation => @conversation, :contribution => @contribution }

      .aside.supplementary
        - if @conversation.issues.size > 0
          .mod
            %h3 Issues
            .mod-content
              %ul.link-list
                -@conversation.issues.each do |issue|
                  %li.issue-list
                    =link_to(issue.name, issue_path(issue))
        .mod
          %h3 Participants
          .mod-content
            .guides
              .photobank
                -@conversation.participants.select{ |p| @tlc_participants.include?(p.id) }.each do |participant|
                  =conversation_profile(participant).html_safe
              %br.clear
            - if @conversation.participants.select{ |p| !@tlc_participants.include?(p.id) }.size > 0
              .other-participants
                .photobank
                  -@conversation.participants.select{ |p| !@tlc_participants.include?(p.id) }.each do |participant|
                    =conversation_profile(participant).html_safe
        = render_recent_items_sidebar
