- content_for :header do
  = javascript_include_tag 'lib/conversations/show'
  = javascript_include_tag 'lib/subscriptions/show'
  = javascript_include_tag 'vendor/jquery/jquery.fancybox-1.3.4.pack.js'
  = stylesheet_link_tag 'jquery.fancybox-1.3.4.css'

  /[if lt IE 9]
    = javascript_include_tag 'vendor/ie7_js/IE9'
  /[if IE 7]
    = javascript_include_tag 'vendor/ie7_js/ie7-recalc'

.feature-mast
  .wrapper
    .content-container
      .main-content
        -#%div{:style => "width:120px; float:left;"}
        .main-content-left
          %img.featured{ :class => "main-img", :src => @conversation.image.url(:panel), :alt => @conversation.title, :width => "120", :height => "80" }
        -#%div{:style => "width:480px; float:right;"}
        .main-content-right
          %h1= @conversation.title
          %p.convo-meta
            %strong= pluralize(@conversation.participants.size, "person")
            - if @conversation.participants.size == 1
              is
            - else
              are
            engaged, last activity
            %strong= time_ago_in_words(@latest_contribution ? @latest_contribution.created_at : @conversation.created_at ) + " ago"
          %p.convo-meta
            =render :partial => 'shared/facebook_like'
          %p.convo-meta
            =render :partial => 'shared/twitter_share', locals: { title: @conversation.title}
        %div.convo-summary
          %strong
            = format_date @conversation.created_at
          = raw(@conversation.summary)
      .aside.supplementary.convo-mast-buttons
        %p
          %span#subscription
            = render :partial => '/subscriptions/subscription', :locals => {:subscribable => @conversation}
        %p
          -if current_person
            = link_to("Post to this Conversation", '#', :class => "text button post_to_conversation", :id => 'post_to_conversation', :title => 'Post to this conversation')
            :javascript
              enable_post_to_conversation($('#post_to_conversation'));
          -else
            = link_to("Post to this Conversation", { :controller => :sessions, :action => :ajax_new }, :class => "text button", 'data-colorbox' => true )
        %p
          = render :partial => '/invites/invite_to_conversation', :locals => {:conversation => @conversation}

.wrapper
  .content-container
    .main-content
      #show_conversation
        %input{:type=>"hidden", :id=>"conversation_id", :value=>"#{@conversation.id}"}
        %input{:type=>"hidden", :id=>"post_model_type", :value=>"Comment"}
        - unless @top_level_contributions.empty?
          %ol.conversations.divided.thread-list
            - @top_level_contributions.each do |contribution|
              =render :partial => "show_contribution", :locals => { :contribution => contribution }
        - unless @conversation_contributions.empty?
          %ol.conversations.divided.thread-list
            =render :partial => "threaded_contribution_template", :locals => { :ratings => @ratings }, :collection => @conversation_contributions, :as => :contribution
        -if current_person
          %div{:id => 'contribution_tool_container'}
            =render :partial => 'conversations/contribution_tool', :locals => { :conversation => @conversation, :contribution => @contribution }

    .aside.supplementary
      =render :partial => '/search/search', :locals => {:filter_type => 'conversations'} 
      - if @conversation.content_items.size > 0
        .mod
          %h3 Related To
          .mod-content
            %ul.link-list
              -@conversation.content_items.each do |content_item|
                %li.issue-list
                  =link_to(content_item.title, path_to_content_item(content_item))

      - if @conversation.issues.size > 0
        .mod
          %h3 Issues
          .mod-content
            %ul.link-list
              -@conversation.issues.each do |issue|
                %li.issue-list
                  =link_to(issue.name, issue_path(issue))
      .mod
        %h3 Participants
        .mod-content
          .guides
            .photobank
              -@conversation.participants.select{ |p| @tlc_participants.include?(p.id) }.each do |participant|
                =conversation_profile(participant).html_safe
            %br.clear
          - if @conversation.participants.select{ |p| !@tlc_participants.include?(p.id) }.size > 0
            .other-participants
              .photobank
                -@conversation.participants.select{ |p| !@tlc_participants.include?(p.id) }.each do |participant|
                  =conversation_profile(participant).html_safe
      = render_recent_items_sidebar