- content_for :main do
  %h1= @conversation.title
  %p.conversation_description= @conversation.summary
  %select(name="comment[type]" id="comment_type")
    %option Official
    %option Other
  %textarea(name="comment[text]" id="comment_text" rows="3")
    Leave a comment...
  %a.button.tertiary(href="#" title="Save to the Stream") Save
  %hr
  %ul.event-details
    %li
      %strong Event:
      %em Roundtable Q&A 
    %li
      %strong When:
      May 24, 2010, 7:00 PM
    %li
      %strong Where:
      %a.text.button(href="#" title="City Club of Cleveland") City Club of Cleveland
  %ul.thread-list
    - @conversation.posts.each do |post|
      =render :partial => post.postable_type.downcase, :locals => { :postable => post.postable }
    %li
      .article.issue.conversation-ticker
        .date
          %p
            May
            %span.day 05
        %p Started discussing a new issue:
        %p
          %a(href="#" title="Starting talking about creating new jobs in Cuyahoga County")
            Creating New Jobs in Cuyahoga County
    %li
      .article.comment
        .meta
          .comment-type.unofficial
          %a.rating(href="#" title="Rate this comment") +0
        %img(src="/images/wilson-avatar-small.png" alt="Unofficial Comment from James Wilson")
        %p
          %a(href="#" title="James Wilson's Profile")
            %strong James Wilson
          %span.action commented:
        %p.content I can't believe Frank Jackson shows up to this event wearing a Yankee's hat. Seriously?
        %p
          %a.text.button.conversation-action(href="#" title="Reply") Reply
          %a(href="#" class="privileged" title="Delete this comment") Delete
      %ul 
        %li
          .article.comment
            .meta
              .comment-type.unofficial
              %a.rating(href="#" title="Rate this comment") +0
            %img(src="/images/wilson-avatar-small.png" alt="Unofficial Comment from James Wilson")
            %p
              %a(href="#" title="James Wilson's Profile")
                %strong James Wilson
              %span.action commented:
            %p.content I can't believe Frank Jackson shows up to this event wearing a Yankee's hat. Seriously?
            %p
              %a.text.button.conversation-action(href="#" title="Reply") Reply
              %a(href="#" class="privileged" title="Delete this comment") Delete    
-content_for :sidebar do
  .aside.guides
    %strong Guides
    %ul
      -@conversation.guides.each do |guide|
        %li
          %a{:href=>"#", :title=>"#{guide.name}"} guide.name
          = delete_button_for(:guide_id => guide.id)       
    %a(href="#" title="Add Guide" class="privileged") Add Guide
  .aside.spotlight
    %strong Spotlight
    %ul
      %li
        %a(href="#" title="Frank Jackson") Frank Jackson
        = delete_button_for(:spotlight_id => 3)
      %li
        %a(href="#" title="Jane Campbell") Jane Campbell
        = delete_button_for(:spotlight_id => 4)
      %li
        %a(href="#" title="Michael White") Michael White
        = delete_button_for(:spotlight_id => 5)
    %a(href="#" title="Add Guide" class="privileged") Add to Spotlight
