- content_for :document_ready do
  $("#conversation_1_comment_input").customTabs();

- content_for :main do
  %div(id="show_conversation")
    %h1= @conversation.title
    - if @conversation.image
      %img{:src => @conversation.image.url(:normal), :alt => " [image for " + (@conversation.title || "conversation") + "] "}
    %p.conversation_description= @conversation.summary
    - if person_signed_in?
      =render :partial => "tabbed_post_box"      
    %input{:type=>"hidden", :id=>"conversation_id", :value=>"#{@conversation.id}"}
    %input{:type=>"hidden", :id=>"post_model_type", :value=>"Comment"}
    %span(id="conversation_rating")
      - if person_signed_in?    
        %a.rating{:class=>"rating_down hide toggle", :href=>"#", :title=>"Rate this comment -1", :onclick=>"RateConversation(#{@conversation.id}, -1);"} -1
      %a.rating(href="#" title="Rate this comment" class="current_rating")=format_rating(@conversation)
      - if person_signed_in?    
        %a.rating{:class=>"rating_up hide toggle", :href=>"#", :title=>"Rate this comment +1", :onclick=>"RateConversation(#{@conversation.id}, +1);"} +1
    %span (This is the conversation rating until we get a mockup for it)
    %hr
    %ul.thread-list
      - @conversation.comments.order('created_at DESC').each do |post|
        =render :partial => post.postable_type.downcase, :locals => { :postable => post.postable }

-content_for :sidebar do
  .aside.guides
    %strong Guides
    %ul
      -@conversation.guides.each do |guide|
        %li
          %a{:href=>"#", :title=>"#{guide.name}"} guide.name
          = delete_button_for(:guide_id => guide.id)       
    %a(href="#" title="Add Guide" class="privileged") Add Guide
  .aside.spotlight
    %strong Spotlight
    %ul
      %li
        %a(href="#" title="Frank Jackson") Frank Jackson
        = delete_button_for(:spotlight_id => 3)
      %li
        %a(href="#" title="Jane Campbell") Jane Campbell
        = delete_button_for(:spotlight_id => 4)
      %li
        %a(href="#" title="Michael White") Michael White
        = delete_button_for(:spotlight_id => 5)
    %a(href="#" title="Add Guide" class="privileged") Add to Spotlight
    - content_for :header do 
      = javascript_include_tag 'lib/conversations/show'
