- content_for :header do 
  = javascript_include_tag('lib/conversations/show')
  = javascript_include_tag('lib/subscriptions/show')

- content_for :main do
  .feature-mast
    .wrapper
      .content-container
        .main-content
          %img.featured{ :class => "main-img", :src => @conversation.image.url(:panel), :alt => @conversation.title, :width => "120", :height => "80" }
          %h1= @conversation.title
          %p.convo-meta
            %strong XX people
            are engaged, last activity
            %strong XX days ago
        .aside.supplementary
          %p
            %span#subscription
              = render :partial => '/subscriptions/subscription', :locals => {:subscribable => @conversation}
          %p
            = link_to("Post to this Conversation", {:action => "new_node_contribution", :id => @conversation.id, :div_id => "conversation-#{@conversation.id}"}, :class => "text button conversation-action", :id => "conversation-action-link-#{@conversation.id}", :title => "Leave a comment here", 'data-target' => "#conversation-action-div-#{@conversation.id}", :remote => true)
  .wrapper
    .content-container
      .main-content
        #show_conversation
          %input{:type=>"hidden", :id=>"conversation_id", :value=>"#{@conversation.id}"}
          %input{:type=>"hidden", :id=>"post_model_type", :value=>"Comment"}
          -#
            %span(id="conversation_rating")
              - if person_signed_in?    
                %a.rating{:class=>"rating_down hide toggle", :href=>"#", :title=>"Rate this comment -1", :onclick=>"RateConversation(#{@conversation.id}, -1);"} -1
              %a.rating(href="#" title="Rate this comment" class="current_rating")=format_rating(@conversation)
              - if person_signed_in?    
                %a.rating{:class=>"rating_up hide toggle", :href=>"#", :title=>"Rate this comment +1", :onclick=>"RateConversation(#{@conversation.id}, +1);"} +1
            %span (This is the conversation rating until we get a mockup for it)
          %ol.conversations.divided
            - @top_level_contributions.each do |contribution|
              =render :partial => "conversations/contributions/#{contribution.type.underscore}", :locals => { :contribution => contribution }
          %ol.conversations.divided.thread-list
            %div{:id => "conversation-action-div-#{@conversation.id}"}
            - @contributions.each do |contribution|
              =render :partial => "conversations/contributions/threaded_contribution_template", :locals => { :contribution => contribution }

      .aside.supplementary
        .mod
          %h3 Summary
          .mod-content
            %p= @conversation.summary
        .mod
          %h3 Issues
          .mod-content
            %ul.link-list
              -@conversation.issues.each do |issue|
                %li.issue-list
                  =link_to(issue.name, issue_path)
        .mod
          %h3 Leaders
          .mod-content
            %ul.link-list
              -@conversation.guides.each do |guide|
                %li.guide-list
                  contribution_profile(guide)
