<div class = 'survey-option contrib_tool_container'>
  <div class="field">
    <%= option.text_field :title, :class => 'textbox option-title', :placeholder => "Title of option", :style => 'width: 563px' %>
  </div>
  <div class="field">
    <%# option.cktext_area :description, :cols => '40', :rows => '10', :input_html => {:class => 'short textbox cktextarea', :style => 'width: 563px;', :placeholder => 'Description'} %>
    <%= option.text_area :description, :cols => '40', :rows => '10', :class => 'short textbox cktextarea option-description', :style => 'width: 563px;', :placeholder => 'Description' %>
  </div>
  <p class="alert alert-admin"><%= link_to_function 'Move option','return false;', :class => 'sort-option' %> <%= link_to_function('Delete option',"delete_option($(this))") %> </p>
  
  <%= option.hidden_field :position, :class => 'option-position' %> 
  
  <%= option.hidden_field :nested %>
</div>

