<div class = 'survey-option contrib_tool_container'>
  <div class="field">
    <%= option.text_field :title, :class => 'textbox', :placeholder => "Title of option", :style => 'width: 563px' %>
  </div>
  <div class="field">
    <%= option.cktext_area :description, :cols => '40', :rows => '20', :input_html => {:class => 'short textbox', :style => 'width: 563px;', :placeholder => 'Description'} %>
  </div>
  <p class="alert alert-admin delete"><%= link_to_function('Delete option',"delete_option($(this))") %> </p>
  <!-- will be used for sorting of vote options ticket #528 -->
  <%= option.hidden_field :position, :class => 'option-position' %> 
  
  <%= option.hidden_field :nested %>
</div>

