%h2 Conversations
%table{:id => "conversations"}(summary="List of Conversations") 
  %thead  
    %tr
      %th
      %th Conversation Title
      %th Created Date
      %th Staff Pick
      %th(colspan="2") Actions
  %tbody
    - @conversations.each do |conversation|
      %tr
        %td.handle &#11021;
        %td= link_to conversation.title, admin_conversation_path(conversation)
        %td= conversation.created_at.strftime("%m-%d-%Y")
        %td= toggle_staff_pick_link(conversation)
        %td= link_to "Edit", edit_admin_conversation_path(conversation)
        %td= link_to "Delete", admin_conversation_url(conversation), :method => :delete, :confirm => "Are you sure?"
:javascript
  // Return a helper with preserved width of cells
  var fixTableRowHelper = function(e, ui) {
    ui.children().each(function() {
      $(this).width($(this).width());
    });
    return ui;
  };
  $(document).ready(function(){
    $("#conversations tbody").sortable({
      axis: "y",
      containment: "#conversations tbody",
      cursor: "move",
      handle: ".handle",
      helper: fixTableRowHelper
    }).disableSelection();
  });
%br
