%article
  %header
    %h1= @conversation.title
    %h2= "This Conversation is being moderated by: #{@conversation.moderator.full_name}"
  %section
    %header 
      %h2 Summary:
    %div= image_tag @conversation.image.url(:normal), :alt => 'Blue Angels' 
    = @conversation.summary
  %section 
    %header
      %h2 Top Node/Contributions:
    - # TODO - we should really be iterating over top level contributions only
    - @conversation.contributions.each do |c|
      = c.person.full_name + ":"
      %br
      = c.content
      %hr
  %footer
    %p= "This conversation was started at: #{@conversation.started_at}"
    -if @conversation.finished_at
      %p= "This conversation was concluded at: #{@conversation.finished_at}"
   
  
=link_to "Back", admin_conversations_path
|
=link_to "Edit", edit_admin_conversation_path(@conversation)