%p= link_to "Go to the perma link page", conversation_path(@conversation), :id => 'perma-link'
=link_to "Back", admin_conversations_path
|
=link_to "Edit", edit_admin_conversation_path(@conversation)
%article
  %header
    %h1= @conversation.title
    /%h2= "This Conversation is being moderated by: #{@conversation.moderator.name}"
  = render :partial => "/admin/shared/show_meta_info", :locals => {:meta_object => @conversation }
  %section
    %header
      %h2 Summary:
    %div= image_tag @conversation.image.url(:normal)
    = @conversation.summary
  %section
    %header
      %h2 Top Node/Contributions:
    -@conversation.top_level_contributions.each do |c|
      = c.person.name + ":"
      %br
      = raw c.content
      %hr
  %footer
    %p= "This conversation was started at: #{@conversation.created_at}"
    %p
      Related Issues:
      %ul
        - @conversation.issues.each do |issue|
          %li= issue.name


%br
=link_to "Back", admin_conversations_path
|
=link_to "Edit", edit_admin_conversation_path(@conversation)
