%h2 Topics
%table.topics.tablesorter(summary="List of Topics") 
  %thead  
    %tr
      %th ID
      %th Name
      %th(colspan="2") Actions
  %tbody
    - @topics.each do |topic|
      %tr{"data-topic-id" => topic.id}
        %td= topic.id
        %td= link_to truncate(topic.name), admin_topic_path(topic), :title=> topic.name
        %td= link_to "Edit", edit_admin_topic_path(topic)
        %td= link_to "Delete", admin_topic_url(topic), :method => :delete, :confirm => "Are you sure?"

%br
= link_to 'Add Topic', new_admin_topic_path
