<li>
  <div class="media">
    <%= profile_image(notification.person, 20, 'img') %>
    <div class="bd">
      <a href="<%= conversation_petition_path(item.conversation, item, :anchor => 'opportunity-nav') %>">
        <p><strong><%= notification.person_name %></strong> created a petition <%= item.title %> and said: "<%= notification.item_content %>"</p>
      </a>
    </div>
  </div>
</li>
