<li>
<a href="<%= conversation_petition(item.conversation, item) %>">
  <div class="media">
    <%= profile_image(notification.person, 20, 'img') %>
    <div class="bd">
      <p><strong><%= notification.person_name %></strong> created a petition <%= item.title %> and said: "<%= notification.item_content %>"</p>
    </div>
  </div>
</a>
</li>
