<% content_for :header do %>
  <%= javascript_include_tag :ckeditor %>
<% end %>

<%= form_for [@conversation, @reflection] do |reflection_form| %>
  <% if @reflection.errors.any? %>
    <div class="alert alert-error mbl">
      <h4>There were errors saving this petition.</h4>
    </div>
  <% end %>

  <fieldset class="form-group top-align">
    <div class="form-block">
      <%= reflection_form.label :'title:' %><br />
      <%= reflection_form.text_field :title, :class => 'textbox', :size => '30' %>
    </div>
    <div class="form-block">
      <label for="reflection_title">Your Reflection:</label>
      <%= reflection_form.cktext_area :details, :class => 'short textbox', :cols => '40', :rows => '20' %>
    </div>
    <div class="form-block">
      <%= reflection_form.submit :class => 'submit', :value => 'Publish' %> or &nbsp;
      <%= link_to 'Cancel', [@conversation, @reflection], :id => 'cancel-reflection' %>
    </div>
    <%= hidden_field(:reflection, :conversation_id) %>
    <%= hidden_field(:reflection, :owner) %>
  </fieldset>


</div><!-- /.main-content -->

<div class='aside supplementary'>
  <%#= render partial: 'participated_actions', locals: {:petitions => current_person.signed_petitions} %>
<div class="mod">
  <p><strong>You participated in the following actions, would you like to reference them in your reflection?</strong></p>
  <div class="media inset">
    <% current_person.signed_petitions.each do |petition| %>
        <div class="bd">
        <%= check_box_tag 'reflection[petition_ids][]', petition.id, @reflection.petition_ids.include?(petition.id) %>
          <strong><%= petition.title %></strong>
        </div>
    <% end %>
  </div>
</div>

</div>

<% end %>
