<div class="entry-container reverse">
  <div class="entry-meta">
    <h3><a href='<%= conversation_reflection_path(conversation_id: conversation.id, id: reflection) %>'><%= reflection.title %></a></h3>
  </div>
  <div class="entry-details full">
    <p><strong>Posted by: <%= text_profile(reflection.owner) %></strong> on <%= reflection.created_at.to_date.to_s(:long) %></p>
    <p><%= raw reflection.details %></p>
    <p>
      <%= link_to pluralize(reflection.comments.count, 'comment'), conversation_reflection_path(conversation_id: conversation.id, id: reflection, anchor: 'comments') %> | <%= link_to "Leave a comment", conversation_reflection_path(conversation_id: conversation.id, id: reflection, anchor: 'new_comment') %>
    </p>
  </div>
</div>

