<div class="entry-container reverse" data-vote-id="<%= vote.id %>">
  <div class="entry-meta">

    <h3><%= link_to vote.title, [@conversation, vote] %></h3>
    <p class="entry-contrib" title="<%= pluralize(vote.participants.count,'voters') %>"><%= vote.participants.count %></p>
  </div>
  <div class="entry-details full">
    <p class="entry-tags">Proposed by: <%= text_profile(vote.person) %> on <%= vote.created_at.to_date.to_s(:long) %>.</p>
    <div class="wysiwyg-formatted">
      <%= raw vote.description %>
    </div>
  </div>
</div>