<div class="wrapper">
  <div class="content-container">

    <div class="main-content">
      <%= render :partial => '/actions/action', :collection => @actions %>
    </div><!-- /.main-content -->

    <div class="aside supplementary">
        <div class="mod">
          <%= link_to 'Create a Vote',new_conversation_vote_path(@conversation, :anchor => 'opportunity-nav'), :class => 'button wide-button mbm' %>
          <%= link_to 'Write a Petition', new_conversation_petition_path(@conversation, :anchor => 'opportunity-nav'), :class => 'button wide-button' %>
        </div>

      <% if @conversation.issues.standard_issue.size > 0 %>
        <%= render :partial => '/conversations/side_issues', :object => @conversation, :as => :conversation %>
      <% end %>
      <%= render :partial => '/shared/opportunity/side_participants', :locals => {participants: @participants} %>
  </div>
</div>

