:javascript
  $(document).ready(function(){
    var terms = $('#terms');
    var person_form = $('#person_new');
    var submit = person_form.find("input.submit");
    submit.click(function(){
      $('div.main > div.header > p').hide()
      person_form.hide();
      terms.show();
      return false;
    });

    terms.find("input.submit").click(function(){
      person_form.submit();
    });

  });
.feature-mast
  .wrapper
    .content-containter
      %h1 Sign up
      %p
        Want to join the conversation? Lets get the formalities out of the way.
.wrapper
  .main.section
    = form_for(form_presenter, :as => resource_name, :url => secure_registration_url(resource_name), :html => { :multipart => 'true', :class => "register" }) do |f|
      %fieldset.form-group
        .form-block
          = f.label :name, 'Your name:'
          = f.text_field :name, :placeholder => 'Johnny Appleseed', :class => "textbox"
        .form-block
          = f.label :email, 'Email Address:'
          = f.text_field :email, :placeholder => 'me@johnnyappleseed.com', :class => "textbox ", :maxlength => 255
        .form-block
          = f.label :zipcode, 'Zip Code:'
          = f.text_field :zip_code, :placeholder => '44101-9999', :class => "textbox ", :maxlength => 10
        .form-block
          = f.label :avatar, 'Upload an Image:'
          -# Bug with Paperclip:
          -# http://groups.google.com/group/paperclip-plugin/browse_thread/thread/eb08ef344c6b9a68
          -# Errors end up on :avatar_file_name and not :avatar which do not
          -# get automagically picked up by Rails Field Errors
          - if form_presenter.errors[:avatar_file_name].any? || form_presenter.errors[:avatar_content_type].any?
            %span.field-with-error
              = f.file_field :avatar, :class => "textbox"
            %span.validation-error
              %nbsp
              = form_presenter.errors[:avatar_file_name].join(", ")    if form_presenter.errors[:avatar_file_name].any?
              = form_presenter.errors[:avatar_content_type].join(", ") if form_presenter.errors[:avatar_content_type].any?
          - else
            = f.file_field :avatar, :class => "textbox"
      %fieldset.form-group
        .form-block
          = f.label :password, 'Password:'
          = f.password_field :password, :class => "textbox small"
        .form-block
          = f.label :password_confirmation, "Password Again:"
          = f.password_field :password_confirmation, :class => "textbox small"
      %fieldset.footer
        = succeed 'or' do
          = f.submit 'Continue', :class => "submit"
        %a.cancel(href="/" title="Cancel Registration") cancel
    %div#terms(style="display: none;")
      %fieldset.form-group
        %p.friendly-alert
          Hey, just so you know, the Commons runs by these principles. Take a |
          look, click below, and we’ll send you a confirmation email. (by the |
          way, if you don't get that email, check your spam folder)
        = succeed 'or' do
          = submit_tag "I am Totally on Board", :class => "submit no-tab"
        %a.cancel(href="/" title="Cancel Registration") I Don't Like Civility
      = render :partial => "static_pages/principles_list"
