<%= content_for :header do %>
  <%= javascript_include_tag 'lib/registrations' %>
  <%= javascript_include_tag "lib/registration_page" %>
<% end %>
<div class="wrapper">
  <div class="content-container">
    <h1>Register</h1>
    <%= form_for(form_presenter, :as => resource_name, :url => secure_registration_url(resource_name), :method => "post", "data-remote" => 'true', :html => { :multipart => 'true', :class => "register" }) do |f| %>
      <% resource.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      <%= f.fields_for :authentications do |authentication_form| %>
        <%= authentication_form.hidden_field :token %>
        <%= authentication_form.hidden_field :uid %>
        <%= authentication_form.hidden_field :provider %>
      <% end %>
      <fieldset class="regular-reg <%= 'show' if form_presenter.show_normal_fields? %>">
        <div class="form-block">
          <%= f.label :first_name, 'Your Name:' %>
          <%= f.text_field :first_name, :class => 'textbox first-name'%>
          <%= f.text_field :last_name, :class => 'textbox last-name'%>
          <span class="required">*</span>
        </div>
        <div class="form-block">
          <%= f.label :email, 'Email Address:' %>
          <%= f.text_field :email, :class => 'textbox'%>
          <span class="required">*</span>
        </div>
        <div class="form-block <%= 'hide' if form_presenter.show_facebook_fields? %>">
          <%= f.label :password %>
          <%= f.password_field :password, :class=> 'textbox' %>
          <span class="required">*</span>
        </div>
        <div class="form-block <%= 'hide' if form_presenter.show_facebook_fields? %>">
          <%= f.label :password_confirmation, 'Password Again:' %>
          <%= f.password_field :password_confirmation, :class=> 'textbox' %>
          <span class="required">*</span>
        </div>
        <div class="form-block <%= 'hide' if form_presenter.show_facebook_fields? %>">
          <%= f.label :avatar, "Your Photo:" %>
          <%= f.file_field :avatar, :class => 'textbox' %>
        </div>
      </fieldset>
      <fieldset>
        <div class="form-block">
          <%= f.label :bio, 'Tell us a little about yourself:' %>
          <%= f.text_area :bio, class: 'textbox', rows: 10 %>
        </div>
        <div class="form-block">
          <%= f.label :zip_code, 'Zipcode:' %>
          <%= f.text_field :zip_code, class: 'textbox' %>
          <span class="required">*</span>
        </div>
        <div class="form-block">
          <%= f.check_box :daily_digest, class: 'checkbox' %>
          <%= f.label :daily_digest, 'Yes, please send me the digest of activity relevant to my interests', class: 'checkbox' %>
        </div>
        <div class="form-block">
          <%= f.check_box :weekly_newsletter, class: 'checkbox' %>
          <%= f.label :weekly_newsletter, 'Yes, please send me The Civic Commons weekly newsletter', class: 'checkbox' %>
        </div>
      </fieldset>
      <div class="form-block facebook-auth <%= 'hide' unless form_presenter.blank_form? %>">
        <%= link_with_facebook_link %>
        or
        <%= link_to "I don't have a Facebook account", '#', :class => 'no-fb' %>
      </div>
      <div class="form-block regular-reg <%= 'show' unless form_presenter.blank_form? %>">
        <%= f.submit "Continue", :class => 'submit' %> 
        or
        <%= link_to 'Cancel', '/', :class=> 'cancel' %>
      </div>
    <% end %>
  </div>
</div>
