<%= content_for :header do %>
  <%# javascript_include_tag 'lib/registrations' %>
  <%# javascript_include_tag "lib/registration_page" %>
<% end %>
<div class="wrapper">
  <div class="content-container">
    <h1>Register for an Org</h1>
    <%= form_for(form_presenter, :as => resource_name, :url => secure_registration_url(resource_name), :method => "post", "data-remote" => 'true', :html => { :multipart => 'true', :class => "register" }) do |f| %>
      <% resource.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      <fieldset class="">
        <div class="form-block">
          <%= f.label :name, 'Name of Organization:' %>
          <%= f.text_field :name, :class => 'textbox'%>
          <span class="required">*</span>
        </div>
        <div class="form-block">
          <%= f.label :email, 'Email Address:' %>
          <%= f.text_field :email, :class => 'textbox'%>
          <span class="required">*</span>
        </div>
        <div class="form-block">
          <%= f.check_box :authorized_to_setup_an_account, class: 'checkbox' %>
          <%= f.label :authorized_to_setup_an_account, 'I am authorized to setup an account for this organization', class: 'checkbox' %><span class="required">*</span>
        </div>
        
        
        <div class="form-block">
          <%= f.label :password %>
          <%= f.password_field :password, :class=> 'textbox' %>
          <span class="required">*</span>
        </div>
        <div class="form-block">
          <%= f.label :password_confirmation, 'Password Again:' %>
          <%= f.password_field :password_confirmation, :class=> 'textbox' %>
          <span class="required">*</span>
        </div>
        <div class="form-block">
          <%= f.label :avatar, "Company Logo:" %>
          <%= f.file_field :avatar, :class => 'textbox' %>
        </div>
      </fieldset>
      <fieldset>
        <div class="form-block">
          <%= f.label :bio, 'Tell us a little about your company:' %>
          <%= f.text_area :bio, class: 'textbox', rows: 10 %>
        </div>
        <div class="form-block">
          <%= f.label :zip_code, 'Zipcode:' %>
          <%= f.text_field :zip_code, class: 'textbox' %>
          <span class="required">*</span>
        </div>
        <div class="form-block">
          <%= f.check_box :daily_digest, class: 'checkbox' %>
          <%= f.label :daily_digest, 'Yes, please send me the digest of activity relevant to my interests', class: 'checkbox' %>
        </div>
        <div class="form-block">
          <%= f.check_box :weekly_newsletter, class: 'checkbox' %>
          <%= f.label :weekly_newsletter, 'Yes, please send me The Civic Commons weekly newsletter', class: 'checkbox' %>
        </div>
      </fieldset>
      <div class="form-block">
        <%= f.submit "Continue", :class => 'submit' %> 
        or
        <%= link_to 'Cancel', '/', :class=> 'cancel' %>
      </div>
    <% end %>
  </div>
</div>


