<%
  link_text = '"'
  link_text << truncate( Sanitize.clean( blog_post.summary, :remove_contents => ['script'] ).strip, :length => 100, :separator => ' ' )
  link_text << '"'
%>
<div class="recent-item blog-post">

  <h4><%= link_to blog_post.title, blog_path(blog_post) %></h4>

  <div class="offset-2">
    <%= avatar_profile(blog_post.author, 40) %>
    <p><span class="posted">Posted by <%= link_to(blog_post.author.name, user_url(blog_post.author)) %> on <%= format_publish_date(blog_post) %></span></p>
    <p><%= link_text %></p>
    <p><%= link_to("Continue Reading", blog_path(blog_post), :class => "read-more") %></p>
  </div>

</div>
