<%
  link_text = '"'
  link_text << truncate( Sanitize.clean( blog_post.summary, :remove_contents => ['script'] ).strip, :length => 100, :separator => ' ' )
  link_text << '"'
%>
<div class="recent-item blog-post">

  <h4><%= link_to blog_post.title, blog_url(blog_post) %></h4>

  <div class="offset-2">
    <%= avatar_profile(blog_post.author, 40) %>
    <p>
      <strong><%= link_to(blog_post.author_name, user_url(blog_post.author)) %></strong> -
      <%= link_text %>
    </p>
    <p><%= link_to("Continue Reading", blog_url(blog_post), :class => "read-more") %></p>
  </div>

</div>
