<% if contribution.person %>
  <span class="item-person-name">
    <%= person_display_name( contribution.person ) %>
    -&nbsp;
  </span>
<% end %>

<% if contribution.content %>
  <%= simple_format( truncate( contribution.content, :length => 100, :separator => ' ' ) ) %>
<% else %>
  <p>
    <%= contribution_action_past_tense( contribution.type ) %>.
  </p>
<% end %>

<% if contribution.issue && ! ( controller.controller_name == 'issues' && controller.action_name == 'show' ) %>
  <span class="posted">
    Posted on:
    <%= link_to( contribution.issue.name, issue_path( contribution.issue ) ) %>
  </span>
<% elsif contribution.conversation %>
  <span class="posted">
    Posted on:
    <%= link_to( contribution.conversation.title, conversation_node_path( contribution ) ) %>
  </span>
<% end %>
