<%
  link_text = '"'
  link_text << truncate( Sanitize.clean( conversation.summary, :remove_contents => ['script'] ).strip, :length => embed_activity_length, :separator => ' ' )
  link_text << '"'
%>
<div class="recent-item conversation">
  <h4><%= link_to( conversation.title, conversation_url(conversation)) %></h4>
  <div class="offset-2">
    <%= avatar_profile(conversation.person, 40) %>
    <p>
      <strong><%= link_to(conversation.person_name, user_url(conversation.person)) %></strong> -
      <%= link_text %>
    </p>
    <p><%= link_to("Continue Reading", conversation_url(conversation), :class => "read-more") %></p>
  </div>
</div>