<p>
  <%= rating_group.person.name %> rated a response from <%= rating_group.contribution.person.name %> as <strong><%= rating_group.ratings_titles.to_sentence %></strong>:
</p>

<p>
  <%= link_to( "\"#{truncate( rating_group.contribution.content, :length => 100, :separator => ' ' )}\"", conversation_node_path(rating_group.contribution) ) %>
</p>

<% unless controller.controller_name == 'conversations' && controller.action_name == 'show' %>
  <span class="posted">
    Posted on: <%= link_to( rating_group.conversation.title, conversation_path(rating_group.contribution.conversation) ) %>
  </span>
<% end %>
