<p>
  <%# TODO:  Refactor model call %>
  <%
    contribution = Contribution.find(rating_group.contribution_id)
    conversation = Conversation.find(rating_group.conversation_id)
    rating = Rating.find_by_rating_group_id(rating_group.id)
  %>
  <%= rating_group.person.name %> rated a response from <%= contribution.person.name %> as <strong><%= rating && rating.rating_descriptor.title %></strong>:
</p>

<p>
  <%= link_to( "\"#{truncate( Sanitize.clean( contribution.content, :remove_contents => ['script'] ).strip, :length => 100, :separator => ' ' )}\"", conversation_node_path(contribution) ) %>
</p>

<% unless controller.controller_name == 'conversations' && controller.action_name == 'show' %>
  <span class="posted">
    Posted on: <%= link_to( conversation.title, conversation_path(contribution.conversation.id) ) %>
  </span>
<% end %>
