.recent-item
  - if recent_item.respond_to?(:person)
    %span.item-person-name
      = person_display_name(recent_item.person)
      \-&nbsp;
      /= contribution_action_past_tense(recent_item.type)
  - else
    = "#{recent_item.class} was created."
  - if recent_item.respond_to?(:content)
    = simple_format(truncate(recent_item.content, :length => 100, :separator => ' '))
  - if recent_item.respond_to?(:issue) && recent_item.issue && ! (controller.controller_name == 'issues' && controller.action_name == 'show')
    %span.posted
      Posted on:
      = link_to(recent_item.issue.title, issue_path(recent_item.issue))
  - if recent_item.respond_to?(:conversation) && recent_item.conversation && ! (controller.controller_name == 'conversations' && controller.action_name == 'show')
    %span.posted
      Posted on:
      = link_to(recent_item.conversation.title, conversation_path(recent_item.conversation))
