%h1 Create a New Event
= form_for(@event) do |f|
  %fieldset.form-group
    .form-block
      = f.label :title, 'Name'
      = f.text_field :title, :placeholder => 'Picnic in the Park', :class=>"textbox"
    .form-block
      = f.label :when
      = f.text_field :when, :class => "textbox datetime", :placeholder => Time.now.to_s(:long_friendly)
    .form-block
      = f.label :where
      = f.text_field :where, :placeholder => 'Central Park', :class=>"textbox"
    .form-block
      = f.label :moderator_id, "Moderator"
      = f.collection_select :moderator_id, Person.all, :id, :name
  %fieldset.footer
    .form-block
      %p
        - succeed "or" do
          = f.submit 'Create Event', :class => "submit"
        %a.cancel(href="#") cancel
