<% content_for :header do %>
  <%= auto_discovery_link_tag(:rss, "http://feeds.theciviccommons.com/civiccommonsnews", { :title => "The Civic Commons In The News" } ) %>
<% end %>

<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <h1>In The News</h1>

      <div class="main-content">
        <% @news_items.each do |news_item| %>

          <div class="in-the-news-post"> 
            <h2> 
              <%= link_to news_item.title, news_item.external_link, :title => news_item.title, :target => "blank" %>
            </h2> 
            <p><%= news_item.published.strftime('%B %d, %Y') %></p> 
            <p><%= raw news_item.body %></p>
            <p><%= link_to 'Read more...', news_item.external_link, :title => news_item.title, :target => "blank" %></p> 
            <% unless news_item.embed_code.blank? %>
              <p><%= raw news_item.embed_code %></p>
            <% end %>
          </div> 

        <% end %>
        <%= will_paginate @news_items, :inner_window => 3, :previous_label => "Previous", :next_label => "Next" %>
      </div>

    </div>
  </div>
<% end %>
