<%
  parent_contribution = contribution.parent
%>
<div class="divided">
  <div class="recent-item contribution">
    <h4><%= contribution.item.title if contribution.item %></h4>
    <p>
    <strong>I <%= link_to("responded to #{contribution.parent ? contribution.parent.person.name : contribution.item.title }", url_to_contribution(contribution)) %></strong>:
      <%= truncate( Sanitize.clean( contribution.content, :remove_contents => ['script'] ).strip, :length => 100, :separator => ' ' ) %>
    </p>
    <% if parent_contribution && parent_contribution.content && !Sanitize.clean(parent_contribution.content).blank?  %>
      <div class="related-article call-out">
        <div class="offset-2">
          <img alt="<%= parent_contribution.person.name %>" class="callout" height="40" src="<%= parent_contribution.person.avatar(:medium) %>" title="<%= parent_contribution.person.name %>" width="40">
          <p>
          <%= truncate( Sanitize.clean( contribution.parent.try(:content), :remove_contents => ['script'] ).strip, :length => 225, :separator => ' ' ) unless contribution.parent.blank? %>
          <% if contribution.parent && contribution.parent.content.size > 225 %>
            <strong><%= link_to("Continue reading", url_to_contribution(contribution.parent)) %></strong>
          <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

