<%
  contribution = rating_group.contribution
  conversation = rating_group.conversation
  rating = rating_group.ratings.where(:updated_at => rating_group.updated_at).first

  puts "Contribution:#{contribution.id}"
  puts "Conversation:#{conversation.id}"
  puts "Rating:#{rating.id}"
%>
<div class="divided">
  <div class="recent-item rating">
    <h4><%= link_to( conversation.title, conversation_path(contribution.conversation.id) ) %></h4>
    <p>I rated a <%= link_to("response from #{ contribution.person.name }", conversation_node_path(contribution)) %> as <span class="rating-type"><%= rating && rating.title %></span></p>
    <div class="related-article call-out">
      <div class="offset-2">
        <img alt="<%= contribution.person.name %>" class="callout" height="40" src="<%= contribution.person.avatar(:medium) %>" title="<%= contribution.person.name %>" width="40">
        <p>
        <%= truncate( Sanitize.clean( contribution.content, :remove_contents => ['script'] ).strip, :length => 225, :separator => ' ' ) %>
        <% if contribution.parent && contribution.parent.content.size > 225 %>
          <strong><%= link_to("Continue reading", url_to_contribution(contribution.parent)) %></strong>
        <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

