<% content_for(:main_body) do%>
<div class="fb-auth before-facebook-unlinking fb-modal" id="auth-before-facebook-unlinking">
  <h2>Before you disconnect your account from Facebook....</h2>
  <p>
    <strong>
    Please enter the following information, which you will use to login to your account with The Civic Commons:
    </strong>
  </p>
  
  <%= form_for(:person, :url => process_facebook_unlinking_path, :remote => true, :html => {:id => 'ajax-before-facebook-unlinking-form', 'data-type' => 'html', :method => :delete}) do |f| %>
    <fieldset class="form-group">
      <div class="form-block">
        <%= f.label :email, 'Email:' %>
        <%= f.text_field :email, :class => 'textbox' %>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="form-block">
        <%= f.label :password, 'Password:' %>
        <%= f.password_field :password, :class => 'textbox' %>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="form-block">
        <%= f.label :password_confirmation, 'Password Again:' %>
        <%= f.password_field :password_confirmation, :class => 'textbox' %>
      </div>
    </fieldset>

    <fieldset class="footer">
      <%= f.submit 'Submit', :class => 'submit', :id => 'submit-unlink-from-facebook' %>
      <%= link_to 'cancel', secure_edit_user_url(current_person), :onclick => '$.colorbox.close(); return false;', :class => 'cancel' %>
    </fieldset>
  <% end %>
  
</div>
<% end %>