<div class="wrapper">
  <div class="content-container">
    <h1>Projects</h1>
    <div class="main-content">
      <% svc = ParticipationService.new %>
      <% @projects.each do |project| %>
        <div class="entry-container">
          <div class="entry-details">
            <a href="<%= issue_path(project) %>"><%= image_tag project.image.url(:panel) %></a>
            <h4><%= link_to project.name, issue_path(project) %></h4>
            <p><%= raw(truncate(project.index_summary, length: 255)) %></p>
          </div>
          <div class="entry-meta">
            <p class="entry-contrib"><%= pluralize(svc.participants_by_issue(project.id), "Participant") %></p>
            <p class="entry-conv"><%= pluralize(svc.conversations_by_issue(project.id), "Conversation") %></p>
          </div>
        </div>
      <% end %>
      <div class="pagination">
        <%= will_paginate @projects, :inner_window => 3, :previous_label => "Previous", :next_label => "Next" %>
      </div>
    </div><!-- /.main-content -->
    <div class='aside supplementary'>
      <%= render :partial => '/search/search', locals: { filter_type: 'projects' } %>
      <%= render_recent_items_sidebar %>
    </div><!-- /.aside -->
  </div><!-- /.content-container -->
</div>
