<% content_for :header do %>

  <%= javascript_include_tag 'vendor/tiny_mce/tiny_mce.js' %>
  <%= javascript_include_tag 'lib/jquery-plugins/jquery.tinymce.js' %>
  <%= javascript_include_tag 'lib/contributions/contribution_tool.js' %>

  <script type='text/javascript'> 
    //<![CDATA[

    $(document).ready(function() {
      $('form').scrubPlaceholderText();
      init_tiny_mce('#conversation_contributions_attributes_0_content');

      new ContributionTool({el: $('.contrib_tool_container').closest('form').parent()});
    }); // end document ready function

    //]]>
  </script>

<% end %>

<fieldset class="contrib_tool_container">
  <%= form.fields_for :contributions, contributions do |f| %>

    <p>
    <%= f.text_area(:content, :placeholder => "Leave a Comment...", :class => 'content') %>
    </p>

    <%= render partial: "contributions/contribution_attachment_fields", locals: { form: f } %>
    <fieldset class="errors">
      <ul class="errors"></ul>
    </fieldset>

  <% end %>

</fieldset>
