<% content_for :header do %>

  <%= javascript_include_tag 'vendor/tiny_mce/jquery.tinymce.js' %>
  <%= javascript_include_tag 'lib/contributions/contribution_tool.js' %>

  <script type='text/javascript'> 
    //<![CDATA[

    $(document).ready(function() {

      init_tiny_mce('#conversation_contributions_attributes_0_content');
      new ContributionTool({el: $('.contrib_tool_container').closest('form').parent()});
      
    }); // end document ready function

    //]]>
  </script>

<% end %>

<fieldset class="contrib_tool_container">
  <%= form.fields_for :contributions, contributions do |f| %>

    <p>
    <%= f.text_area(:content, :placeholder => "Leave a Comment...", :class => 'tinymce') %>
    </p>

    
    <div class="attachments">
      <div class="add-link"><div>
        <a href="#" id="contribution-add-link">Add a link to a related website</a>
        <%= f.text_field(:url, :type => "text", :class => "textbox hide link") %>
      </div></div>

      <div class="add-file"><div>
        <a href="#" id="contribution-add-file">Upload a photograph, document, or other file</a>
        <%= f.file_field(:attachment, :class=>"hide") %>
      </div></div>
    </div>
    
    <fieldset>
      <ul class="errors"></ul>
    </fieldset>
    

  <% end %>

</fieldset>
