<% content_for :header do %>

  <%= javascript_include_tag 'vendor/tiny_mce/jquery.tinymce.js' %>
  <%= javascript_include_tag 'lib/contributions/contribution_tool.js' %>

  <script type='text/javascript'> 
    //<![CDATA[

    $(document).ready(function() {

      enable_add_link_toggle($('#contribution-add-link'),
        $('#conversation_contributions_attributes_0_url'),
        $('#conversation_contributions_attributes_0_content')
      );

      enable_add_file_toggle($('#contribution-add-file'),
        $('#conversation_contributions_attributes_0_attachment'),
        $('#conversation_contributions_attributes_0_content')
      );

      init_tiny_mce('#conversation_contributions_attributes_0_content');

    }); // end document ready function

    //]]>
  </script>

<% end %>

<fieldset class="contrib_tool_container">
  <%= form.fields_for :contributions, contributions do |f| %>

    <p>
    <%= f.text_area(:content, :placeholder => "Leave a Comment...", :class => 'tinymce') %>
    </p>

    <p>
    <a href="#" id="contribution-add-link">Add a link to a related website</a>
    <br />
    <%= f.text_field(:url, :type => "text", :class => "textbox link", :style => 'display:none;') %>
    </p>

    <p>
    <a href="#" id="contribution-add-file">Upload a photograph, document, or other file</a>
    <br />
    <%= f.file_field(:attachment, :style => 'display:none;') %>
    </p>

  <% end %>

</fieldset>
