<fieldset class="form-group <%= issue_type.downcase %>s">
  <%= form.label :issues, "#{issue_type}(s)" %>
  <table>
    <% issues.alphabetical.each_slice(2) do |slice| %>
      <tr>
        <% slice.each do |issue| %>
          <td>
            <%= check_box_tag "conversation[issue_ids][]", issue.id,
              conversation.issues.include?(issue), { id: "conversation_issue_ids_#{issue.id}" } %>
            <label class="plain" for="conversation_issue_ids_<%= issue.id %>">
              <%= issue.name %>
            </label>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</fieldset>
