<%= content_for :main_body do %>
  <%= form_for @contribution, url: moderate_conversation_contribution_path(@contribution.conversation, @contribution), do |contribution| %>
    <p>
    Please explain why this content needs to be removed from The Commons
    </p>
    <div>
      <%= contribution.label :moderation_reason, 'Reason' %>
      <br />
      <%= contribution.text_area :moderation_reason %>
    </div>
    <div>
      <%= contribution.submit "Moderate" %>
    </div>
  <% end %>
<% end %>


