<%= form_for([:admin, @featured_opportunity]) do |f| %>
  <% if @featured_opportunity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@featured_opportunity.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @featured_opportunity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :conversation, '1. Select an conversation to feature: (Warning - changing this will reset the selections on step 2,3,4)' %><br />
    <%= f.select :conversation_id, options_from_collection_for_select(@conversations, 'id','title', f.object.try(:conversation_id)), :prompt => 'Select a Conversation'%>
  </div>
  <br/>

  <div class="field">
    <%= f.label :contributions, '2. Select a contribution to feature:' %><br />
    <div class="select_contribution">
      <%= render :partial => 'select_contribution_field', :collection => @featured_opportunity.contributions, :as => :contribution %>
    </div>
  </div>
  <br/>
  <div class="field">
    <%= f.label :actions, '3. Select an action to feature:' %><br />
    <div class="select_action">
      <%= render :partial => 'select_action_field', :collection => @featured_opportunity.actions, :as => :action %>
    </div>
  </div>
  <br/>

  <div class="field">
    <%= f.label :reflections, '4. Select a reflection to feature:' %><br />
    <div class="select_reflection">
      <%= render :partial => 'select_reflection_field', :collection => @featured_opportunity.reflections, :as => :reflection %>
    </div>
  </div>
  <br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $("#featured_opportunity_conversation_id").live('change',function(){
    var url = '<%= change_conversation_selection_admin_featured_opportunities_path(:format => :js)%>'
    var conversation_id = $('option:selected',$(this)).attr('value');
    $.get(url + '?conversation_id=' + conversation_id)
  })
</script>
