<% content_for :main_body do %>
<div class="wrapper">
  <div class="content-container">
    <div class="main-content">
      <div class="wide_content">
        <h1>Community</h1>
        <%= link_to "View by Name", community_path %> |
        <%= link_to "Recently Joined", community_path(:order => 'recent') %>
        <div class="community">
          <% @people.each do |person| %>
            <div id="<%=person.id %>" class ="buddyimg">
              <div class="img-container" id="imgcontainer_<%= person.id %>">
                <%= user_profile(person) %>
              </div>
              <div class="text-container" id="label_<%= person.id %>">
                <h4><%= link_to person.name, user_path(person), title: person.name%></h4>
              </div>
            </div>
          <% end %>

        <%= will_paginate @people, :inner_window => 3, :previous_label => "Previous", :next_label => "Next" %>
        </div>
      </div>
    </div>

    <div class="aside supplementary">
      <%= render :partial => 'regions/index' %>
    </div>
  </div>
</div>
<% end %>
