<% content_for :main_body do %>
  <div class="wrapper">
    <% unless @issue.present? %>
      <h1>Community</h1>
    <% else %>
      <h1>People Active in <%= link_to @issue.title, @issue %></h1>
    <% end %>
    
    <% if @subtitle %>
      <p class="subtitle">
        <%= @subtitle %>
      </p>
    <% end %>
    <div class="content-container">
      <div class="main-content">

        <!--
        <p>
        <%= link_to "View by Name", community_path %> |
        <%= link_to "Recently Joined", community_path(:order => 'recent') %>
        </p>

        <p>
        Last Name |
        <% ('A'..'Z').each do |letter| %>
          <%= link_to letter, community_path(:order => 'alpha', :letter => letter) %> |
        <% end %>
        </p>
        -->
        <div class="community">

          <% @community.each do |community_member| %>

            <div id="<%=community_member.id %>" class ="buddyimg">
              <div class="img-container" id="imgcontainer_<%= community_member.id %>">
                <%= user_profile(community_member) %>
              </div>
              <div class="text-container" id="label_<%= community_member.id %>">
                <h4><%= link_to community_member.display_name, user_path(community_member), title: community_member.name %></h4>
                <p><%= truncate(community_member.bio,:length => 290) if community_member.bio %></p>
              </div>

              <% if community_member.is_a?(Organization) && community_member.respond_to?(:members) %>
                <%= render :partial => "/community/photobank", :locals => {:members => community_member.members} %>
              <% end %>

            </div>

          <% end %>

          <%= will_paginate @community, :inner_window => 3, :previous_label => "Previous", :next_label => "Next" %>
        </div>
      </div>

      <div class="aside supplementary">


        <div class="mod">
          <h3>Filter by:</h3>
          <ul class="simple-list block-link-list">
            <li><%= community_site_people_filter_link('all') %></li>
            <li><%= community_site_people_filter_link('people') %></li>
            <li><%= community_site_people_filter_link('organizations') %></li>
          </ul>
        </div>

        <div class="mod">
          <h3>Sort By:</h3>
          <ul class="site-filter">
            <li><%= community_site_filter_link('newest-member') %></li>
            <li><%= community_site_filter_link('active-member') %></li>
            <li><%= community_site_filter_link('alphabetical') %></a></li>
          <!--li><a href="#" class="" id="persuasive-member">Most Persuasive</a></li-->
          <!--li><a href="#" class="" id="informative-member">Most Informative</a></li-->
          <!--li><a href="#" class="" id="inspiring-member">Most Inspiring</a></li-->
        </ul>
      </div>

    </div>

  </div>
<% end %>
