<% content_for(:main_body) do %>
<div class="wrapper">
  <div class="content-container">
    <div class="main-content">

      <h1>Change your password</h1>

      <p>Change your password: Please choose a new password, but here's the challenge — it must be at least six characters and start with the letter Q. (Just kidding, it doesn't have to start with the letter Q.)</p>

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
          <fieldset class="form-group">
				<div class="form-block">
					<%= f.label :password %>
					<%= f.password_field :password,  :class => 'textbox small' %>
				</div>
				<div class="form-block">
				
				</div>
				<div class="form-block">
					<%= f.label :password_confirmation %>
					<%= f.password_field :password_confirmation,  :class => 'textbox small' %>
				</div>
			</fieldset>
			<fieldset class="footer">
				<%= f.submit "Change my password", :class => 'submit' %>
			</fieldset>
      <% end %>
    </div>
  </div>
</div>

<% end %>
