<% content_for(:main_body) do %>
  <div class="feature-mast">
    <div class="wrapper">
      <div class="content-container">
        <div class="main-content">
          <h1>Forgot your password?</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
  
          <p>Forgot your password? Just tell us what email address you used when you registered and we’ll help you out.</p>
          <fieldset class="form-group top-align">
            <div class="form-block">
              <%= f.label :email %>
              <%= f.text_field :email, :placeholder => 'me@johnnyappleseed.com',  :class => 'textbox small' %>
            </div>
          </fieldset>
  
          <fieldset class="footer top-align">
            <%= f.submit "Send me reset password instructions", :class => 'submit' %> or <%= link_to "Cancel", new_session_path(resource_name) %>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
  <%= render :partial => '/shared/show_colorbox.js', :locals => {:path => fb_auth_forgot_password_path} if @fb_auth_forgot_password == true %>
<% end %>
