<h1><%= link_to @content_item.title, admin_content_item_content_items_people_path %></h1>
<h1>Add <%= @role %></h1>

<%= form_for :person, :url => admin_content_item_content_items_people_path, :method => :post do |f| %>
  <%= hidden_field_tag :role, @role %>
  <%= label_tag :person,'Person: ' %>
  <% ('A'..'Z').to_a.each do |alpha| %>
    <%= link_to_unless (@letter == alpha),  alpha,  request.parameters.merge({:letter => alpha}) %>
  <% end %>
  <%= link_to_unless (@letter == 'all'), 'All', request.parameters.merge({:letter => 'all'})  %>
  <br/><br/>
  <%= select_tag 'person_id', options_from_collection_for_select(@people, 'id', 'name'), :prompt => 'Select someone' %>
  <br/><br/>
  <%= submit_tag "Add this person as #{@role}" %>
<% end %>