<% contribution = ContributionPresenter.new(contribution) %>
<div class='<%= classes(contribution) %>'>
  <% unless contribution.title.nil? %>
    <%= link_to contribution.title, contribution.url %>
  <% end %>
  <% if contribution.has_attachment? %>
    <% if contribution.is_image? %>
      <%= image_tag contribution.attachment.url %>
    <% else %>
      <%= link_to(contribution.attachment_file_name, contribution.attachment.url, {:target => :blank}) %>
    <% end %>
  <% end %>
  <p><%= contribution.content.html_safe %></p>
  <p class="profile-meta">Contributed to <%= link_to(contribution.parent_title, contribution.node_path) %> on <%= contribution.created_at.strftime("%B %e, %Y") %></p>
</div>
