<% content_for :header do %>
  <%= auto_discovery_link_tag(:rss, user_url(@user, format: :xml), { :title => "#{@user.name} at The Civic Commons" } ) %>
<% end %>

<%= content_for :main_body do %>

  <div class="wrapper profile">
    <div class="content-container">
        <h1><%= @user.name %></h1>
      <div class="main-content">
        <div class="offset-1 profile-mast">
          <%= profile_image(@user, 70) %>
          <% if @user.bio.blank? && @user == current_person %>
            <p class="empty">Looks like you haven't filled out your bio&hellip; Head over to your <%= link_to_settings(current_person).html_safe.downcase %> and tell us a little bit about yourself.</p>
          <% elsif %>
            <p><%= @user.bio %></p>
          <% end %>
      </div>
      </div>
      <div class="aside">
        <% unless @user.website.blank? && @user.twitter_username.blank? %>
        <div class="mod call-out">
          <ul class="profile-extras">
            <% unless @user.website.blank? %>
              <li class="website-profile"><%= link_to @user.website, @user.website %></li>
             <% end %>
             <% unless @user.twitter_username.blank? %>
                <li class="twitter-profile"><%= link_to "@#{@user.twitter_username}", "http://twitter.com/#!/#{@user.twitter_username}" %></li>
             <% end %>
              <li class="fb-profile"><a href="#">bdielman</a></li>
          </ul>
        </div>
        <% end %>
      </div>
    </div>

    <div class="content-container">

      <div class="main-content">
        <h3>My Recent Activity</h3>
        <% if @recent_items.empty? %>
          <p><%= @user.name %> is just getting started</p>
        <% else %>
          <% @recent_items.each do |item| %>
            <%= render :partial => "/shared/my_recent_item", locals: { recent_item: item, type: item.class.to_s }%>
          <% end %>
          <div class="pagination">
            <%= will_paginate @recent_items, :inner_window => 3, previous_label: 'Previous', next_label: 'Next' %>
          </div>
        <% end %>
      </div>

      <div class="aside supplementary">

        <div class="mod" id="UserFollowingConversationsModule">
          <h3>Conversations I am Following</h3>
          <div class="mod-content">
            <ul class='link-list'>
              <% if @conversation_subscriptions.empty? %>
                <li><%= @user.name%> is just getting started</li>
              <% else %>
                <% @conversation_subscriptions.first(10).each do |conversation| %>
                  <li>
                  <%= link_to conversation.name, conversation_path(conversation.subscribable_id) %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="mod" id="UserFollowingIssuesModule">
          <h3>Issues I am Following</h3>
          <div class="mod-content">
            <ul class='link-list'>
              <% if @issue_subscriptions.empty? %>
                <li><%= @user.name %> is just getting started</li>
              <% else %>
                <% @issue_subscriptions.first(10).each do |issue| %>
                  <li>
                  <%= link_to issue.name, issue_path(issue.subscribable_id) %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>

      </div>

    </div>

  </div>
<% end %>
