<% content_for :header do %>
  <%= auto_discovery_link_tag(:rss, user_url(@user, format: :xml), { :title => "#{@user.name} at The Civic Commons" } ) %>
<% end %>

<%= content_for :main_body do %>

  <div class="wrapper">

    <div class="content-container">

      <div class="main-content profile">
		<div class="offset-1 profile-mast">
  		  <%= profile_image(@user, 70) %>
  		  <h1><%= @user.name %></h1>
  		  <ul class="profile-extras">
  		  	<% unless @user.website.blank? %>
  		    	<li class="website-profile"><%= link_to @user.website, @user.website %></li>
            <% end %>
            <% unless @user.twitter_username.blank? %>
              	<li class="twitter-profile"><%= link_to "@#{@user.twitter_username}", "http://twitter.com/#!/#{@user.twitter_username}" %></li>
            <% end %>
  		  </ul>
  		  <% unless @user.bio.blank? %>
  		        <p><%= @user.bio %></p>
  		  <% end %>
		</div>
        <div class="wide_content" id="UserContributionsModule">
          <h3>My Recent Activity</h3>
          <% if @recent_items.empty? %>
            <p><%= @user.name %> is just getting started</p>
          <% else %>
            <div class="divided">
              <% collection = ActivityPresenter.new(@recent_items) %>
              <% collection.each_with_type do |item, type| %>
                <%= render :partial => "/shared/recent_item", locals: { recent_item: item, type: type } %>
              <% end %>
            </div>
            <div class="pagination">
              <%= will_paginate @recent_items, :inner_window => 3, previous_label: 'Previous', next_label: 'Next' %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="aside supplementary">

        <% unless @user.twitter_username.blank? %>
          <div class="mod" id="TwitterProfileModule">
            <%= render :partial => 'shared/twitter_profile_widget', :locals => { :twitter_username => @user.twitter_username } %>
          </div>
        <% end %>

        <div class="mod" id="UserFollowingConversationsModule">
          <h3>Conversations I am Following</h3> 
          <div class="mod-content">
            <ul class='link-list'>
              <% if @conversation_subscriptions.empty? %>
                <li><%= @user.name%> is just getting started</li>
              <% else %>
                <% @conversation_subscriptions.each do |conversation| %>
                  <li>
                  <%= link_to conversation.name, conversation_path(conversation.subscribable_id) %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="mod" id="UserFollowingIssuesModule">
          <h3>Issues I am Following</h3> 
          <div class="mod-content">
            <ul class='link-list'>
              <% if @issue_subscriptions.empty? %>
                <li><%= @user.name %> is just getting started</li>
              <% else %>
                <% @issue_subscriptions.each do |issue| %>
                  <li>
                  <%= link_to issue.name, issue_path(issue.subscribable_id) %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>

      </div>

    </div>

  </div>
<% end %>
