%h2 EmailRestrictions
%table.topics.tablesorter(summary="List of Email Restrictions") 
  %thead  
    %tr
      %th ID
      %th Domain
      %th(colspan="2") Actions
  %tbody
    - @email_restrictions.each do |restriction|
      %tr{"data-topic-id" => restriction.id}
        %td= restriction.id
        %td= link_to truncate(restriction.domain), admin_email_restriction_path(restriction), :title=> restriction.domain
        %td= link_to "Edit", edit_admin_email_restriction_path(restriction)
        %td= link_to "Delete", admin_email_restriction_url(restriction), :method => :delete, :confirm => "Are you sure?"

%br
= link_to 'Add Email Restriction', new_admin_email_restriction_path
