<% content_for(:header) do %>
  <%= javascript_include_tag 'vendor/jquery.equalheights.js' %>
  <%= javascript_include_tag 'lib/surveys' %>
  <%= render :partial => '/shared/show_colorbox.js', :locals => {:path => successful_votes_path} if flash[:vote_successful] %>
<% end %>
<% content_for(:main_body) do %>
  <%= render :partial => "#{@surveyable.class.name.pluralize.underscore}/survey_header", :object => @surveyable if @surveyable %>
  <div class="wrapper">
    <div class="content-container">
      <h1>Voting Results</h1>
      <p><%= @survey.description %></p>
      <br/>
      <%= render :partial => '/surveys/result_bars' %>
      <%= render :partial => '/surveys/vote_form' %>
    </div>
  </div>
<% end %>