<% content_for(:header) do %>
  <%= javascript_include_tag 'vendor/jquery.equalheights.js' %>
  <%= javascript_include_tag 'lib/surveys' %>
<% end %>
<% content_for(:main_body) do %>
  <%= render :partial => "#{@surveyable.class.name.pluralize.underscore}/survey_header", :object => @surveyable if @surveyable %>
  <div class="wrapper">
    <div class="content-container">
      <div class="voting-container">
        
      
        <h1>Cast Your Vote</h1>
        <p><%= @survey.description %></p>
        <p><%= "This vote started on #{@survey.start_date && @survey.start_date.to_s(:long) || @survey.created_at.to_date.to_s(:long) } and will end on #{ @survey.end_date.to_s(:long)}" %> <%= "(#{pluralize(@survey.days_until_end_date,'day', 'days')} left)" if @survey.days_until_end_date %></p>
        <h4 class="tips">SELECT FROM THESE OPTIONS:</h4>
        <div class="survey-options">
          <div class="sortable">
            <%= render :partial => 'survey_options/survey_option_vote', :collection => @survey_response_presenter.available_options, :as => :option %>
          </div>
        </div>
        <%= render :partial => '/surveys/vote_form' %>
      </div>
    </div>
  </div>
<% end %>