<% content_for(:header) do %>
  <%= javascript_include_tag 'vendor/jquery.equalheights.js' %>
  <%= javascript_include_tag 'lib/surveys' %>
  <%= render :partial => '/shared/show_colorbox.js', :locals => {:path => successful_votes_path} if flash[:vote_successful] %>
<% end %>
<% content_for(:main_body) do %>
  <%= render :partial => "#{@surveyable.class.name.pluralize.underscore}/survey_header", :object => @surveyable if @surveyable %>
  <div class="wrapper">
    <div class="content-container">
      
      <h1>You've already voted.</h1>
      <p><%= @survey.description %></p>
      <p><%= back_to_surveyable(@survey) %></p>
      <div class="survey-options  <%= 'disabled' if @survey_response_presenter.already_voted? %>">
        <div class="sortable">
          <%= render :partial => 'survey_options/survey_option_vote', :collection => @survey_response_presenter.available_options, :as => :option %>
        </div>
      </div>
      <%= render :partial => '/surveys/vote_form' %>
    </div>
  </div>
<% end %>