<% content_for(:header) do %>
  <%= javascript_include_tag 'lib/surveys' %>
<% end %>
<% content_for(:main_body) do %>
  <%= render :partial => "#{@surveyable.class.name.pluralize.underscore}/survey_header", :object => @surveyable if @surveyable %>
  <div class="wrapper">
    <div class="content-container">
      <h1>Let's Vote</h1>
      <h2><%= @survey.title  %></h2>
      <p><%= @survey.description %></p>
      <p>Drag and drop the options from the left into the ballot vote boxes on the right and click submit. One option per votebox only</p>
      <hr/>
      <div class="survey-options">
        <h4>Available Options</h4>
        <div class="sortable">
          <%= render :partial => 'survey_options/survey_option_vote', :collection => @survey_response_presenter.available_options, :as => :option %>
        </div>
      </div>
      
      <div class="selected-survey-options">
        <% form_for :survey_response_presenter, @survey_response_presenter, :url => polymorphic_url([:create_response, @survey])  do |f| %>
          <h4>Ballot</h4>
          <% if @survey_response_presenter.errors.any? %>
            <h3>Errors saving this vote</h3>
          <% end %>
          
          <% @survey_response_presenter.max_selected_options.times do |i|  %>
            <div class="sortable-wrapper">
              <h5>Vote <%= i+1 %></h5>
              <div class="sortable">
                <%= f.text_field "selected_option_#{i+1}_id".to_sym, :class => 'selected_option_id', :style => 'display:none;' %>
                <%= render :partial => 'survey_options/survey_option_vote', :object => @survey_response_presenter.send("selected_option_#{i+1}"), :as => :option if @survey_response_presenter.send("selected_option_#{i+1}")%>
              </div>
            </div>
          <% end %>
          <%= f.submit 'Submit Vote', :class => "submit", :disabled => @survey_response_presenter.already_voted? %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>