<%= form_for [:admin, @content_item], :html =>{:multipart => true} do |f| %>
  <% if @content_item.errors.any? %>
    <div id="error_explanation">
      <h2>
        It looks like we’re still missing some important information:
      </h2>
      <ul>
        <% @content_item.errors.each do |attr,msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render :partial => "/admin/shared/meta_info", :locals => {:meta_object => f} %>

  <p>
  <%= f.label :title %><br>
  <%= f.text_field :title, :size => 100 %>
  </p>

  <p>
  <%= f.label :published, "Publish On (mm/dd/yyyy)" %><br>
  <%= f.text_field :published, :value => (@content_item.published.blank? ? '' : @content_item.published.strftime('%m/%d/%Y'))%>
  </p>

  <p>
  <%= f.label :content_type %><br>
  <%= f.select :content_type, ContentItem::CONTENT_TYPES %>
  </p>

  <p>
  <%= f.label :person_id, "Author" %><br>
  <%= f.select :person_id, @authors.collect{|author| [author.first_name + " " + author.last_name, author.id]} %>
  </p>

  <p>
  <%= f.label :image, "Attach an Image (Looks best at 3:2 ratio)" %><br>
  <%= f.file_field :image %>
  </p>

  <p>
  <%= f.label :external_link %> <em>(Required for News Items)</em><br>
  <%= f.text_field :external_link, :size => 100 %>
  </p>

  <p>
  <%= f.label :summary %><br>
  <%= f.text_area :summary, :class => 'tinymce' %>
  </p>

  <p>
  <%= f.label :body %><br>
  <%= f.text_area :body, :class => 'tinymce' %>
  </p>

  <p>
  <%= f.label :embed_code %>
  <%= f.text_area :embed_code, cols: 95, rows: 10 %>
  </p>

  <%= f.submit %>
<% end %>

<script type="text/javascript">
  $().ready(function() {
    init_tiny_mce('#content_item_summary, #content_item_body');
    $('#content_item_published').datepicker();
	});
</script>
