<h2>Content Items</h2>

<table class="tablesorter" summary="List of Content Items">
  <thead>
    <tr>
      <th>Content Item Title</th>
      <th>Author</th>
      <th>Type</th>
      <th>Created Date</th>
      <th>Updated Date</th>
      <th colspan="2"></th>
    </tr>
  <thead>
  <tbody>
    <% @content_items.each do |item| %>
    <tr>
      <td><%= link_to item.title, admin_content_item_path(item) %></td>
      <td><%= item.person_id %></td>
      <td><%= item.content_type %></td>
      <td><%= item.created_at.strftime("%m-%d-%Y %I:%M %p") %></td>
      <td><%= item.updated_at.strftime("%m-%d-%Y %I:%M %p") %></td>
      <td><%= link_to "Edit", edit_admin_content_item_path(item) %></td>
      <td><%= link_to "Delete", admin_content_item_path(item), method:  :delete, confirm: "Are you sure?" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
