<article>
  <header>
    <h1><%= link_to(@content_item.title, @content_item.cached_slug) %></h1>
    <div>
      <%= image_tag @content_item.image.url(:panel) %>
    </div>
    <p>Author: <%= @person.name %></p>
    <p>Published: <%= @content_item.published.strftime("%B %d, %Y") %></p>
  </header>
  <p>Content Type: <%= @content_item.content_type %>

  <%= render :partial => "/admin/shared/show_meta_info", :locals => {:meta_object => @content_item } %>

  <% if @content_item.external_link %>
    <p>External Link: <%= link_to(@content_item.external_link, @content_item.external_link) %>
  <% end %>

  <fieldset>
    <legend>Summary:</legend>
    <%= raw (@content_item.summary) %>
  </fieldset>

  <fieldset>
  <legend>Body:</legend>
  <%= raw (@content_item.body) %>
  </fieldset>

  <fieldset>
    <legend>Embed:</legend>
    <%= raw (@content_item.embed_code) %>
  </fieldset>
</article>

<%= link_to 'Edit', edit_admin_content_item_path(@content_item) %>
