<article>
  <header>
    <h1><%= link_to(@content_item.title, @content_item.slug) %></h1>
    <div>
      <%= image_tag @content_item.image.url(:panel) %>
    </div>
    <p>Author: <%= @person.name %></p>
    <p>Published: <%= @content_item.published.strftime("%B %d, %Y") %></p>
    <p>
      Topics:
      <ul>
        <% @content_item.topics.each do |topic| %>
          <li><%= topic.name %></li>
        <% end %>
      </ul>
    </p>
  </header>
  <p>Content Type: <%= @content_item.content_type %>

  <%= render :partial => "/admin/shared/show_meta_info", :locals => {:meta_object => @content_item } %>

  <% if @content_item.external_link %>
    <p>External Link: <%= link_to(@content_item.external_link, @content_item.external_link) %></p>
  <% end %>

  <p>Link Text: <%= @content_item.link_text %></p>

  <fieldset>
    <legend>Summary:</legend>
    <%= raw (@content_item.summary) %>
  </fieldset>

  <fieldset>
  <legend>Body:</legend>
  <%= raw (@content_item.body) %>
  </fieldset>

  <fieldset>
    <legend>Embed:</legend>
    <%= raw (@content_item.embed_code) %>
  </fieldset>
  <% if @content_item.content_type_is_radio_show? %>
    <fieldset>
      <legend>RadioShow Links:</legend>
      <%= link_to 'Manage/Add RadioShow Links', admin_content_item_content_item_links_path(@content_item) %>
      <% @content_item.links.each do |link| %>
        <p>
          Title: <%= link.title %><br/>
          Url: <%= link.url %><br/>
          Description: <%= truncate link.description, :length => 300 %><br/>
        </p>
      <% end %>
    </fieldset>
  <% end %>
  
</article>

<%= link_to 'Edit', edit_admin_content_item_path(@content_item) %>
