<article>
  <header>
    <h1><%= @content_item.title %></h1>
    </header>
    <%= link_to @content_item.url, @content_item.url %>
  <p>Author: <%= @person.first_name + ' ' +  @person.last_name %></p>
  <p>Content Type: <%= @content_item.content_type %>
  <p>Summary: </p>
  <blockquote>
    <%= @content_item.summary %>
  </blockquote>
  <p>Body: </p>
  <blockquote>
    <%= @content_item.body %>
  </blockquote>
</article>

