<% content_for(:main_body) do %>
  <div class="wrapper">
    <div class="content-container">
      <h1>Thanks, go check your email.</h1>
      <p class="subtitle">Please check your email and click on confirmation link.</p>
      <div class="main-content">
        <h3>Didn't get an email?</h3>
        <ol>
          <li><strong>Check your spam folder.</strong> Sometimes these emails get flagged as spam, so check your spam folder to see if it's there.</li>
          <li><strong>Keep waiting.</strong> Sometimes it can take a few minutes for the email to arrive.</li>
          <li><strong>Didn't receive the email?</strong> <a href="#resend_confirmation_email">Let us know</a> and we'll send the email again.</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="feature-mast">
    <div class="wrapper">
      <div class="content-container">
        <div class="main-content">
          <h1>Resend confirmation instructions</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">
        <a name="resend_confirmation_email"></a>
        <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <fieldset class="form-group">
            <div class="form-block">
              <%= f.label :email %>
              <%= f.text_field :email, :placeholder => 'me@johnnyappleseed.com',  :class => 'textbox small' %>
            </div>
          </fieldset>

          <fieldset class="footer">
            <%= f.submit "Resend confirmation instructions", :class => 'submit' %> <%= link_to "cancel", new_session_path(resource_name) %>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
