<div style='margin: 0 auto; padding: 4em;  width: 600px;'>
  <p>Here's a menu to see all the wireframe pages in this controller.<br> Remove it when it's no longer needed!</p>

  <ul>
    <li><%= link_to 'converse', '/opportunities/converse' %></li>
    <li><%= link_to 'take_action', '/opportunities/take_action' %></li>
    <li><%= link_to 'reflect', '/opportunities/reflect' %></li>
    <li><%= link_to 'new_reflection', '/opportunities/new_reflection' %></li>
    <li><%= link_to 'reflection_permalink', '/opportunities/reflection_permalink' %></li>
    <li><%= link_to 'new_petition', '/opportunities/new_petition' %></li>
    <li><%= link_to 'petition_permalink', '/opportunities/petition_permalink' %></li>
    <li><%= link_to 'new_vote', '/opportunities/new_vote' %></li>
    <li><%= link_to 'vote_permalink_step_1', '/opportunities/vote_permalink_step_1' %></li>
    <li><%= link_to 'vote_permalink_step_2', '/opportunities/vote_permalink_step_2' %></li>
  </ul>
</div>
