<div class="entry-container">
  <div class="entry-details full rounded">
    <div class="media">
      <div class="bd">
        <h4><%= link_to blog_post.title, blog_path(blog_post) %></h4>
        <p class="entry-tags"><%= format_publish_date(blog_post) %>, Topic: Transportation</p>
        <p><strong>By: <%= link_to blog_post.author.name, user_path(blog_post.author) %></strong></p>
        <%=link_to image_tag(blog_post.image.url(:panel), :alt => 'The Civic Commons Blog Post', :height => 130, :width => 198, :class => 'float'), blog_path(blog_post)  %>
        <%= raw blog_post.summary %>
        <p><%= link_to "Continue reading...", blog_path(blog_post), :title => blog_post.title %></p>
      </div>
    </div>
  </div>
</div>