<div class="mod"> 
  <h3>Recent Blog Posts <%= "By #{author.first_name}" if defined? author %></h3> 
  <div class='mod-content'> 
    <% blog_posts.each do |post| %>
      <div class='recent-item'> 
        <p><%= link_to post.title, blog_path(post) %></p> 
        <% if defined? author %>
          <span class="posted">Posted on <%= format_publish_date(post) %></span> 
        <% else %>
          <span class="posted">Posted by <%= link_to(post.author.name, user_url(post.author)) %> on <%= format_publish_date(post) %></span> 
        <% end %>
      </div> 
    <% end %>
  </div> 
</div> 
