<% content_for :header do %>
  <%= auto_discovery_link_tag(:rss, @blog_rss_url, { :title => "The Civic Commons: Common Blog" } ) %>
<% end %>

<% content_for :main_body do %>
  <div class="wrapper">
    <% if @current_author %>
      <div class="content-container">
        <div class="media mod">
          <%= link_to profile_image(@current_author,70,'img frame'), user_path(@current_author) %>
          <div class="bd">
            <h1>Blog Posts by <%= @current_author.name %></h1>
            <p><%= @current_author.bio %></p>
            <strong><%= link_to "View #{@current_author.first_name}'s profile", user_path(@current_author)  %></strong>
          </div>
        </div>
      </div>
    <% else %>
      <div class="content-container">
        <h1>The Civic Commons Blog</h1>
        <%= render partial: 'description' %>
      </div>
    <% end %>

    <div class="content-container">
      <div class="main-content">
        <%= render :partial => '/blog/blog_panel', :collection => @blog_posts, :as => :blog_post %>
        <%= will_paginate @blog_posts, :inner_window => 3, :previous_label => "Previous", :next_label => "Next" %>
      </div>

      <div class="aside">
        <%= render :partial => '/search/search', locals: { filter_type: 'blogs' } %>
        
        <div class="mod">
          <h3>Filter posts by author:</h3>
          <ul class="site-filter full">
            <%- @blog_authors.each do |author| -%>
              <li><%= blog_filter_by_author_link(author,@current_author) %> </li>
            <%- end -%>
          </ul>
          <%= link_to 'Remove Filter',blog_index_path, :class => 'remove-filter', :title => 'Remove this filter'%>
        </div>
        

        <div class="mod" id="TwitterProfileModule">
          <%= render :partial => 'shared/twitter_profile_widget' %>
        </div>

        <div class="mod" id="FacebookActivityModule">
          <%= render :partial => 'shared/facebook_activity_widget' %>
        </div>
        
        

<!--
        <div class="mod">
          <h3>Only show blog posts about:</h3>
          <ul class="simple-list block-link-list">
              <li><a href="/issues?topic=1" class=""><span>Education</span> <em>2</em></a></li>
              <li><a href="/issues?topic=2" class=""><span>Environment</span> <em>1</em></a></li>
              <li><a href="/issues?topic=4" class=""><span>Economy</span> <em>9</em></a></li>
              <li><a href="/issues?topic=5" class=""><span>Crime &amp; Safety</span> <em>4</em></a></li>
              <li><a href="/issues?topic=6" class=""><span>Community</span> <em>6</em></a></li>
              <li><a href="/issues?topic=7" class=""><span>Government</span> <em>9</em></a></li>
          </ul>
        </div>
-->

      </div>

    </div>
  </div>
<% end %>
