<% content_for :header do %>
  <%= auto_discovery_link_tag(:rss, @blog_rss_url, { :title => "The Civic Commons: Common Blog" } ) %>
<% end %>

<% content_for :main_body do %>
  <div class="wrapper">
    <% if @current_author %>
      <div class="content-container">
        <div class="media mod">
          <%= link_to profile_image(@current_author,70,'img frame'), user_path(@current_author) %>
          <div class="bd">
            <h1>Blog Posts by <%= @current_author.name %></h1>
            <p><%= @current_author.bio %></p>
            <strong><%= link_to "View #{@current_author.first_name}'s profile", user_path(@current_author)  %></strong>
          </div>
        </div>
      </div>
    <% else %>
      <div class="content-container">
        <h1>The Civic Commons Blog</h1>
        <%= render partial: 'shared/content_item/description', :locals => {content_item:@blogpost_description, content_item_image:'civic_commons_team.jpeg', content_item_alt_text: 'The Civic Commons Blog'}%>
      </div>
    <% end %>

    <div class="content-container">
      <div class="main-content">
        <%= render :partial => '/blog/blog_panel', :collection => @blog_posts, :as => :blog_post %>
        <%= will_paginate @blog_posts, :inner_window => 3, :previous_label => "Previous", :next_label => "Next" %>
      </div>

      <div class="aside">
        <%= render_blogpost_topics_sidebar %>

        <div class="mod">
          <h3>Filter posts by author:</h3>
          <ul class="site-filter full">
            <%- @blog_authors.each do |author| -%>
              <li><%= blog_filter_by_author_link(author,@current_author) %> </li>
            <%- end -%>
          </ul>
          <%= link_to 'Remove Filter',blog_index_path, :class => 'remove-filter', :title => 'Remove this filter'%>
        </div>
      </div>

    </div>
  </div>
<% end %>
