<% content_for :header do %>
  <%= auto_discovery_link_tag(:rss, @blog_rss_url, { :title => "The Civic Commons: Common Blog" } ) %>
<% end %>

<% content_for :main_body do %>
  <div class="wrapper">

    <div class="content-container">
      <h1>The Civic Commons Blog</h1>
      <%= render partial: 'description' %>
    </div>

    <div class="content-container">
      <div class="main-content">

        <%- @blog_posts.each do |blog_post| %>

          <div class="entry-container">
            <div class="entry-details full rounded">
              <div class="media">
                <span class="img"><%= user_profile(blog_post.author) %></span>
                <div class="bd">
                  <h4><%= link_to blog_post.title, blog_path(blog_post) %></h4>
                  <p class="entry-tags"><%= format_publish_date(blog_post) %>, Topic: Transportation</p>
                  <p><strong>By: <%= link_to blog_post.author.name, user_path(blog_post.author) %></strong></p>
                  <%= raw blog_post.summary %>
                  <p><%= link_to "Continue reading...", blog_path(blog_post), :title => blog_post.title %></p>
                </div>
              </div>
            </div>
          </div>

        <%- end %>
        <%= will_paginate @blog_posts, :inner_window => 3, :previous_label => "Previous", :next_label => "Next" %>

      </div>

      <div class="aside">
        <%= render :partial => '/search/search', locals: { filter_type: 'blogs' } %>

        <div class="mod" id="TwitterProfileModule">
          <%= render :partial => 'shared/twitter_profile_widget' %>
        </div>

        <div class="mod" id="FacebookActivityModule">
          <%= render :partial => 'shared/facebook_activity_widget' %>
        </div>

<!--
        <div class="mod">
          <h3>Only show blog posts about:</h3>
          <ul class="simple-list block-link-list">
              <li><a href="/issues?topic=1" class=""><span>Education</span> <em>2</em></a></li>
              <li><a href="/issues?topic=2" class=""><span>Environment</span> <em>1</em></a></li>
              <li><a href="/issues?topic=4" class=""><span>Economy</span> <em>9</em></a></li>
              <li><a href="/issues?topic=5" class=""><span>Crime &amp; Safety</span> <em>4</em></a></li>
              <li><a href="/issues?topic=6" class=""><span>Community</span> <em>6</em></a></li>
              <li><a href="/issues?topic=7" class=""><span>Government</span> <em>9</em></a></li>
          </ul>
        </div>

        <div class="mod">
          <h3>Filter posts by author:</h3>
          <ul class="site-filter full">
              <li><a href="#" class=""><img src="http://placehold.it/16x16" class="mem-img" /><span>Dan Moulthrop</span></a></li>
              <li><a href="#" class=""><img src="http://placehold.it/16x16" class="mem-img" /><span>Josh Walsh</span></a></li>
              <li><a href="#" class=""><img src="http://placehold.it/16x16" class="mem-img" /><span>Robin Byers</span></a></li>
              <li><a href="#" class=""><img src="http://placehold.it/16x16" class="mem-img" /><span>Winston Tsang</span></a></li>
              <li><a href="#" class=""><img src="http://placehold.it/16x16" class="mem-img" /><span>Jonathan Knapp</span></a></li>
              <li><a href="#" class=""><img src="http://placehold.it/16x16" class="mem-img" /><span>Lisa Canter</span></a></li>
          </ul>
          <a href="" class="remove-filter" title="Remove this filter">Remove Filter</a>
        </div>
-->

      </div>

    </div>
  </div>
<% end %>
