<% content_for :header do %>
  <%= auto_discovery_link_tag(:rss, "http://feeds.theciviccommons.com/civiccommonsblog", { :title => "The Civic Commons: Common Blog" } ) %>
<% end %>

<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <div class="media mod">
        <%= image_tag @blog_post.image.url(:panel), :alt => @blog_post.title, :height => 130, :width => 198, :class => 'float' %>
        <div class="bd">
          <h1><%= @blog_post.title %></h1>
          <p class="subtitle mbn">Topic: Transportation</p>
          <p><strong>By: <%= link_to @blog_post.author.name, user_path(@blog_post.author) %> on <%= format_publish_date(@blog_post) %></strong></p>
        </div>
      </div>
    </div>
    <div class="content-container">
      <div class="main-content">
        <div class="mod">
          <%= raw @blog_post.body %>
          <p class="convo-meta"><%= render :partial => 'shared/facebook_like' %></p>
          <p class="convo-meta"><%= render :partial => 'shared/twitter_share', locals: { title: @blog_post.title} %></p>
          <% unless @blog_post.embed_code.blank? %>
            <p><%= raw @blog_post.embed_code %></p>
          <% end %>
          <p>Copyright &copy; <%= @blog_post.published.strftime('%Y') %> <%= @blog_post.author.name %>; available under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike License</a>.</p>
        </div>
        <% if @blog_post.conversations.count > 0 %>
          <h2>Related to the post</h2>
        <% else %>
          <h2>Respond to the post</h2>
        <% end %>
        <div class="convo-create">
          <p>It's your <strong>Civic Commons</strong>, so you get to start a conversation about <em><%= @blog_post.title %></em></p>
          <%= link_to "Start a Conversation from this Blog Post", responsibilities_blog_conversations_path(@blog_post), :class => 'convo-create-btn' %>
        </div>
        
        <%= render :partial => 'conversations/conversation_band', locals: { conversations: @blog_post.conversations } %>
        
      </div>
      <div class="aside">
        <div class="mod">
          <div class="media">
            <span class="img"><%= user_profile(@blog_post.author) %></span>
            <div class="bd">
              <h4><%= link_to @blog_post.author.name, user_path(@blog_post.author) %></h4>
              <p>User bio goes here - Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus.</p>
              <p><a href="#">View Dan's Profile</a></p>
            </div>
          </div>
        </div>
        <% blog_posts = ContentItem.where(content_type: 'BlogPost', person_id: @blog_post.author).order('published DESC').limit(3) %>
        <%= render partial: 'blog/recent_blog_posts_sidebar', locals: { author: @blog_post.author, blog_posts: blog_posts } %>
        <% recent_items = Activity.most_recent_activity_items_for_person(@blog_post.author, 3) %>
        <%= render partial: 'shared/recent_items_sidebar', locals: { recent_items: recent_items, person: @blog_post.author } %>
      </div>
    </div>
  </div>
<% end %>
