%h2 Your Commons Stats

= render :partial => 'week_of_select_field'
%table.widget_stats.tablesorter(summary="List of WidgetStats") 
  %thead  
    %tr
      %th Your Commons URL
      %th Page Views
      %th last viewed
      %th(colspan="1") Actions
  %tbody
    - @widget_stats.each do |widget_stat|
      %tr{"data-widget_stat-id" => widget_stat.id}
        %td= widget_stat.url
        %td= widget_stat.page_views
        %td= widget_stat.created_at.to_s(:long)
        %td= link_to "Expand", url_for_widget_stat(widget_stat,:week_of => @week_of)
%br
