%h2 Showing Your Commons Stat for: 
%h5= @widget_url

= render :partial => 'week_of_select_field'
%table.widget_stats.tablesorter(summary="List of WidgetStats") 
  %thead  
    %tr
      %th Viewed From (Remote URL)
      %th Page Views
      %th last viewed
  %tbody
    - @widget_stats.each do |widget_stat|
      %tr{"data-widget_stat-id" => widget_stat.id}
        %td= link_to widget_stat.remote_url, widget_stat.remote_url
        %td= widget_stat.page_views
        %td= widget_stat.created_at.to_s(:long)

%p= link_to 'Back', admin_widget_stats_url(:week_of => @week_of)
%br
