#user
  - if person_signed_in?
    = surround "Signed in as ", "." do
      = current_person.email
    = precede "Not you? " do
      = link_to "Sign out", destroy_person_session_path
  - else
    %p.login-link
      %a{:href => new_person_session_path}
        %strong
          Login to your account
    %p.createacct-link
      = link_to "Create an account", new_person_registration_path
