#user
  - if person_signed_in?
    = surround "Logged in as ", "." do
      = current_person.email
    = precede "Not you? " do
      = link_to "Logout", destroy_person_session_url(:protocol => 'http')
  - else
    %p
      %a
        = link_to "Log in to your account", secure_session_url, :class => 'button login-link'
    = link_to "Sign Up", secure_registration_form_url, :class => 'createacct-link'
