#user
  - if person_signed_in?
    = surround "Logged in as ", "." do
      = current_person.email
    = precede "Not you? " do
      = link_to "Logout", destroy_person_session_path
  - else
    %p
      %a
        =facebook_sign_in_link
    or
    = link_to "login without Facebook", new_person_session_path
