#user
  - if person_signed_in?
    = surround "Logged in as ", "." do
      = current_person.email
    = precede "Not you? " do
      = link_to "Logout", destroy_person_session_path
  - else
    %p
      %a
        =link_to "Sign in with Facebook", person_omniauth_authorize_path(:facebook), :class => 'createacct-link facebook-auth fb-login-btn'
    =# link_to "Sign Up", new_person_registration_path, :class => 'createacct-link'
    =# link_to "Sign in with Facebook", person_omniauth_authorize_path(:facebook), :class => 'createacct-link facebook-auth'
    or
    = link_to "login without Facebook", new_person_session_path
