#user
  - if person_signed_in?
    = surround "Logged in as ", "." do
      = current_person.email
    = precede "Not you? " do
      = link_to "Logout", destroy_person_session_path
  - else
    %p
      %a
        =link_to "Log in to your account", new_person_session_path, class: 'button login-link'
    = link_to "Sign Up", new_person_registration_path, :class => 'createacct-link'
