!!!
%html
  %head
    %title Civic Commons
    = javascript_include_tag 'vendor/jquery-1.4.2.min'
    = javascript_include_tag 'vendor/jquery-ui-1.8.2.custom.min'
    = javascript_include_tag 'vendor/jquery-ui-timepicker-addon-0.5.min'
    = javascript_include_tag 'vendor/placeholder-1.0.1.min'
    = javascript_include_tag 'vendor/modernizr-1.5.min'
    = javascript_include_tag 'lib/rails'
    = javascript_include_tag 'lib/master'
    = javascript_include_tag 'lib/chosen_issues'
    = javascript_include_tag 'lib/custom-tabs'
    :plain
      <!--[if gte IE 7]><!-->
      <link media="screen, projection" rel="stylesheet" href="/stylesheets/screen.css" type="text/css" />
      <link media="screen, projection" rel="stylesheet" href="/stylesheets/ui-lightness/jquery-ui-1.8.2.custom.css" type="text/css" />
      <!--<![endif]-->
    :javascript
      $(document).ready(function(){

        $("input.datetime").datetimepicker({
          ampm: true,
          stepMinute: 15
        });

        #{yield :document_ready}

      });
    = yield :header
    = csrf_meta_tag

  %body
    #header-wrapper
      #header
        %a#logo{:href=>'/', :title => "Civic Commons"} Civic Commons
        #login-status
          .offset-2
            %img.callout{:src => "/images/avatar_40.gif", :alt=>"avatar", :width=>"40", :height=>"40"}
            - if current_person
              %h3
                %a 
                  = current_person.email
              %a
                = link_to "Logout", destroy_person_session_path
            - else
              = render :partial => 'layouts/single_column'
    #nav-wrapper
      #nav
        %ul#main-nav.nav
          %li
            = link_to 'Home', root_path, :title => 'Home'
          %li
            = link_to 'Conversations', conversations_path, :title => 'Conversations'
          %li
            = link_to 'Events', events_path, :title => 'Events'
          %li
            = link_to 'Issues', issues_path, :title => 'Issues'
          %li
            = link_to 'People', people_path, :title => 'People'
          %li
            = link_to 'Organizations', people_path, :title => 'Organizations'
        %form#search{ :method=>"post" }
          %input.textbox#search{ :type=>"text", :name=>"search", :placeholder=>"Name, Keyword, Date..." }
          %input.submit{ :type=>"submit", :value=>"Search" }
    #wrapper
      %p.notice
      %p.alert
      = yield :main_body
    #footer.footer
    #legal.footer
      %p The Civic Commons is Copyright 2010 by the Legal Entity.  Content is licensed under License.
