!!!
%html
  %head
    %title The Civic Commons
    = render :partial => 'layouts/facebook_meta_tags'
    = javascript_include_tag 'vendor/jquery/jquery-1.4.4.min'
    = javascript_include_tag 'vendor/jquery/jquery-ui-1.8.16.custom.min'
    = javascript_include_tag 'vendor/jquery/jquery-ui-timepicker-addon-0.5.min'
    = javascript_include_tag 'vendor/placeholder-1.0.1.min'
    = javascript_include_tag 'vendor/modernizr-1.5.min'
    = javascript_include_tag 'vendor/underscore.js'
    = javascript_include_tag 'vendor/backbone-0.5.3.js'
    = javascript_include_tag 'jquery_ujs'
    = javascript_include_tag 'lib/master'
    = javascript_include_tag 'lib/chosen_issues'
    = javascript_include_tag 'vendor/jquery/jquery.colorbox-min'
    = javascript_include_tag 'vendor/jquery/jquery.form'
    = javascript_include_tag 'vendor/jquery/jquery.remotipart'
    = javascript_include_tag 'vendor/jquery/jquery.loadmask.min'
    = javascript_include_tag 'vendor/jquery/jquery.hashchange.min'
    = javascript_include_tag 'vendor/jquery/jquery.easytabs'
    = javascript_include_tag 'lib/authentication'
    = javascript_include_tag 'lib/conversations/rating_button'


    :plain
      <!--[if gte IE 7]><!-->
    = stylesheet_link_tag "reset", :media => "screen, projection"
    = stylesheet_link_tag "master", :media => "screen, projection"
    = stylesheet_link_tag "ie", :media => "screen, projection"
    = stylesheet_link_tag "ui-lightness/jquery-ui-1.8.16.custom", :media => "screen, projection"
    = stylesheet_link_tag "jquery.loadmask", :media => "screen, projection"
    = stylesheet_link_tag "colorbox", :media => "screen, projection"
    :plain
      <!--<![endif]-->
    :javascript
      $(document).ready(function(){

        $("input.datetime").datetimepicker({
          ampm: true,
          stepMinute: 15
        });

        #{yield :document_ready}

      });

      /* Google Analytics */
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19685339-1']);
      _gaq.push(['_setDomainName', '.theciviccommons.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    = yield :header
    = auto_discovery_link_tag(:rss, "http://feeds.theciviccommons.com/civiccommons_new_conversations", { :title => "The Civic Commons: Conversations" } )
    = auto_discovery_link_tag(:rss, "http://feeds.theciviccommons.com/civiccommonsblog", { :title => "The Civic Commons: Common Blog" } )
    = auto_discovery_link_tag(:rss, "http://feeds.theciviccommons.com/civiccommonsradio", { :title => "The Civic Commons Radio Show" } )
    = auto_discovery_link_tag(:rss, "http://feeds.theciviccommons.com/civiccommonsnews", { :title => "The Civic Commons In The News" } )

    = csrf_meta_tag

  %body
    :plain
      <!--[if lte IE 6]>
        <div class="global-warning">You are using a browser which isn't supported.  Try using <a href="http://www.firefox.com">Firefox</a>, <a href="http://www.apple.com/safari">Safari</a> or <a href="http://www.google.com/chrome">Chrome</a>.</div>
      <![endif]-->
    #header-wrapper
      #header
        = link_to 'The Civic Commons', root_url, :id => 'logo', :title => 'The Civic Commons'
        %ul#main-nav
          %li.conversations
            <a href="/conversations" title="Explore Conversations"><span>Explore </span> Conversations</a>
          %li.issues
            <a href="/issues" title="Find an Issue"><span>Find an </span> Issue</a>
          %li.community
            <a href="/community" title="Meet the Community"><span>Meet the </span>Community</a>
          %li.commons
            <a href="/build_the_commons" title="Build the Commons"><span>Build the </span>Commons</a>
        #header-utility
          - if current_person
            #login-status
              = render :partial => 'layouts/logged_in'
          - else
            #login-status.signed-out
              .offset-2
                = render :partial => 'layouts/single_column'
          .important
        -# #search
        -#   = form_tag(search_path, :method => "get") do 
        -#     = text_field_tag(:q, '', :class => 'textbox', :placeholder => 'Search the Civic Commons')
        -#     = submit_tag("Search", :class => 'submit', :id => 'Search', :name => nil)
    = yield :main_body
    #footer.footer
      #footer-inner
        .four-col
          .cols
            %h3 About the Commons
            %ul.sub-nav
              %li 
                = link_to 'About Us', about_url
              %li
                = link_to 'Team', team_url
              %li
                = link_to 'Mission & Principles', principles_url
              %li 
                = link_to 'FAQ', faq_url
              %li 
                = link_to 'Careers', jobs_url
          .cols
            %h3 Keep Up with the Commons
            %ul.sub-nav
              %li
                = link_to 'Blog', blog_index_url
              %li
                = link_to 'In The News', press_url
              %li
                = link_to 'Radio Show', radioshow_index_url
              %li
                = link_to 'RSS Feeds', feeds_url
              %li
                = link_to 'Server Status', 'http://status.theciviccommons.com/'
          .cols
            %h3 Work with the Commons
            %ul.sub-nav
              %li
                = link_to 'Help and Support', 'http://getsatisfaction.com/theciviccommons'
              %li
                = link_to 'Contact Us', contact_us_url
              %li
                = link_to 'Partners', partners_url
              %li
                = link_to 'Terms of Use', terms_url
              %li
                = link_to 'Privacy Policy', privacy_url

          .cols
            %h3 The Civic Commons Elsewhere
            %ul.social-media
              %li
                %a{ :href => 'http://www.facebook.com/pages/Civic-Commons/143930632284131', :id => 'facebook'} Facebook
              %li
                %a{ :href => 'http://twitter.com/civiccommons', :id => 'twitter'} Twitter
              %li
                %a{ :href => 'http://www.youtube.com/user/neociviccommons', :id => 'youtube'} YouTube
              %li
                %a{ :href => feeds_url, :id => 'rss'} RSS
              
        = render :partial => 'layouts/creative_commons'

= render :partial => '/shared/suggest_facebook_auth.js' if signed_in? && !current_person.declined_fb_auth? && !current_person.facebook_authenticated?
= render :partial => '/shared/show_colorbox.js', :locals => {:path => successful_fb_registration_path} if flash[:successful_fb_registration_modal]
    
= render :partial => 'layouts/get_satisfaction'
