!!!
%html
  %head
    %title Civic Commons
    = javascript_include_tag 'vendor/jquery-1.4.2.min'
    = javascript_include_tag 'vendor/jquery-ui-1.8.2.custom.min'
    = javascript_include_tag 'vendor/jquery-ui-timepicker-addon-0.5.min'
    = javascript_include_tag 'jquery.xdomainajax.js'
    = javascript_include_tag 'vendor/placeholder-1.0.1.min'
    = javascript_include_tag 'vendor/modernizr-1.5.min'
    = javascript_include_tag 'lib/rails'
    = javascript_include_tag 'lib/master'
    = javascript_include_tag 'lib/chosen_issues'
    = javascript_include_tag 'lib/youtube'
    = javascript_include_tag 'vendor/jquery.colorbox-min'
    = javascript_include_tag 'vendor/jquery.form'
    = javascript_include_tag 'vendor/jquery.remotipart'
    = javascript_include_tag 'vendor/jquery.loadmask.min'
    = javascript_include_tag 'vendor/jquery.hashchange.min'
    = javascript_include_tag 'vendor/jquery.easytabs'
    :plain
      <!--[if gte IE 7]><!-->
      <link media="screen, projection" rel="stylesheet" href="/stylesheets/screen.css" type="text/css" />
      <link media="screen, projection" rel="stylesheet" href="/stylesheets/ui-lightness/jquery-ui-1.8.2.custom.css" type="text/css" />
      <link media="screen, projection" rel="stylesheet" href="/stylesheets/jquery.loadmask.css" type="text/css" />
      <link media="screen, projection" rel="stylesheet" href="/stylesheets/colorbox.css" type="text/css" />
      <!--<![endif]-->
    :javascript
      $(document).ready(function(){

        $("input.datetime").datetimepicker({
          ampm: true,
          stepMinute: 15
        });

        #{yield :document_ready}

      });
    = yield :header
    = csrf_meta_tag

  %body
    #header-wrapper
      #header
        %a#logo{:href=>'/', :title => "Civic Commons"} Civic Commons
        #header-utility
          - if current_person
            #login-status
              .offset-2
                = user_profile(current_person).html_safe
                %h4
                  %a 
                    = text_profile(current_person).html_safe
                = link_to "Logout", destroy_person_session_path
          - else
            #login-status.signed-out
              .offset-2
                = render :partial => 'layouts/single_column'
          .important
            %p
              %a{:href => "#{Civiccommons::PeopleAggregator.URL}/post_content.php?blog_type=Suggestion#{pa_authtoken('&')}"} Help build the Commons
    #nav-wrapper
      #nav
        %ul#main-nav
          %li
            = link_to 'Home', root_path, :title => 'Home'
          %li
            = link_to 'Conversations', conversations_path, :title => 'Conversations'
          %li
            = link_to 'Issues', issues_path, :title => 'Issues'
          %li
            %a{:href =>"#{pa_link(:people)}", :title => "Community"} Community
          %li.drop
            = "About Us"
            %ul
              %li
                %a{:href =>'http://theciviccommons.com/', :title => "About Us"} About Us
              %li 
                %a{:href =>"#{pa_link(:home)}", :title => "Blog"} Blog
              %li 
                = link_to 'Help', '/help'
              %li 
                = link_to 'FAQ', '/faq'
              %li
                = link_to 'Mission & Principles', '/principles'
              %li
                = link_to 'Team', '/team'
              %li
                = link_to 'Partners', '/partners'
              %li
                = link_to 'In The News', '/press'
        %div#search
          %form{ :method=>"post" }
            %input.textbox#search{ :type=>"text", :id=>"search", :name=>"search", :placeholder=>"Name, Keyword, Date..." }
          %input.submit{ :type=>"submit", :value=>"Search" }
    = yield :main_body
    #footer.footer
      #footer-inner
        %ul.sub-nav
          %li 
            %a{:href =>"#{pa_link(:home)}", :title => "Blog"} Blog
          %li 
            = link_to 'Help', '/help'
          %li 
            = link_to 'FAQ', '/faq'
          %li
            = link_to 'Mission & Principles', '/principles'
          %li
            = link_to 'Team', '/team'
          %li
            = link_to 'Partners', '/partners'
          %li
            = link_to 'In The News', '/press'
        %p The Civic Commons is Copyright 2010 by the Legal Entity.  Content is licensed under License.
        %ul.social-media
          %li
            %a{ :href => 'http://www.facebook.com/pages/Civic-Commons/143930632284131', :id => 'facebook'} Facebook
          %li
            %a{ :href => 'http://twitter.com/civiccommons', :id => 'twitter'} Twitter
          %li
            %a{ :href => 'http://www.youtube.com/user/neociviccommons', :id => 'youtube'} YouTube
          %li
            %a{ :href => '#', :id => 'rss'} RSS
