!!!
%html
  %head
    %title
      = page_title
    = render :partial => 'layouts/meta_tags'
    = javascript_include_tag 'application.js'
    = javascript_tag '$.fx.off = true;' if Rails.env.test?

    :plain
      <!--[if gte IE 7]><!-->
    = stylesheet_link_tag 'application', :media => "screen, projection"
    :plain
      <!--<![endif]-->
    :javascript
      $(document).ready(function(){

        $("input.datetime").datetimepicker({
          ampm: true,
          stepMinute: 15
        });

        #{yield :document_ready}

      });

      /* Google Analytics */
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19685339-1']);
      _gaq.push(['_setDomainName', '.theciviccommons.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    = yield :header
    = auto_discovery_link_tag(:rss, "http://feeds.theciviccommons.com/civiccommons_new_conversations", { :title => "The Civic Commons: Conversations" } )
    = auto_discovery_link_tag(:rss, "http://feeds.theciviccommons.com/civiccommonsblog", { :title => "The Civic Commons: Common Blog" } )
    = auto_discovery_link_tag(:rss, "http://feeds.theciviccommons.com/civiccommonsradio", { :title => "The Civic Commons Radio Show" } )
    = auto_discovery_link_tag(:rss, "http://feeds.theciviccommons.com/civiccommonsnews", { :title => "The Civic Commons In The News" } )

    = csrf_meta_tag

  %body
    :plain
      <!--[if lte IE 6]>
        <div class="global-warning">You are using a browser which isn't supported.  Try using <a href="http://www.firefox.com">Firefox</a>, <a href="http://www.apple.com/safari">Safari</a> or <a href="http://www.google.com/chrome">Chrome</a>.</div>
      <![endif]-->
    #header-wrapper
      #header
        = link_to 'The Civic Commons', root_url, :id => 'logo', :title => 'The Civic Commons'
        #header-utility
          - if current_person
            = render :partial => 'notifications/notification'
            #login-status
              = render :partial => 'layouts/logged_in'
          - else
            #login-status.signed-out
              .offset-2
                = render :partial => 'layouts/single_column'
          .important
    #nav
      %ul.main-nav
        %li
          <a href="/" title="Home">Home</a>
        %li
          <a href="/conversations" title="Conversations">Conversations</a>
        %li
          <a href="/issues" title="Issues">Issues</a>
        %li
          <a href="/projects" title="Projectes">Projects</a>
        %li
          <a href="/community" title="Community">Community</a>
        %li
          <a href="/products_services" title="Services">Services</a>
      .nav-search
        = render :partial => 'search/search', locals: { filter_type: params[:filter] }
    - if user_region
      - if show_regions_filter_tab?
        = render :partial => 'regions/region_slideout'
    = yield :main_body
    #footer.footer
      #footer-inner
        .four-col
          .cols
            %h3 About the Commons
            %ul.sub-nav
              %li
                = link_to 'About Us', about_url
              %li
                = link_to 'Team', team_url
              %li
                = link_to 'Mission & Principles', principles_url
              %li
                = link_to 'FAQ', faq_url
              %li
                = link_to 'Careers', jobs_url
          .cols
            %h3 Keep Up with the Commons
            %ul.sub-nav
              %li
                = link_to 'Blog', blog_index_url
              %li
                = link_to 'In The News', press_url
              %li
                = link_to 'Radio Show', radioshow_index_url
              %li
                = link_to 'RSS Feeds', feeds_url
              %li
                = link_to 'Server Status', 'http://status.theciviccommons.com/'
          .cols
            %h3 Work with the Commons
            %ul.sub-nav
              %li
                = link_to 'Help and Support', 'http://getsatisfaction.com/theciviccommons'
              %li
                = link_to 'Contact Us', contact_us_url
              %li
                = link_to 'Partners', partners_url
              %li
                = link_to 'Terms of Use', terms_url
              %li
                = link_to 'Privacy Policy', privacy_url

          .cols
            %h3 The Civic Commons Elsewhere
            %ul.social-media
              %li
                %a{ :href => 'http://www.facebook.com/pages/Civic-Commons/143930632284131', :class => 'social-media-ico facebook_ico'} Facebook
              %li
                %a{ :href => 'http://twitter.com/civiccommons', :class => 'social-media-ico twitter_ico'} Twitter
              %li
                %a{ :href => 'http://www.youtube.com/user/neociviccommons', :class => 'social-media-ico youtube_ico'} YouTube
              %li
                %a{ :href => feeds_url, :class => 'social-media-ico rss_ico'} RSS

        = render :partial => 'layouts/creative_commons'

= render :partial => '/shared/suggest_facebook_auth.js' if signed_in? && !current_person.declined_fb_auth? && !current_person.facebook_authenticated? && current_person.allow_facebook_connect?
= render :partial => 'layouts/get_satisfaction'

#fb-root

- if flash[:notice]
  .flash-notice{:style => 'display:none;'}
    = flash[:notice]
    = image_tag 'flash-close.png'
