!!!
%html
  %head
    %title The Civic Commons
    = javascript_include_tag 'vendor/jquery/jquery-1.4.4.min'
    = javascript_include_tag 'vendor/modernizr-1.5.min'
    = javascript_include_tag 'lib/rails'
    = javascript_include_tag 'lib/master'
    = javascript_include_tag 'lib/chosen_issues'
    :plain
      <!--[if gte IE 7]><!-->
    = stylesheet_link_tag('poster', :media => 'screen, projection')
    :plain
      <!--<![endif]-->
    :javascript
      /* Google Analytics */
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19685339-1']);
      _gaq.push(['_setDomainName', '.theciviccommons.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    = yield :header
    = csrf_meta_tag

  %body
    #container
      = yield
